@using Model
<link rel="stylesheet" href="~/Content/css/Store/SemStore.css">
<script>

    var tableName = "#userTable";//待修改
    var formName = "#searchForm";//待修改

    //搜索
    var searchFun = function () {
        $(formName).form("submit", {//ajax form提交
            url: "/Store/SemInPrint/Get",
            success: function (data) {
                $(tableName).datagrid("loadData", eval('(' + data + ')'));//重新加载数据
            }
        });
    }

    // 转到预览页面
    var previewInfos = function () {
        var selectVal = 0;
        // 被选中的行数的Index
        selectVal = $('input:radio[name="semInSelect"]:checked').val();
        // 获取所有Input元素
        var elements = document.getElementsByTagName("input");

        var checkPdtID = "";
        var checkDeliveryOrderID = "";
        // 获取选中的行的checkboxName
        checkDeliveryOrderID = $(tableName).datagrid("getRows")[selectVal]["DeliveryOrderID"];
        // 是否有数据选中
        if (selectVal != null) {
            // 有数据选中
            for (var i = 0 ; i < elements.length; i++) {
                var e = elements[i];
                // 判断选中的是Checkbox，且状态为选中的，且选中的CheckBox的Name为选中行的name
                if (e.type == "checkbox" && e.checked && e.name==checkDeliveryOrderID){
                    checkPdtID += e.id + ",";
                }
            }
            checkPdtID = checkPdtID.substring(0, checkPdtID.length - 1);
            if (checkPdtID != "" && checkDeliveryOrderID != "") {
                parent.addTab("加工产品入库单", "/Store/SemInPrint/SemInPrintIndex?pdtID=" + checkPdtID + "&deliveryOrderID=" + checkDeliveryOrderID + "");
            } else {
                // 无数据选中
                $.messager.alert("友情提示", "请选择打印详细数据! ");
            }
        } else {
            // 无数据选中
            $.messager.alert("友情提示", "请选择打印数据! ");
        }

    }

    //文本框点击事件
    function SearchBox(value, name) {
        alert(value + ":" + name)
    }

    //单选功能
    function radioFun(DeliveryOrderID, checkedRadio) {
        var eles = document.getElementsByTagName('input');
        for (var i = 0; i < eles.length; i++) {
            if (eles[i].type == 'checkbox') {
                eles[i].checked = false;
            }
        }
        var checkBox = $("." + DeliveryOrderID + "");
        for (var j = 0; j < checkBox.length; j++) {
            var c = checkBox[j];
            c.checked = true;
        }
    }

    //合并单元格
    var merged = false;
    var MymergeCells = function () {
        setTimeout(function () {
            if (!merged) {
                mergeCells({ fields: ["PlanID", "DeliveryOrderID", "BthID", "McIsetInListID", "print"], target: tableName });
                merged = true;
            } else {
                merged = false;
            }
        }, 10);
    }

    //关闭窗体
    function CloseFun() {
        parent.closeTab(gTitle)
    }

    var columns = [//["field","title",width,rowspan,colspan,sortable,editor,formatter(v,r,index){}]
          [//第一行
              ["IsetRepID", "检验报告单号", 120, 2, null],
              ["GiCls", "让步区分", null, 2, null, null, null, function (value, row, index) {
                  var htmlStr = "";
                  if (row.GiCls == "999") {
                      htmlStr = "正常";
                  } else {
                      htmlStr = "内径过小";
                  }
                  return htmlStr;
              }],
              ["PdtName", "物资名称", null, 2, null],
              ["PdtSpec", "规格型号", null, 2, null],
              ["TecnProcess", "加工工艺", null, 2, null],
              [null/*此处不要写字段名，null或空字符即可，否则会出错*/, "交仓数量", null, null, 6],
              ["Unit", "单位", 40, 2, null],
              ["PrchsUp", "加工单价", null, 2, null],
              ["NotaxAmt", "金额", null, 2, null],
              ["Rmrs", "备注", null, 120, null]
          ], [//第二行
              ["Qty", "合格", null, null, null, true, true], ["ProScrapQty", "报废"], ["ProMaterscrapQty", "料废"],
              ["ProOverQty", "余料"], ["ProLackQty", "缺料"], ["ProTotalQty", "合计"]
          ]
    ]

    var merged = false;
    $(function () {
        Common.Functions.createDataGrid({//创建datagrid,详细内容参见functions.js
            target: tableName,
            url: "/Store/SemInPrint/Get",
            columns: columns,
            nowrap: false,
            frozenColumns: [[{
                field: 'print', title: '打印选择', width: 70, rowspan: 2, align: 'center', formatter: function (value, row, index) {
                    var htmlStr = "";
                    htmlStr = ("<input class='checks' id='" + row.DeliveryOrderID + "' type='radio' style='font-size:12px'  value='" + index + "' name='semInSelect' onclick=\"" + "radioFun('" + row.DeliveryOrderID + "',this)\">");
                    return htmlStr;
                }
            }, {
                field: 'Detail', title: '详细', width: 50, rowspan: 2, align: 'center', formatter: function (value, row, index) {
                    var htmlStr = value;
                    if (row.PrintFlg == "0") {
                        htmlStr = ("<input class='" + row.DeliveryOrderID + "' name='" + row.DeliveryOrderID + "' id='" + row.PdtID + "' type='checkbox' checked='checked' style='font-size:12px'  value='" + index + "'\">");
                    }
                    else if (row.PrintFlg == "1") {
                        htmlStr = ("<input class='" + row.DeliveryOrderID + "' name='" + row.DeliveryOrderID + "' id='" + row.PdtID + "' type='checkbox' style='font-size:12px'  value='" + index + "' \">");
                    }
                    return htmlStr
                }
            },
                            {
                                field: 'PrintFlg', title: '打印状态', align: 'center', width: 70, rowspan: 2, formatter: function (value, row, index) {
                                    var PrintFlg = value;

                                    if (PrintFlg == "0") {
                                        PrintFlg = "未打印"
                                    }
                                    else if (PrintFlg == "1") {
                                        PrintFlg = "已打印"
                                    }
                                    return PrintFlg;

                                }
                            },
                            { field: 'PlanID', title: '计划单号', width: 130, rowspan: 2, align: 'center' },
                            { field: 'DeliveryOrderID', title: '送货单号', width: 130, rowspan: 2, align: 'center' },
                            { field: 'BthID', title: '批次号', width: 130, rowspan: 2, align: 'center' },
                            { field: 'McIsetInListID', title: '入库单号', width: 130, rowspan: 2, align: 'center' }
            ]],
            idField: "PdtID",
            //toolbar: $("#toolbar"),//工具栏 
            //checkbox: true,//是否显示checkbox
            maxWidth: 950,
            maxHeight: 300,
            onBeforeLoad: function (queryParams) {//可以添加一些额外参数,主要用于查询条件
                var arr = $(formName).serializeArray();
                $.each(arr, function () {
                    queryParams[this.name] = this.value;
                });
            },
            onLoadError: function () {
                $.messager.alert("友情提示", "请求服务器失败，请刷新页面重试! ");
            },
            onCreating: function (data) {
                MymergeCells();
                //do something...
            },
            onDblClickRow: function (rowIndex, row) {
                return false;
            }
        });

    });

</script>

<style>
    .Search_Table
    {
        margin: auto;
        text-align: left;
    }
</style>
<!-- Control Button -->
<div class="buttons" style="width: 100%; text-align: right;">
    <br />
    @UserHelpers.ButtonForPreview("previewInfos()")
    @if (Model == 1)
    { //拥有新建权限
        @UserHelpers.ButtonForClose("CloseFun()")             
    }

    <span style="width: 100px; margin-right: 10%">&nbsp;</span>
</div>
<!-- 分割线  -->
@UserHelpers.Line()
<!-- Title -->
<div style="width: 100%; text-align: center;">
    <h2>入库单打印选择</h2>
</div>

<div style="width: 100%; text-align: center; margin-bottom: 12px;">
    <div style="width: 95%; margin: auto; text-align: left;">
        <form class="Search_Form" id='searchForm' method='post'>
            <table class='Search_Table'>
                <tr>
                    <td>送货单号: </td>
                    <td>@UserHelpers.Input("DeliveryOrderID")
                    </td>
                    <td style="padding-left: 10px">批次号：</td>
                    <td>@UserHelpers.Input("BthID")
                    </td>
                    <td style="padding-left: 10px">检验报告单号：</td>
                    <td>@UserHelpers.Input("IsetRepID")
                    </td>
                    <td style="padding-left: 10px">物资名称：</td>
                    <td>@UserHelpers.Input("PdtName")
                    </td>

                </tr>
                <tr>
                    <td>送货日期：</td>
                    <td colspan="3">@UserHelpers.TimeInput("StartInDate")~@UserHelpers.TimeInput("EndInDate")
                    </td>
                    <td style="padding-left: 10px">仓库编码：</td>
                    <td>@UserHelpers.Input("WhID")
                    </td>


                </tr>
                <tr>
                    <td style="">让步区分：</td>
                    <td colspan="3">
                        <select id='GiCls' name='GiCls'>
                            <option value='' selected>全部</option>
                            <option value='999'>正常</option>
                            <option value='0'>让步</option>
                        </select>
                    </td>
                    <td style="padding-left: 10px">印刷标志：</td>
                    <td>
                        @UserHelpers.SelectWidget(Constant.MasterSection.PRINT, "PrintFlg", "PrintFlg")
                    </td>
                    <td colspan="2" style="text-align: right">
                        @UserHelpers.ButtonForSearch("searchFun()")
                    </td>
                </tr>

            </table>
        </form>
    </div>
</div>
<!-- 数据显示 -->
<div class="datagrid" style="text-align: center; width: 100%;">
    <table id="userTable"></table>
</div>

