<link rel="stylesheet" href="~/Content/css/Store/SemStore.css">
<script>

    var tableName = "#userTable";//待修改
    var formName = "#searchForm";//待修改
    //var form4Add = "#form4Add";
    //var form4Update = form4Add;

    //var model = ["add", "update"];
    //var addOrUpdate;//标志:添加还是修改

    //var Id;//暂存修改时的id(主键)

    function SearchBox(value, name) {
        alert(value + ":" + name)
    }

    function printFun() {
        window.print();
        alert("打印功能");
    }

    function saveFun() {
        alert("保存功能");
    }


    function radioFun(value) {
        alert(value + "单选功能");
    }

    //关闭窗体
    function CloseFun() {
        parent.closeTab(gTitle)
    }

    var columns = [//["field","title",width,rowspan,colspan,sortable,editor,formatter(v,r,index){}]
         [//第一行
             ["PdtName", "产品名称", null, 2, null],
             ["TecnProcess", "加工工艺", null, 2, null],
             ["Unit", "单位", 40, 2, null],
             [null/*此处不要写字段名，null或空字符即可，否则会出错*/, "交仓数量", null, null, 6],
             ["Rmrs", "备注", 90, 2, null, null, { type: "text" }, function (value, row, index) {
                var date;
                date = new Date();
                var str = date.Format("yyyy年MM月dd日");
                row.Paydate = str;
                if (row.DeliveryCompanyID != undefined) {
                    document.getElementById("DeliveryCompanyID").innerHTML = row.DeliveryCompanyID;
                    document.getElementById("Paydate").innerHTML = str;
                    document.getElementById("UID").innerHTML = row.UID;
                    document.getElementById("UID1").innerHTML = row.UID1;
                    document.getElementById("WhkpID").innerHTML = row.WhkpID;
                    if (row.PrintFlg == "1") {
                        document.getElementById("PrintState").innerHTML = "(补印)";
                    } else {
                        //document.getElementById("PrintState").innerHTML = "(补印)";
                    }
                }
                return value;
             }]
         ], [//第二行
             ["Qty", "合格", null, null, null, true, true], ["ProScrapQty", "报废"], ["ProMaterscrapQty", "料废"],
             ["ProOverQty", "余料"], ["ProLackQty", "缺料"], ["ProTotalQty", "合计"]
         ]
    ]

    $(function () {
        var preview_pdtID = $("#preview_pdtID").val();
        var preview_deliveryOrderID = $("#preview_deliveryOrderID").val();
        Common.Functions.createDataGrid({//创建datagrid,详细内容参见functions.js
            target: tableName,
            url: "/Store/SemInPrint/SemInPrintPreview?pdtID=" + preview_pdtID + "&deliveryOrderID=" + preview_deliveryOrderID + "",
            columns: columns,
            showFooter: true,
            rownumbers: true,
            nowrap: false,
            idField: "Id",
            //toolbar: $("#toolbar"),//工具栏 
            maxWidth: 950,
            maxHeight: 500,
            pagination: false,
            onBeforeLoad: function (queryParams) {//可以添加一些额外参数,主要用于查询条件
                var arr = $(formName).serializeArray();
                $.each(arr, function () {
                    queryParams[this.name] = this.value;

                });
            },
            onLoadError: function () {
                $.messager.alert("友情提示", "请求服务器失败，请刷新页面重试! ");
            },
            onCreating: function (data) {
                //do something...
            }
        });
    });

</script>

<div class="buttons" style="width:100%;text-align:right;"><br />
     @UserHelpers.ButtonForPrint("printFun()")
     @UserHelpers.ButtonForClose("CloseFun()")
    <span style="width:100px;margin-right:10%">&nbsp;</span>
</div>
<!-- 分割线 -->
@UserHelpers.Line()

<div style="width:100%;text-align:center;">
    <h2>加工产品入库单&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label id='PrintState' style="width:120px" aria-setsize=30></label></h2>
</div>

<div style="width: 100%; text-align: center; margin-bottom: 12px;">
    <div >
        <form id='searchForm' class="Search_Form" method='post'>
            <table class="data_Table" style="margin: auto; text-align: left;">
                <tr>
                    <td>加工单位：<label id='DeliveryCompanyID' style="width: 120px"></label>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td style="text-align: right">开单日期：<label id='Paydate' style="width: 120px"></label>
                    </td>
                </tr>

            </table>
        </form>
    </div>
</div>
<div class="datagrid" style="text-align:center;width:100%; overflow:hidden">
    <table id="userTable"></table>
</div>

<div style="width: 100%;margin-top:25px;text-align:center">
    <div>
        <table style=" margin: auto; text-align: left;">
            <tr>
                <td>质检：<label id='UID' style="width: 160px"></label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
                </td>
                <td>经办人：<label id='UID1' style="width: 160px"></label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
                </td>
                <td>仓管：<label id='WhkpID' style="width: 160px"></label></td>
            </tr>
        </table>
    </div>
</div>
<input id="preview_pdtID" type="hidden" value="@ViewBag.preview_pdtID" />
<input id="preview_deliveryOrderID" type="hidden" value="@ViewBag.preview_deliveryOrderID" />
@*1.不用的js注释掉
2.加工单位、加工单位放到table上面
3.去掉toolbar的使用*@