@{
    ViewBag.Title = "FinOutRecordDetls";
}
@using App_UI.Resource.ViewText.Store
<style>
    #tablesearch
    {
        margin: auto;
        text-align: left;
    }

    /*#tablesearch td
    {
        width:300px;
    }*/
</style>
<!--上面的页面导航-->
<div class="buttons" style="width: 100%; text-align: right;">

        @UserHelpers.ButtonForPrintPreview("printFun(inerFinOutID)", "printPreview")
        @UserHelpers.ButtonForLoading("loginFun()", "login", "disabled")
        @UserHelpers.ButtonForUpdate("editFun()", "edit")
  
    @UserHelpers.ButtonForClose("parent.closeTab(gTitle)")
    <span style="width: 100px; margin-right: 10%">&nbsp;</span>
</div>
<!--分割线-->
@UserHelpers.Line()
<!--界面-->
<div style="width: 100%; text-align: center; margin-bottom: 15px;">
    @UserHelpers.Title(@VT_FinOutRecord.FinOutRecordDetlTitle)
</div>

<div style="width: 100%; text-align: center; margin-bottom: 12px;">
    <div style="width: 100%; margin: auto; text-align: left;">
        <form id="searchForm" method='post'>
            <table id="tablesearch">
                <tr>
                    <td>@VT_FinOutRecord.LadiID：</td>
                    <td>
                        <input id="LadiID" class="_text_input" name="LadiID" value="@ViewBag.ladiID"/></td>
                    <td style="padding-left: 20px">@VT_FinOutRecord.FinInerFinOutID：</td>
                    <td>
                        <label id="InerFinOutID">@ViewBag.inerFinOutID</label></td>
                    <td style="padding-left: 20px">@VT_FinOutRecord.OutWorks：</td>
                    <td>
                        <label id="OutWorks">@ViewBag.whkpID</label></td>
                    <td style="padding-left: 20px">@VT_FinOutRecord.OutDate：</td>
                    <td>
                        <input class="easyui-datebox" name="OutDate" id="OutDate" style="width:100px" value="@ViewBag.outDate"/></td>
                   
                </tr>
                <tr>
                    <td>@VT_FinOutRecord.Remarks：</td>
                    <td colspan="7">
                        <input id="MRemarks" class="_text_input" name="MRemarks" style="width:736px" value="@ViewBag.remarks"/>
                    </td>
                   
                </tr>
            </table>
        </form>
    </div>
</div>

<div class="datagrid">
    <table id="finOutRecordDetlsTable"></table>
</div>

@section head{
    <link rel="stylesheet" href="~/Content/css/Store/EndProOutRecord.css" />

    <script>
        
        var table;  //显示数据的表的标志
        var form;  //搜索标志
        var inerFinOutID = "@ViewBag.inerFinOutID";  //保存送货单号
    /***********operations start***************/
    //登录保存方法
    var loginFun = function () {
        
    }

    //编辑操作
    var editFun = function () {
        var outWorks = $("#OutWorks").html();
        var outDate = $("#OutDate").datebox('getValue');
        var inerFinOutID = $("#InerFinOutID").html();
        var ladiID = $("#LadiID").val();
        var remarks = $("#MRemarks").val();
        var date;
        var strDt = (outDate + "").replace(/\/Date\(/, "").replace(/\)\//, "");
        if (isNaN(strDt)) {
            date = strDt.ToDate();
        } else {
            date = new Date(strDt.ToInt());
        }
        var str = date.Format("yyyy-MM-dd");
        parent.addTab("内部成品库出库履历详细编辑", "/Store/FinOutRecord/FinOutRecordDetlsEdit?flg=0&inerFinOutID=" + inerFinOutID + "&ladiID=" + ladiID + "&whkpID=" + outWorks + "&outDate=" + outDate + "&remarks=" + remarks);
        //parent.addTab("内部成品库出库履历详细编辑", "/Store/FinOutRecord/FinOutRecordDetlsEdit?flg=0");

    };

    //打印跳转  跳转到送货单页面
    var printFun = function (id) {

        parent.addTab("打印", "/Store/FinOutRecord/FinOutPrintIndex?inerFinOutID=" + id);
    };

    
    //控件是否可用转换
    var disableChange = function () {
        $(".datebox :text").attr("readonly", "readonly");
        
            $("#LadiID").attr("disabled", true);
            $("#MRemarks").attr("disabled", true);

            var c = $('#OutDate').data('combo').combo.find('span .combo-arrow');//sad 
            $(c).attr("disabled", true);
    }

    //获得列属性
    var getColumns = function () {
        //列属性: field(字段名,非空) , title(列名) , width(默认80) , sortable(默认false) , editor(默认null) , formatter(默认-函数)
            var columns = [
          [//第一行
                 ["ClientOrderID", "订单号", 90, 2, null, true],
                 ["OrdPdtID", "物料编号", null, 2, null, true],
                 ["ProductName", "物料名称", 160, 2, null, true],
                 ["BatchID", "批次号", null, 2, null, true,],
                 ["ProductSpec", "规格型号", null, 2, null, true],
                 ["Quantity", "数量", 40, 2, null, true],
                 [null/*此处不要写字段名，null或空字符即可，否则会出错*/, "包装情况", null, null, 3, null],
                 ["PrchsUp", "单价", 40, 2, null, true, null],
                 ["NotaxAmt", "金额", 40, 2, null, true, null],
                 ["Remarks", "备注", 120, 2, null, true]
          ], [//第二行
                 ["PackPrePieceQuantity", "每件数量", null, null, null, true],
                 ["PackPieceQuantity", "件数", null, null, null, true],
                 ["FracQuantity", "零头", null, null, null, true]
          ]

            ];
       
        return columns;
    };

    /***********operations end***************/

    $(function () {
        table = $("#finOutRecordDetlsTable");
        form = $("#searchForm");
        disableChange();
        Common.Functions.createDataGrid({//创建datagrid,详细内容参见functions.js
            target: "#finOutRecordDetlsTable",//table容器,必须
            url: "/Store/FinOutRecord/ShowOutRecordDetail?inerFinOutID=@ViewBag.inerFinOutID",//获取数据的地址,必须
            columns: getColumns(),//列属性,必须
            maxWidth: 1200,//最大宽度
            maxHeight: 300,//最大高度
            onDblClickRow: function (rowIndex, rowData) {
                return false;
            },
            onClickRow: function (rowIndex, rowData) {
                return false;
            },
            onLoadError: function () {
                alert("请求服务器失败，请刷新页面重试!");
            },
            onCreating: function (data) {//数据成功加载
                //do something...
            }
        });

        //$(document).on("blur", "td[field='OrdPdtID'] input", function (event) {
        //    var i = $("td[field='OrdPdtID'] input").val();

        //    $.ajax({

        //        url: "/Store/FinOutRecord/GetProductInfo?partAbbrevi=" + i,
        //        data: {
        //            partAbbrevi: i
        //        },
        //        type: "post",
        //        success: function (Data) {

        //            $(table).datagrid('getRows')[Index]['ProductName'] = Data.ProductName;
        //            $(table).datagrid('getRows')[Index]['PrchsUp'] = Data.PrchsUp;
        //            $(table).datagrid('getRows')[Index]['NotaxAmt'] = quantity * $(table).datagrid('getRows')[Index]['PrchsUp'];

        //            $(table).datagrid("refreshColumn", "NotaxAmt");

        //            $(table).datagrid("refreshColumn", "ProductName");
        //            $(table).datagrid("refreshColumn", "PrchsUp");
        //        },
        //        error: function () {

        //            $(table).datagrid('getRows')[Index]['ProductName'] = "";
        //            $(table).datagrid('getRows')[Index]['PrchsUp'] = "";
        //            $(table).datagrid('getRows')[Index]['NotaxAmt'] = 0;
        //            $(table).datagrid("refreshColumn", "ProductName");
        //            $(table).datagrid("refreshColumn", "PrchsUp");
        //            $(table).datagrid("refreshColumn", "NotaxAmt");
        //        }

        //    });

        //})

        //$(document).on("blur", "td[field='Quantity'] input", function (event) {
        //    var i = $("td[field='Quantity'] input").val();
        //    quantity = i;
        //    $(table).datagrid('getRows')[Index]['NotaxAmt'] = i * $(table).datagrid('getRows')[Index]['PrchsUp'];

        //    $(table).datagrid("refreshColumn", "NotaxAmt");
        //})


    });
    </script>

}

