@{
    Layout = null;
    }
<script>
    // 查询按钮的事件
    var searchFun = function () {
        $("#PPInfoTable").datagrid("load");
    }

    //获得列属性
    //列属性:field,title,width,sortable,editor,formatter 
    var _columns = [[
        ["Id", "物料ID", 100, true],
        ["Abbrev", "物料编号", 150, true],
        ["Name", "物料名称", 300, false],
        ["Pricee","单价",100,true]
    ]];

    // 供货商信息列表显示
    $(function () {
        Common.Functions.createDataGrid({//创建datagrid,详细内容参见functions.js
            target: "#PPInfoTable",//table容器,必须
            //获取数据的地址,必须
            url: "/Store/FinOutRecord/GetProdAndPartInfo",
            columns: _columns,//列属性,必须    
            checkbox: true,//是否显示checkbox
            singleSelect:true,
            autoRowHeight: true,
            pageSize: 5,
            pageList:[5],
            //可以添加一些额外参数,主要用于查询条件
            onBeforeLoad: function (queryParams) {
                var arr = $("#ppForm").serializeArray();
                $.each(arr, function () {
                    queryParams[this.name] = this.value;
                });
            },
            onLoadError: function () {
                alert("请求服务器失败，请刷新页面重试!");
            },
            onCreating: function (data) {//数据成功加载
                //do something...
            }
        });
    });
 
</script>

<div style="width:100%;text-align:center;margin-bottom:5px;">
    <!--标题-->
    <h3>物料选择画面</h3>
</div>
<div class="div_main">
    <div id="toolbar" class="div_search">
        <form id="ppForm" name="ppForm"  method='post'>
            <table class="table_search">
                <tr>
                    <td>物料编号：</td>
                    <td>@UserHelpers.Input("Abbrev", "Abbrev", @ViewBag.abbrev, "")</td>
                    <td>物料名称：</td>
                    <td>@UserHelpers.Input("Name", "Name", @ViewBag.name, "")</td>
                    <td>@UserHelpers.ButtonForSearch("searchFun()")</td>
                </tr>
            </table>
        </form>
    </div>
    <div class="div_datagrid"  >
        <table id="PPInfoTable"></table>
    </div>
</div>
