@using Model
@model Model.RoleInfo
@{
    Layout = "~/Areas/Admin/Views/Shared/Edit_Layout.cshtml";
}
   
        <div class="editor-label">
            @Html.LabelFor(model => model.RName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RName)
            @Html.ValidationMessageFor(model => model.RName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RDesc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RDesc)
            @Html.ValidationMessageFor(model => model.RDesc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Addate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Addate)
            @Html.ValidationMessageFor(model => model.Addate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Aduser)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Aduser)
            @Html.ValidationMessageFor(model => model.Aduser)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Uddate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Uddate)
            @Html.ValidationMessageFor(model => model.Uddate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Uduser)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Uduser)
            @Html.ValidationMessageFor(model => model.Uduser)
        </div>

        <table>
    <thead>
        <tr>
            <th class="ui-state-default">
                @lang.Area
            </th>
            <th class="ui-state-default">
                @lang.Module
            </th>
            <th class="ui-state-default">
                @lang.Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (MenuInfo menuInfo in ViewBag.SysControllers)
        {
            <tr>
                <td>
                    @lang.AreaDisplayName
                </td>
                <td>
                    @(">".PadLeft(menuInfo.SystemId.Length - 3, '　'))

                    @menuInfo.MName
                </td>
                <td>
                    @foreach (var ChainInfo in menuInfo.ChainInfo.Where(a=>!a.State).OrderBy(a => a.EditInfo.SystemId))
                    {
                        <input id="@ChainInfo.Id" name="ChinInfoId" type="checkbox" value="@ChainInfo.Id"  
                        
                            @if (Model.RoleChainInfo!= null && Model.RoleChainInfo.Any(a => a.CId.Equals(ChainInfo.Id)))
                            {
                                @("checked")
                            }
                        
                            />
                        <label for="@ChainInfo.Id">@ChainInfo.EditInfo.EName</label>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


