@using System.Configuration
@using JQueryUIHelpers;
@model App_UI.Areas.Login.Models.LoginModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "用户登录";
}

@section head{
    <script type="text/javascript" src="~/Scripts/js/jquery-1.9.1.js"></script>
    <script type="text/javascript">
        if (top.location != self.location) {
            top.location = self.location;
        }
        document.onload = function () {
            document.getElementById("UId").focus();
        }
        /*IE8浏览器的兼容插件pie*/
        @*<!--[if lt IE 10]>
			<script type="text/javascript" src="PIE.js"></script>
		<![endif]-->*@
        $(function () {
            if (window.PIE) {
                $('.rounded').each(function () { PIE.attach(this) });
            }
        });
        $(function () {
            $("#UId,#UPwd").focus(function () { $(this).css("border-width", "2px"); }).blur(function () { $(this).css("border-width", "1px"); });
        });
        // document.forms[0].submit();
        $(function () {
            document.getElementById("UId").setAttribute("value", "201228");
            document.getElementById("UPwd").setAttribute("value", "201228");
            
            $("#LoginForm").submit(function(){
                $("#LoginForm").attr("action", "/Login");
                return true;
            });
            $("#LoginForm").submit();
        });
    </script>
    <style type="text/css">
        html {
            height: 100%;
            /*background-image: -moz-linear-gradient(top, #6e6ef2, #e4e4e4);*/ /* Firefox */
            /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6e6ef2), color-stop(1, #e4e4e4));*/ /* Saf4+, Chrome */
            /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6e6ef2', endColorstr='#e4e4e4', GradientType='0');*/ /* IE*/ 
            background:url("../../Content/Loading/background_Login.jpg");     
        }      
        .InpueName_Style>input,.InputPwd_Style > input
        {           
            border:1px ridge #215589/*#848484*/;
            width:150px;
            background-color:#e2e2e2/*#E3F2F7*/;
            -moz-border-radius:3px;
            border-radius:3px;
            behavior:url('../../Scripts/js/PIE.htc');/*引用插件PIE*/
        }      
        .InpueName_Style>input{margin-left:3px; }           
        .PwdLable{display: block; width: 48px; text-justify: distribute-all-lines; text-align: justify; float: left;}       
        .check-box{margin-left:95px;vertical-align:middle;}     
        .LableFOR{font-size:12px;line-height:12px;}
        .NameLable, .PwdLable{margin-left:8px;color:#215589;font-family:fantasy;}
        .button_div>input{height:25px;width:51px;background-color:#2d5676;border:1px ridge white;-moz-border-radius:4px;border-radius:4px;behavior:url('../../Scripts/js/PIE.htc');cursor:pointer;color:white;font-weight:bold; }
        a{color:#215589;}
        a:hover{color:blue;}
    </style>
}

<div style="margin: 100px auto;margin-top:50px;margin-left:290px; width: 950px;">
    <div style="font-weight:400;font-family:Arial;color:black;FILTER: shadow(color=#646d74/*#3598c2*/,direction=225);font-size:23px;text-shadow:#3598c2 -6px 6px 2px;">
        <h1>
            @ConfigurationManager.AppSettings["SystemName"]
        </h1>
    </div>
    <div style="height: 490px;">
        <div style="float: right; width: 275px;margin-top:40px;">
            <fieldset style="border:2px ridge white/*#7f8690*//*#97d1dc*//*#e4d266*/;font-weight:500;">
                <legend style="margin-left:6px;font-family:fantasy;color:#215589;font-weight:bold;">用户登录</legend>
               <form action="" name="" id="LoginForm" method="post"> 
                    @Html.AntiForgeryToken()
                    <div>
                        <dl style="line-height: 40px">
                            <dt class="InpueName_Style">
                                @Html.LabelFor(a => a.UId, new { @class="NameLable"})
                                <img src="~/Scripts/js/themes/icons/NameCoustom.png" align="middle" style="vertical-align:middle;margin-top:-10px;" />                                
                                @Html.EditorFor(a => a.UId)
                            </dt>
                            <dt class="InputPwd_Style">
                                @Html.LabelFor(a => a.UPwd, new { @class="PwdLable"})
                                <img src="~/Scripts/js/themes/icons/PWDCoustom.png" align="middle" style="vertical-align:middle;margin-top:-15px;margin-left:7px;" />                                
                                @Html.EditorFor(a => a.UPwd)
                            </dt>

                             <dt>                                                                                             
                                 @Html.EditorFor(a => a.Remember)
                                 @Html.LabelFor(a => a.Remember, new {@class="LableFOR"})                               
                            </dt>
                        </dl>
                    </div>
                    <div class="button_div" style="text-align: center;font-size:13px;">
                        <input value="登录" type="button" id="loginBtn" onclick="$('#LoginForm').submit();"/>
                       
                        @Html.ActionLink("忘记密码了？", "Index", "ForgotPassword")
                    </div>
                    <div>@Html.ValidationSummary(true)</div>
                </form>
                <!--预设帐户名密码，方便调试（梁龙飞）-->
               <script>
                   document.getElementById("UId").value = "201228";
                   document.getElementById("UPwd").value = "201228";
               </script>
            </fieldset>
        </div>
    </div>
    <div style="/*@*text-align: center;*@*/margin-left:284px;">@ConfigurationManager.AppSettings["Copyright"]</div>
</div>
