@{
    ViewBag.Title = "Index";
}
@using App_UI.Resource.ViewText.Store
<!--上面的页面导航-->
<div class="buttons" style="width: 100%; text-align: right;">
    <!--  退出 -->
    @UserHelpers.ButtonForClose("parent.closeTab(gTitle)")

    <span style="width: 100px; margin-right: 10%">&nbsp;</span>
</div>
<!--分割线-->
@UserHelpers.Line()
<!--界面-->
<div style="width: 100%; text-align: center; margin-bottom: 30px;">
    @UserHelpers.Title(@VT_FinInRecord.FinInStoreTitle)
</div>

<div style="width: 100%; text-align: center; margin-bottom: 15px;">
    <div style="width: 100%; margin: auto; text-align: center;">
        <form id="searchForm" class="Search_Form" method='post'>
            <div>
                <span style="margin-left: 10px;">@VT_FinInRecord.PlanID：@UserHelpers.InputSimple("ProductWarehouseID",20)</span>
                &nbsp;&nbsp;&nbsp;@UserHelpers.ButtonForSearch("searchFun()")
            </div>
        </form>
    </div>
</div>

<div class="datagrid">
    <table id="finInStoreTable"></table>
</div>

@section head{
    <link rel="stylesheet" href="~/Content/css/Store/EndProInStore.css" />

    <script>

        //搜索结果的Table
        var table;
        //搜索条件的form
        var form;

        /***********operations start***************/
        //按搜索条件查询
        var searchFun = function () {
            form.form("submit", {//form提交
                url: "/Store/FinInStore/Get",
                onSubmit: function (param) {//除表单外的数据(分页)
                    var pager = table.datagrid("getPager");
                    var pagerOptions = $(pager).pagination("options");
                    param.rows = pagerOptions.pageSize;
                    param.page = 1;
                },
                success: function (data) {
                    table.datagrid("loadData", eval('(' + data + ')'));//重新加载数据
                }
            });
        };

        //转到入库履历详细页面 + <param name="flg",name="id">跳转到入库履历详细画面所需的页面标识以及交仓单号</param>
        var WarehousingDetlsFun = function (flg, id) {

            parent.addTab("入库履历详细", "/Store/FinInRecord/FinInRecordDetls?flg=2&id=" + id);
        };


        /***********operations end***************/

        //获得列属性
        var getColumns = function () {
            //列属性: field(字段名,非空) , title(列名) , width(默认80) , sortable(默认false) , editor(默认null) , formatter(默认-函数)
            var _columns = [[
                ["ProductWarehouseID", "成品交仓单号", 320, true],
                ["WarehouseDT", "申请交仓日期", 160, true, { type: "autoComplete", options: { model: "user" } }, function (value, row, index) {
                    var date;
                    var strDt = (value + "").replace(/\/Date\(/, "").replace(/\)\//, "");
                    if (isNaN(strDt)) {
                        date = strDt.ToDate();
                    } else {
                        date = new Date(strDt.ToInt());
                    }
                    var str = date.Format("yyyy-MM-dd");
                    row.Addate = str;
                    return str;
                }],
                ["Warehousing", "入库", 130, false, null, function (value, row, index) {
                    var htmlStr = "";
                    htmlStr += ("<a href='#' class='Warehousing'  onclick=\"" + "WarehousingDetlsFun('2','" + row.ProductWarehouseID + "')\"" + ">入库...</a>");
                    return htmlStr;

                }]
                
            ]];
            
            return _columns;
        };

        $(function () {
            table = $("#finInStoreTable");
            form = $("#searchForm");

            Common.Functions.createDataGrid({//创建datagrid,详细内容参见functions.js
                target: "#finInStoreTable",//table容器,必须
                url: "/Store/FinInStore/Get",
                columns: getColumns(),//列属性,必须
                maxWidth: 1200,//最大宽度
                maxHeight: 300,//最大高度
                onLoadError: function () {
                    alert("请求服务器失败，请刷新页面重试!");
                },
                onCreating: function (data) {//数据成功加载
                    //do something...
                }
            });
             
        });

    </script>

}