@using App_UI.Resource.ClientMessage
@using App_UI.Resource.ViewText.Common
@using App_UI.Resource.ViewText.Produce
@{
    ViewBag.Title = "新增总装调度单";
}

@section head{
    <link rel="stylesheet" href="~/Content/css/Produce/NewBill.css" />
    <script>
        @*var editIndex = undefined;

        function endEditing(tabName) {
            if (editIndex == undefined) {
                return true;
            }
            if ($(tabName).datagrid("validateRow", editIndex)) {
                $(tabName).datagrid("endEdit", editIndex);
                editIndex = undefined;
                return true;
            } else {
                return false;
            }
        }

        function onClickRow(index, tabName) {
            if (editIndex != index) {
                if (endEditing()) {
                    $(tabName).datagrid("selectRow", index).datagrid("beginEdit", index);
                    editIndex = index;
                } else {
                    $(tabName).datagrid("selectRow", editIndex);
                }
            }
            return false;
        }*@

        //打印预览
        var printViewFun = function() {
            parent.addTab("@VT_FAScheduleBill.PrintViewTitle", "/Produce/FAScheduleBill/PrintPreview?id=" + "@ViewBag.assemblyTicketId");
        };

        //关闭当前标签
        var closeFun = function() {
            parent.closeTab();
        };


        //保存新增或修改的总装调度单
        var btnSaveFun = function() {
            //var content = $("#tabNewBillFirst").datagrid('getRows');
            if (saveCheck() == true) {
                $.ajax({
                    async: true,
                    url: "/Produce/FAScheduleBill/SaveData",
                    data: {
                        symbol: "@ViewBag.IsAdd",
                        assemblyTicketId: "@ViewBag.assemblyTicketId",
                        assemblyDispatch: [{
                            ProductID: "@ViewBag.productId",
                            CustomerOrderNum: $("#CustomerOrderNum").val(),
                            CustomerOrderDetails: "@ViewBag.customerOrderDetails",
                            CustomerName: $("#CustomerName").val(),
                            SchedulingOrderDate: $('#SchedulingOrderDate').datebox('getValue'),
                            Team: $("input[name=Team]").val(),
                            AssemblyPlanNum: $("#AssemblyPlanNum").val(),
                            ActualAssemblyNum: $("#ActualAssemblyNum").val(),
                            PlanDeliveryDate: $("#PlanDeliveryDate").datebox('getValue'),

                            TypingContent: $("#TypingContent").val(),
                            PackingFirst: $("#PackingFirst").val(),
                            PackingSecond: $("#PackingSecond").val(),
                            WareHouseBoxCer: $("#WareHouseBoxCer").val(),
                            WareHouseOdd: $("#WareHouseOdd").html(),
                            PackingThird: $("#PackingThird").val(),
                            TotalNumberOfSets: $("#TotalNumberOfSets").html(),
                            Remarks: $("#Remarks").val(),

                            WareHouseDate: $("#WareHouseDate").datebox('getValue'),
                            Dispatcher: $("input[name=Dispatcher]").val(),
                            WareHouseKeeperID: $("input[name=WareHouseKeeperID]").val(),
                            Inspector: $("input[name=Inspector]").val(),
                            WareHousePerson: $("input[name=WareHousePerson]").val()
                        }]
                    },
                    dataType: "json",
                    type: "post",
                    success: function(data) {
                        $.messager.alert("@VT_Common.Info", data.message);
                    },
                    error: function() {
                        $.messager.alert("@VT_Common.Info", "@CM_Common.MSG0002");
                    }
                });
            }
        };

        //计算（箱套）

        function calculate() {
            var wbc = $("#WareHouseBoxCer").val().ToInt();
            var apn = $("#AssemblyPlanNum").val().ToInt();
            var result = 0;
            if (wbc > 0) {
                result = parseInt(apn % wbc);
            }
            $("#WareHouseOdd").html(result);
        }


        //改变日期格式

        function changeDate(value) {
            var date;
            var strDt = (value + "").replace(/\/Date\(/, "").replace(/\)\//, "");
            if (isNaN(strDt)) {
                date = strDt.ToDate();
            } else {
                date = new Date(strDt.ToInt());
            }
            var str = date.Format("yyyy-MM-dd");
            return str;
        }


        //对输入的值进行验证

        function saveCheck() {
            //计划数量
            var assemblyPlanNum = $("#AssemblyPlanNum").val();
            var assPlaNum = $("#AssPlaNum").html();
            var emailReg = /^ +| +$/g;
            if (assemblyPlanNum.replace(emailReg, '') == '') {
                $.messager.alert("@VT_Common.Info", "@CM_Common.MSG40301002");
                $("#AssemblyPlanNum").focus();
                return false;
            } else {
                if (assemblyPlanNum.ToInt() > assPlaNum.ToInt()) {
                    $.messager.alert("@VT_Common.Info", "@CM_Produce.MSG40301001");
                    return false;
                }
            }
            //下单日期
            if ($('#SchedulingOrderDate').datebox('getValue') == "") {
                $.messager.alert("@VT_Common.Info", "@CM_Produce.MSG40301003");
                $("#SchedulingOrderDate").focus();
                return false;
            }
            
            //计划数量
            emailReg = /\D/g;
            if (emailReg.test($("#AssemblyPlanNum").val())) {
                $.messager.alert("@VT_Common.Info", "@CM_Common.MSG40301001");
                $("#AssemblyPlanNum").focus();
                return false;
            }
            
            //装箱数
            if (emailReg.test($("#WareHouseBoxCer").val())) {
                $.messager.alert("@VT_Common.Info", "@CM_Common.MSG40301001");
                $("#WareHouseBoxCer").focus();
                return false;
            }
            
            return true;
        }


        //根据总装调度号加载页面所有数据

        function loadData(id) {
            $.ajax({
                async: true,
                url: "/Produce/FAScheduleBill/LoadAllData",
                data: {
                    symbol: "@ViewBag.IsAdd",
                    id: id,
                    customerOrderId: "@ViewBag.customerOrderId",
                    customerOrderDetails: "@ViewBag.customerOrderDetails",
                    prodAbbrev: "@ViewBag.prodAbbrev",
                    assemblyPlanNum: "@ViewBag.assemblyPlanNum",
                    productId: "@ViewBag.productId"
                },
                dataType: "json",
                type: "post",
                success: function(data) {
                    if (data.isSuccess == true) {
                        setTimeout(function() {
                            $("#tabNewBillFirst").datagrid("loadData", data.oddGridData.Data);
                            $("#tabNewBillSecond").datagrid("loadData", data.evenGridData.Data);
                            if (data.oddGridData.Data.total > data.evenGridData.Data.total) {
                                $("#tabNewBillSecond").datagrid("appendRow", { SubItemID: "", PartName: "", BatchNumber: "", ConstQty: "", Remark: "" });
                            }

                            $("#ProductType").val(data.HeadfootData.ProdAbbrev);
                            $("#CustomerOrderNum").val(data.HeadfootData.CustomerOrderNum);
                            $("#CustomerName").val(data.HeadfootData.CustomerName);
                            $('#SchedulingOrderDate').datebox('setValue', changeDate(data.HeadfootData.SchedulingOrderDate));

                            $("input[name=TeamName]").val(data.HeadfootData.TeamName);
                            $("input[name=Team]").val(data.HeadfootData.Team);

                            $("#AssemblyPlanNum").val(data.HeadfootData.AssemblyPlanNum);
                            $("#AssPlaNum").html(data.HeadfootData.AssemblyPlanNum);

                            $("#ActualAssemblyNum").val(data.HeadfootData.ActualAssemblyNum);
                            $("#PlanDeliveryDate").datebox('setValue', changeDate(data.HeadfootData.PlanDeliveryDate));

                            $("#TypingContent").val(data.HeadfootData.TypingContent);
                            $("#PackingFirst").val(data.HeadfootData.PackingFirst);
                            $("#PackingSecond").val(data.HeadfootData.PackingSecond);
                            $("#WareHouseBoxCer").val(data.HeadfootData.WareHouseBoxCer);
                            $("#WareHouseOdd").html(data.HeadfootData.WareHouseOdd);
                            $("#PackingThird").val(data.HeadfootData.PackingThird);
                            $("#TotalNumberOfSets").html(data.HeadfootData.TotalNumberOfSets);
                            $("#Remarks").val(data.HeadfootData.Remarks);

                            if (data.HeadfootData.WareHouseDate == null) {
                                $("#WareHouseDate").datebox('setValue', "");
                            } else {
                                $("#WareHouseDate").datebox('setValue', changeDate(data.HeadfootData.WareHouseDate));
                            }

                            $("input[name=DispatcherName]").val(data.HeadfootData.DispatcherName);
                            $("input[name=Dispatcher]").val(data.HeadfootData.Dispatcher);

                            $("input[name=WareHouseKeeperIDName]").val(data.HeadfootData.WareHouseKeeperIDName);
                            $("input[name=WareHouseKeeperID]").val(data.HeadfootData.WareHouseKeeperID);

                            $("input[name=InspectorName]").val(data.HeadfootData.InspectorName);
                            $("input[name=Inspector]").val(data.HeadfootData.Inspector);

                            $("input[name=WareHousePersonName]").val(data.HeadfootData.WareHousePersonName);
                            $("input[name=WareHousePerson]").val(data.HeadfootData.WareHousePerson);

                            //添加状态下才进行计算
                            if ("@ViewBag.IsAdd" == "True") {
                                calculate();
                            }
                        }, 10);
                    } else {
                        $.messager.alert("@VT_Common.Info", "@CM_Common.MSG0002");
                    }
                },
                error: function() {
                    $.messager.alert("@VT_Common.Info", "@CM_Common.MSG0002");
                }
            });
        }

        //列属性:field(字段,非空) ,title(列名,非空),width(默认80),sortable(默认false),editor(默认null),formatter(默认-函数)
        var columns = [[
            ["SubItemID", "@VT_FAScheduleBill.SubItemID", 92, false, null],
            ["PartName", "@VT_FAScheduleBill.PartName", 253, false, null, function(value, row, index) {
                return "<div style='text-align: left; font-size: 12px'>" + value + "</div>";
            }],
            ["BatchNumber", "@VT_FAScheduleBill.BatchNumber", 100, false, null],
            ["ConstQty", "@VT_FAScheduleBill.ConstQty", 50, false, null],
            ["Remark", "@VT_FAScheduleBill.Remarks", 63, false, "text"]]];

        $(function() {
            Common.Functions.createDataGrid({
                //创建datagrid,详细内容参见functions.js
                target: $("#tabNewBillFirst"),//table容器,必须
                //url:"", //"/Admin/UserInfo/Get",//获取数据的地址,必须
                columns: columns,//列属性,必须
                //idField: "OrderNo",//标识字段
                //toolbar: $("#toolbar"),//工具栏
                checkbox: false,//是否显示checkbox
                maxWidth: 565,//最大宽度
                maxHeight: 0,//最大高度
                pagination: false,
                singleSelect: true,
                showFooter: false,
                onClickRow: function() {
                    //endEditing("#tabNewBillFirst");
                    return false;
                },
                onDblClickRow: function(rowIndex, rowData) {
                    //onClickRow(rowIndex, "#tabNewBillFirst");
                    return true;
                },
                onBeforeLoad: function(queryParams) { //可以添加一些额外参数,主要用于查询条件
                },
                onLoadError: function() {
                    $.messager.alert("@VT_Common.Info", "@CM_Common.MSG0002");
                },
                onCreating: function(data) { //数据成功加载
                    //do something...
                    //return false;
                },
                loadFilter: function(data) {
                    var d = {};
                    d.rows = data.rows ? data.rows : data;
                    //d.footer = [{ CodeName: "合计", NameType: "", BatchNumber: "icon-sum", Number: "", Remark: "", footer: true }]; //统计信息
                    return d;
                }
            });
            Common.Functions.createDataGrid({
                //创建datagrid,详细内容参见functions.js
                target: $("#tabNewBillSecond"),//table容器,必须
                //url:"", //"/Admin/UserInfo/Get",//获取数据的地址,必须
                columns: columns,//列属性,必须
                //idField: "OrderNo",//标识字段
                //toolbar: $("#toolbar"),//工具栏
                checkbox: false,//是否显示checkbox
                maxWidth: 565,//最大宽度
                maxHeight: 0,//最大高度
                pagination: false,
                singleSelect: true,
                showFooter: false,
                onClickRow: function() {
                    //endEditing("#tabNewBillSecond");
                    return false;
                },
                onDblClickRow: function(rowIndex, rowData) {
                    //onClickRow(rowIndex, "#tabNewBillSecond");
                    return true;
                },
                onBeforeLoad: function(queryParams) { //可以添加一些额外参数,主要用于查询条件
                },
                onLoadError: function() {
                    $.messager.alert("@VT_Common.Info", "@CM_Common.MSG0002");
                },
                onCreating: function(data) { //数据成功加载
                    //do something...
                    //return false;
                },
                loadFilter: function(data) {
                    var d = {};
                    d.rows = data.rows ? data.rows : data;
                    //d.footer = [{ CodeName: "合计", NameType: "", BatchNumber: "icon-sum", Number: "", Remark: "", footer: true }]; //统计信息
                    return d;
                }
            });
            setTimeout(function() {
                $("#tabNewBillFirst").datagrid("loadData", [{ SubItemID: "", PartName: "", BatchNumber: "", ConstQty: "", Remark: "" }]);
                $("#tabNewBillFirst").datagrid("appendRow", { SubItemID: "", PartName: "", BatchNumber: "", ConstQty: "", Remark: "" });
                $("#tabNewBillFirst").datagrid("appendRow", { SubItemID: "", PartName: "", BatchNumber: "", ConstQty: "", Remark: "" });
                $("#tabNewBillFirst").datagrid("appendRow", { SubItemID: "", PartName: "", BatchNumber: "", ConstQty: "", Remark: "" });
                $("#tabNewBillFirst").datagrid("appendRow", { SubItemID: "", PartName: "", BatchNumber: "", ConstQty: "", Remark: "" });
                $("#tabNewBillSecond").datagrid("loadData", [{ SubItemID: "", PartName: "", BatchNumber: "", ConstQty: "", Remark: "" }]);
                $("#tabNewBillSecond").datagrid("appendRow", { SubItemID: "", PartName: "", BatchNumber: "", ConstQty: "", Remark: "" });
                $("#tabNewBillSecond").datagrid("appendRow", { SubItemID: "", PartName: "", BatchNumber: "", ConstQty: "", Remark: "" });
                $("#tabNewBillSecond").datagrid("appendRow", { SubItemID: "", PartName: "", BatchNumber: "", ConstQty: "", Remark: "" });
                $("#tabNewBillSecond").datagrid("appendRow", { SubItemID: "", PartName: "", BatchNumber: "", ConstQty: "", Remark: "" });
            }, 10);

            var id = "@ViewBag.assemblyTicketId";
            loadData(id);

            $("#AssemblyPlanNum").blur(function() {
                $("#TotalNumberOfSets").html($("#AssemblyPlanNum").val());
                calculate();
            });
            $("#WareHouseBoxCer").blur(function() {
                calculate();
            });

            //输入限制
            $("#AssemblyPlanNum").keyup(function() {
                var emailReg = /\D/g;
                if (emailReg.test($(this).val())) {
                    $.messager.alert("@VT_Common.Info", "@CM_Common.MSG40301001");
                    $(this).val($(this).val().replace(/\D/g, ''));
                }
            });
            $("#WareHouseBoxCer").keyup(function() {
                var emailReg = /\D/g;
                if (emailReg.test($(this).val())) {
                    $.messager.alert("@VT_Common.Info", "@CM_Common.MSG40301001");
                    $(this).val($(this).val().replace(/\D/g, ''));
                }
            });

            //按钮事件
            $("#btnSave").bind('click', btnSaveFun);
            $("#btnClose").bind('click', closeFun);
            $("#btnPrintView").bind('click', printViewFun);
        });

    </script>
}

<div class="buttons" style="width: 100%; text-align: right;">
    @UserHelpers.ButtonForPrintPreview("", "btnPrintView")
    @UserHelpers.ButtonForSave("", "btnSave")
    @UserHelpers.ButtonForClose("", "btnClose")
    <span style="width: 100px; margin-right: 10%">&nbsp;</span>
</div>

@UserHelpers.Line()

<table style="text-align: center; width: 100%;">
    <tr>
        <td style="width: 200px" rowspan="2"></td>
        <td>
            @UserHelpers.Company_Title(VT_Common.CompanyName)
        </td>
        <td rowspan="2" style="width: 200px">
            <div style="width: 150px; height: 100px; background-color: #8fbc8f; margin-right: 100px; text-align: center;">
                <img />
                <div style="padding-top: 40px;">条形码</div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            @UserHelpers.Title(VT_FAScheduleBill.AssembleDispatch)
        </td>
    </tr>
</table>
<br/>
<form id="viewForm" method="post" class="Search_Form">
    <div class="datagrid" style="text-align: center; width: 100%;">
        <div style="text-align: center; width: 1130px; margin: auto">
            <table id="tabHeader" style="width: 1130px; height: auto;">
                <tr>
                    <td style="width: 90px">@VT_FAScheduleBill.ProdAbbrev:</td>
                    <td style="width: 251px">@UserHelpers.InputSimple("ProductType", new { disable = "true" })</td>
                    <td style="width: 98px">@VT_FAScheduleBill.CustomerOrderNum:</td>
                    <td style="width: 108px">@UserHelpers.InputSimple("CustomerOrderNum", new { disable = "true" })</td>
                    <td style="width: 90px">@VT_FAScheduleBill.CustomerName:</td>
                    <td style="width: 250px">@UserHelpers.InputSimple("CustomerName", new { disable = "true" })</td>
                    <td style="width: 98px">@VT_FAScheduleBill.SchedulingOrderDate：</td>
                    <td>@UserHelpers.TimeInput("SchedulingOrderDate")</td>
                </tr>
                <tr>
                    <td>@VT_FAScheduleBill.Team:</td>
                    <td>@UserHelpers.AutoSearch("team","Team","TeamName")</td>@*@UserHelpers.Input("Team",20,20)*@
                    <td>@VT_FAScheduleBill.AssemblyPlanNumD:</td>
                    <td>@UserHelpers.InputSimple("AssemblyPlanNum", new { maxlength=10,size=10})
                        <span id="AssPlaNum" name="AssPlaNum" style="display: none"></span>
                    </td>
                    <td>@VT_FAScheduleBill.ActualAssemblyNum:</td>
                    <td>@UserHelpers.InputSimple("ActualAssemblyNum", new { disable = "true" })</td>
                    <td>@VT_FAScheduleBill.PlanDeliveryDate：</td>
                    <td>@UserHelpers.TimeInputDisable("PlanDeliveryDate")</td>
                </tr>
            </table>
        </div>
        <div id="tabContent" style="text-align: center; width: 1130px; margin: auto">
            <div id="divFirst" style="float: left;">
                <table id="tabNewBillFirst" style=" height: auto;"></table>
            </div>
            <div id="divSecond" style="float: left; ">
                <table id="tabNewBillSecond" style=" height: auto;"></table>
            </div>
        </div>
        <div style="text-align: center; width: 1130px; margin: auto; clear: both;">
            <table id="tabInput" style="width: 1130px; height: auto;table-layout: fixed ;">
                <tr style="height:0;border-width: 0 0 0 0;border-style:none;" >
                    <td style="width: 88px" ></td>
                    <td style="width: 243px"></td>
                    <td style="width: 543px"></td>
                    <td style="width: 86px"></td>
                    <td style="width: 120px"></td>
                </tr>
                <tr class="view">
                    <td >@VT_FAScheduleBill.TypingContent：</td>
                    <td colspan="4" >
                        @UserHelpers.InputSimple("TypingContent", new { width = "'100%'" ,maxlength=200,size=200})
                    </td>
                </tr>
                <tr class="view">
                    <td >@VT_FAScheduleBill.PackingFirst：</td>
                    <td colspan="2" >
                        @UserHelpers.InputSimple("PackingFirst", new { width = "'100%'" ,maxlength=200,size=200})
                    </td>
                    <td colspan="2" >@VT_FAScheduleBill.WareHouseBox</td>
                </tr>
                <tr class="view">
                    <td >@VT_FAScheduleBill.PackingSecond：</td>
                    <td colspan="2">
                        @UserHelpers.InputSimple("PackingSecond", new { width = "'100%'",maxlength=200,size=200 })
                    </td>
                    <td colspan="2">@VT_FAScheduleBill.WareHouseBoxCer1
                        @UserHelpers.InputSimple("WareHouseBoxCer", new {width = "'50px'",maxlength=10,size=10  })@VT_FAScheduleBill.WareHouseBoxCer2+<span id="WareHouseOdd" name="WareHouseOdd">&nbsp;</span>@VT_FAScheduleBill.WareHouseOdd
                    </td>
                </tr>
                <tr class="view">
                    <td colspan="2" >@VT_FAScheduleBill.PackingThird：</td>
                    <td colspan="1" >
                        @UserHelpers.InputSimple("PackingThird", new { width = "'100%'",maxlength=200,size=200  })
                    </td>
                    <td colspan="2">@VT_FAScheduleBill.TotalNumberOfSets1：<span id="TotalNumberOfSets">&nbsp;</span>@VT_FAScheduleBill.TotalNumberOfSets2</td>
                </tr>
                <tr class="view">
                    <td >@VT_FAScheduleBill.Remarks：</td>
                    <td colspan="2">
                        @UserHelpers.InputSimple("Remarks", new { width = "'100%'" ,maxlength=400,size=400})
                    </td>
                    <td >@VT_FAScheduleBill.WareHouseDate</td>
                    <td>@UserHelpers.TimeInputDisable("WareHouseDate")</td>
                </tr>
            </table>
        </div>
        <table id="tabFoot">
            <tr>
                @*长度20*@
                <td>@VT_FAScheduleBill.Dispatcher：@UserHelpers.AutoSearchUser("Dispatcher","DispatcherName","DispatcherName")</td>
                <td>@VT_FAScheduleBill.WareHouseKeeperID：@UserHelpers.AutoSearchUser("WareHouseKeeperID","WareHouseKeeperIDName","WareHouseKeeperIDName")</td>
                <td>@VT_FAScheduleBill.Inspector：@UserHelpers.AutoSearchUser("Inspector","InspectorName","InspectorName")</td>
                <td>@VT_FAScheduleBill.WareHousePerson:@UserHelpers.AutoSearchUser("WareHousePerson","WareHousePersonName","WareHousePersonName")</td>
            </tr>
        </table>
    </div>
</form>
