@using System.Configuration
@using JQueryUIHelpers;
@model App_UI.Areas.Login.Models.LoginModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "用户登录";
}

@section head{
    <script type="text/javascript">
        document.getElementById("UId").focus();
      
    </script>
    <style type="">
        html {
            height: 100%;
            background-image: -moz-linear-gradient(top, #ffffff, #e4e4e4); /* Firefox */
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #e4e4e4)); /* Saf4+, Chrome */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e4e4e4', GradientType='0'); /* IE*/
        }
    </style>
}

<div style="margin: 100px auto; width: 700px;">
    <div>
        <h1>
            @ConfigurationManager.AppSettings["SystemName"]
        </h1>
    </div>
    <div style="height: 300px;">
        <div style="float: right; width: 260px;">
            <fieldset>
                <legend>用户登陆</legend>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div>
                        <dl style="line-height: 40px">
                            <dt>
                                @Html.LabelFor(a => a.UId)
                               
                                @Html.EditorFor(a => a.UId)
                            </dt>
                            <dt>@Html.LabelFor(a => a.UPwd)
                                &nbsp;&nbsp;
                                @Html.EditorFor(a => a.UPwd)
                            </dt>

                             <dt>
                                @Html.LabelFor(a => a.Remember)
                                &nbsp;&nbsp;
                                @Html.EditorFor(a => a.Remember)
                            </dt>

                        </dl>
                    </div>
                    <div style="text-align: center">
                        @Html.JQueryUI().Button("登陆", ButtonElement.Input, ButtonType.Submit, null)
                        @Html.ActionLink("忘记密码了？", "Index", "ForgotPassword")
                    </div>
                    <div>@Html.ValidationSummary(true)</div>
                }
            </fieldset>
        </div>
    </div>
    <div style="text-align: center">@ConfigurationManager.AppSettings["Copyright"]</div>
</div>
