@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "找回密码";
}

@section head{
    <script type="text/javascript">
        $(function () {
            $("#UserName").focus();
            $("input:submit, button").button();
        });
    </script>
}
<div style="margin: 100px auto; width: 300px;">
    @using (Html.BeginForm())
    { 
        <div>
            @Html.AntiForgeryToken()
            @Html.Label("", "用户名")
            &nbsp;&nbsp;
            @Html.TextBox("UserName")
        </div>
        <br />
        <div>
            @Html.Label("", "邮箱地址")
            @Html.TextBox("email")
        </div>
        <div>
        <br />
            <input type="submit" value="提交" />
        </div>
        
        <div>@Html.ValidationSummary()</div>
    }
</div>
