@using App_UI.Resource.ViewText.Technology
@using Model

<!-- style -->
<style type="text/css">

    #ProdInfoDialogIndexLayout{
        text-align:center;
    }

    #ProdInfoDialogIndexLayout #ProdInfoDialogForm{
        margin:0px;
       /* padding:0px;*/
    }

    #ProdInfoDialogIndexLayout #ProdInfoDialogForm span{
		margin:0px;
		/*padding:0px;*/

        /*border:1px solid blue;*/
    }

    #ProdInfoDialogIndexLayout #ProdInfoDialogForm input{
        margin:0px;
        /*padding:0px;*/
    }

    #ProdInfoDialogIndexLayout #ProdInfoDialogForm #SearchProdInfo{
        margin:0px 0px 0px 1%;
        /*padding:0px;*/
    }

</style>
    
<!-- javascript -->
<script>
    (function ($) {
        /********* 表格函数 *********/
        //获取列属性
        var GetPICFun = function () {
            var _prodInfoColumns =
                [
                    [
                        //列属性:field(字段,非空) ,title(列名,非空),width(默认80),sortable(默认false),editor(默认null),formatter(默认-函数)
                        @*["ProductID", "@VT_ShowProdInfoDialog.ProductID", 100, true],*@
                        ["DepartmentName", "@VT_ShowProdInfoDialog.DepartmentName", 100, true],
                        ["ProductCategoryName", "@VT_ShowProdInfoDialog.ProductCategoryName", 100, true],
                        ["ProductName", "@VT_ShowProdInfoDialog.ProductName", 100, true],
                        ["ProductAbbreviation", "@VT_ShowProdInfoDialog.ProductAbbreviation", 100, true],
                        ["OldModelID", "@VT_ShowProdInfoDialog.OldModelID", 100, true],
                        ["UnitName", "@VT_ShowProdInfoDialog.UnitName", 100, true],
                        ["Specifica", "@VT_ShowProdInfoDialog.Specifica", 250, true]
                    ]
                ]
            return _prodInfoColumns;
        }

        //获取绑定字符串
        var GetBindPISFun = function () {
            var _bindProdInfoString = Common.Functions.createDataGrid({
                maxHeight:270,
                checkbox: true,
                checkOnSelect: true,
                columns: GetPICFun(),
                idField: "ProductID",
                pagination: true,
                selectOnCheck: true,
                singleSelect: "@ViewBag.singleSelect".toLowerCase()=="true",
                sortName: "ProductID",//单页排序的列
                sortOrder: "asc",//升序
                target: "#ProdInfoDialogTable",
                url: "/Technology/ProdInfo/GetProdInfoList",
                //事件
                onBeforeLoad: function (param) {//可以添加一些额外参数,主要用于查询条件
                    var arr = $("#ProdInfoDialogForm").serializeArray();
                    $.each(arr, function () {
                        param[this.name] = this.value;
                    });
                },
                onLoadError: function () {
                    alert("请求服务器失败，请刷新页面重试!");
                }
            })
            return _bindProdInfoString;
        }


        /********* 功能函数 *********/
        //查询
        window.SearchFun = function () {
            $("#ProdInfoDialogForm").form("submit", {//form提交
                url: "/Technology/ProdInfo/GetProdInfoList",
                onSubmit: function (param) {//除表单外的数据(分页)
                    param.rows = $("#ProdInfoDialogTable").datagrid("getPager").pagination("options");
                    param.page = 1;
                },
                success: function (data) {
                    $("#ProdInfoDialogTable").datagrid("loadData", eval("(" + data + ")"));//重新加载数据       
                }
            });
        }


        /********* 页面加载 *********/
        $(function () {
            GetBindPISFun();
            //$("#ProdInfoDialogTable").datagrid("hideColumn", "ProductID"); //隐藏 ProductID 列
            $("#Department").combobox({ //级联下拉框
                onSelect: function (record) {
                    var paraID = "";
                    if (record.AttrCd == "01") {
                        paraID = "00010";
                    }
                    else if (record.AttrCd == "02") {
                        paraID = "00011";
                    }
                    else if (record.AttrCd == "03") {
                        paraID = "00012";
                    }
                    else if (record.AttrCd == "04") {
                        paraID = "00013";
                    }
                    else if (record.AttrCd == "05") {
                        paraID = "00014";
                    }
                    else if (record.AttrCd == "06") {
                        paraID = paraID = "00014";
                    }
                    else {
                        paraID = "";
                    }
                    $("#ProductCategory").combobox("reload", "/Common/MasterInfo/GetForSearch/" + paraID);
                }
            })
        })

    }(jQuery));
</script>

    
<div id="ProdInfoDialogIndexLayout" style="padding:0;">
    <!-- Title -->
    <div class="PageTitle_div"><span>@VT_ShowProdInfoDialog.ProductTitleSpan</span></div>

    <!-- Form -->
    <div style="margin:1% 0px 0px 0px; width:100%;text-align:center;">
        <form class="Search_Form" id="ProdInfoDialogForm" method="post">
            <table style="margin:auto;">
                <tr>
                    <td>@VT_ShowProdInfoDialog.DepartmentName:</td>
                    <td>@UserHelpers.SelectWidget(Constant.MasterSection.DEPT, "DepartmentID", "Department")</td>
                    <td>@VT_ShowProdInfoDialog.ProductCategoryName:</td>
                    <td>@UserHelpers.SelectWidget("", "ProductCategoryID", "ProductCategory")</td>
                    <td>@VT_ShowProdInfoDialog.ProductName:</td>
                    <td>@UserHelpers.InputSimple("ProductName")</td>
                    <td>@VT_ShowProdInfoDialog.ProductAbbreviation:</td>
                    <td>@UserHelpers.InputSimple("ProductAbbreviation")</td>
                    <td style="padding-left:20px;">@UserHelpers.ButtonForSearch("SearchFun()","SearchProdInfo")</td>
                </tr>
            </table>
            @*<div style="margin:0px; padding:0px; text-align:left;">
                <span>@VT_ShowProdInfoDialog.DepartmentName:</span>
                <span>@UserHelpers.SelectWidget(Constant.MasterSection.DEPT, "DepartmentID", "Department")</span>
                <span style="margin:0px 0px 0px 1%;">@VT_ShowProdInfoDialog.ProductCategoryName:@UserHelpers.SelectWidget("", "ProductCategoryID", "ProductCategory")</span>
                <span style="margin:0px 0px 0px 1%;">@VT_ShowProdInfoDialog.ProductName:</span>
                <span>@UserHelpers.InputSimple("ProductName")</span>
                <span style="margin:0px 0px 0px 1%;">@VT_ShowProdInfoDialog.ProductAbbreviation:</span>
                <span>@UserHelpers.InputSimple("ProductAbbreviation")</span>
                <span>@UserHelpers.ButtonForSearch("SearchFun()","SearchProdInfo")</span>
             </div>*@
        </form>
    </div>

    <!-- Table -->
    <div style="margin:0.5% 0px 0px 0px;padding:0px;">
        <div style="margin:0px auto; padding:0px;width:880px;">
            <table id="ProdInfoDialogTable" style="margin:0px;padding:0px; width:880px;height:200px;">
            </table>
        </div>
    </div>

</div>