<link rel="stylesheet" href="~/Content/css/Admin/userInfo.css" />
<script>
    // 查询按钮的事件
    var searchFun = function () {
        $("#CompInfoTable").datagrid("load");
    }

    //获得列属性
    //列属性:field,title,width,sortable,editor,formatter 
    var _columns = [[
        ["CompID", "供货商ID", 150, true],
        ["CompName", "供货商名称", 300, false]
    ]];

    // 供货商信息列表显示
    $(function () {
        Common.Functions.createDataGrid({//创建datagrid,详细内容参见functions.js
            target: "#CompInfoTable",//table容器,必须
            //获取数据的地址,必须
            url: "/Technology/CompanyInfo/GetCompanyInfo4Sel",
            columns: _columns,//列属性,必须    
            checkbox: true,//是否显示checkbox
            singleSelect:true,
            autoRowHeight: true,
            pageSize: 5,
            pageList:[5],
            //可以添加一些额外参数,主要用于查询条件
            onBeforeLoad: function (queryParams) {
                var arr = $("#compForm").serializeArray();
                $.each(arr, function () {
                    queryParams[this.name] = this.value;
                });
            },
            onLoadError: function () {
                alert("请求服务器失败，请刷新页面重试!");
            },
            onCreating: function (data) {//数据成功加载
                //do something...
            }
        });
    });
 
</script>

<div style="width:100%;text-align:center;margin-bottom:5px;">
    <!--标题-->
    <h3>供货商选择画面</h3>
</div>
<div class="div_main">
    <div id="toolbar" class="div_search">
        <form id="compForm" class="compForm"  method='post'>
            <table class="table_search">
                <tr>
                    <td>供货商ID：</td>
                    <td>@UserHelpers.Input("CompID", "CompID", @ViewBag.compID, "")</td>
                    <td>供货商名称：</td>
                    <td>@UserHelpers.Input("CompName", "CompName", @ViewBag.compName, "")</td>
                    <td>
                        @UserHelpers.ButtonForSearch("searchFun()")
                        <input id="CompType" type="hidden" name="CompType" value="@ViewBag.compType"/>
                        <input id="PdtID" type="hidden" name="PdtID" value="@ViewBag.pdtID"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="div_datagrid"  >
        <table id="CompInfoTable"></table>
    </div>
</div>