@model int

<link rel="stylesheet" href="~/Content/css/Store/WipStore.css">
<script>

    var tableName = "#userTable";//待修改
    var formName = "#searchForm";//待修改
    //var form4Add = "#form4Add";
    //var form4Update = form4Add;

    //var model = ["add", "update"];
    //var addOrUpdate;//标志:添加还是修改

    //var Id;//暂存修改时的id(主键)

    //保存功能
    var saveFun = function () {
        $.messager.confirm("友情提示", "确认保存?", function (updateOK) {
            if (updateOK) {
                var row = $(tableName).datagrid('getSelections');
                if (row.length > 0) {
                    //定义一个数组用于存放table中的数据
                    var orderList = [];
                    for (var i = 0 ; i < row.length; i++) {
                        $(tableName).datagrid("endEdit", i);
                        if (row[i].Qty != "") {
                            var order = {};
                            order["RowIndex"] = i;
                            order["PlanID"] = row[i].PlanID;
                            order["DeliveryOrderID"] = row[i].DeliveryOrderID;
                            order["BthID"] = row[i].BthID;
                            order["McIsetInListID"] = row[i].McIsetInListID;
                            order["IsetRepID"] = row[i].IsetRepID;
                            order["GiCls"] = row[i].GiCls;
                            order["PdtID"] = row[i].PdtID;
                            order["PdtName"] = row[i].PdtName;
                            order["PdtSpec"] = row[i].PdtSpec;
                            order["TecnProcess"] = row[i].TecnProcess;
                            order["Unit"] = row[i].Unit;
                            order["PrchsUp"] = row[i].PrchsUp;
                            order["NotaxAmt"] = row[i].NotaxAmt;
                            order["InDate"] = row[i].InDate;
                            order["Rmrs"] = row[i].Rmrs;
                            order["Qty"] = row[i].Qty;
                            order["ProScrapQty"] = row[i].ProScrapQty;
                            order["ProMaterscrapQty"] = row[i].ProMaterscrapQty;
                            order["ProOverQty"] = row[i].ProOverQty;
                            order["ProLackQty"] = row[i].ProLackQty;
                            order["ProTotalQty"] = row[i].ProTotalQty;
                            order["WipInRecordPriceFlg"] = row[i].WipInRecordPriceFlg;
                            order["OsSupProFlg"] = row[i].OsSupProFlg;

                            //将order加进orderList
                            orderList.push(order);
                        } else {
                            $.messager.alert("友情提示", "有单价或数量没有填写！");
                        }
                    }
                    $.ajax({
                        async: true,
                        url: "/Store/SemInRecord/SemInRecordSave",
                        data: { orderList: orderList },
                        type: "post",
                        success: function (data) {
                            var _data = eval('(' + data + ')');
                            if (_data.Result == true) {
                                $.messager.alert("信息", _data.Message);
                            } else {
                                //title：显示在标题面板的标题文本;msg：提示框显示的消息文本;icon：提示框显示的图标,可用的值是：

                                //error, question, info, warning; fn：当窗口关闭时触发的回调函数
                                //$.messager.alert("信息", _data.Message, "info", function () {
                                //    //开启编辑
                                //    openEdit();
                                //});
                                //do something another...
                            }
                        }
                    });
                    console.info(rowData);
                }
            }
        });
        document.getElementById("update").style.display = "";
        document.getElementById("save").style.display = "none";
        document.getElementById("cancel").style.display = "none";
    }


    var details = function (id) {
        var $tabs = $("#tabs");
        var $tab = $("#tabs").tabs("getSelected");
        $tabs.tabs("update", {
            tab: $tab,
            options: {
                href: "/Store/ProProduct/Index?id=" + id,
            }
        });

    };
    //修改某条记录
    var updateFun = function () {
        var row = $(tableName).datagrid('getSelections');
        if (row.length > 0) {
            for (var i = 0 ; i < row.length; i++) {
                var index = $(tableName).datagrid("getRowIndex", row[i]);
                $(tableName).datagrid("beginEdit", index);
            }
            document.getElementById("update").style.display = "none";
            document.getElementById("save").style.display = "";
            document.getElementById("cancel").style.display = "";
        }
        else {
            $.messager.alert("友情提示", "请您选择一条要修改的数据!");
        }
    }

    //取消编辑
    var cancelFun = function () {
        $.messager.confirm("友情提示", "您确认取消修改吗？", function (cancelOK) {
            if (cancelOK) {
                editRow = undefined;
                $(tableName).datagrid("rejectChanges");
                $(tableName).datagrid("unselectAll");
                document.getElementById("update").style.display = "";
                document.getElementById("save").style.display = "none";
                document.getElementById("cancel").style.display = "none";
            }
        });
    }

    //删除根据Enable修改某条记录
    var deleteFun = function () {
        var row = $(tableName).datagrid('getSelections');
        if (row.length > 0) {
            $.messager.confirm("友情提示", "确认删除?", function (updateOK) {
                if (updateOK) {
                    var orderList = [];
                    for (var i = 0; i < row.length; i++) {
                        if (row[i].IsetRepID != "") {
                            var order = {};
                            order["RowIndex"] = i;
                            order["PlanID"] = row[i].PlanID;
                            order["DeliveryOrderID"] = row[i].DeliveryOrderID;
                            order["ProcUnit"] = row[i].ProcUnit;
                            order["BthID"] = row[i].BthID;
                            order["McIsetInListID"] = row[i].McIsetInListID;
                            order["IsetRepID"] = row[i].IsetRepID;
                            order["GiCls"] = row[i].GiCls;
                            order["PdtID"] = row[i].PdtID;
                            order["PdtName"] = row[i].PdtName;
                            order["PdtSpec"] = row[i].PdtSpec;
                            order["TecnProcess"] = row[i].TecnProcess;
                            order["Unit"] = row[i].Unit;
                            order["PrchsUp"] = row[i].PrchsUp;
                            order["NotaxAmt"] = row[i].NotaxAmt;
                            order["InDate"] = row[i].InDate;
                            order["Rmrs"] = row[i].Rmrs;
                            order["Qty"] = row[i].Qty;
                            order["ProScrapQty"] = row[i].ProScrapQty;
                            order["ProMaterscrapQty"] = row[i].ProMaterscrapQty;
                            order["ProOverQty"] = row[i].ProOverQty;
                            order["ProLackQty"] = row[i].ProLackQty;
                            order["ProTotalQty"] = row[i].ProTotalQty;
                            order["WipInRecordPriceFlg"] = row[i].WipInRecordPriceFlg;
                            order["OsSupProFlg"] = row[i].OsSupProFlg;

                            //将order加进orderList
                            orderList.push(order);
                        } else {

                        }
                    }
                    $.ajax({
                        async: true,
                        url: "/Store/SemInRecord/SemInRecordDel",
                        data: { orderList: orderList },
                        type: "post",
                        success: function (data) {
                            var _data = eval('(' + data + ')');
                            if (_data.Result == true) {
                                searchFun();//重新加载数据
                                $.messager.alert("信息", _data.Message, "info", function () {
                                    //window.location.reload();//刷新数据

                                });
                            } else {
                                $.messager.alert("信息", "删除失败", "info", function () {

                                });
                                //do something another...
                            }
                        }
                    });
                    console.info(rowData);
                }
            });
        }
        else {
            $.messager.alert("友情提示", "请您选择一条要删除的数据!");
        }
    }

    //文本框点击事件
    function SearchBox(value, name) {
        alert(value + ":" + name)
    }

    //搜索
    var searchBtnFun = function () {
        $(formName).form("submit", {//ajax form提交
            url: "/Store/SemInRecord/Get",
            onSubmit: function (param) {//除表单外的数据(分页)
                var pager = $(tableName).datagrid("getPager");
                var pagerOptions = $(pager).pagination("options");
                param.rows = pagerOptions.pageSize;
                param.page = 1;//pagerOptions.pageNumber;
            },
            success: function (data) {
                $(tableName).datagrid("loadData", eval('(' + data + ')'));//重新加载数据
            }
        });
    }
    //单选功能
    function radioFun(value) {
        alert(value + "单选功能");
    }

    //关闭窗体
    function CloseFun() {
        parent.closeTab(gTitle)
    }

    var columns = [//["field","title",width,rowspan,colspan,sortable,editor,formatter(v,r,index){}]
              [//第一行
                  ["PlanID", "计划单", 140, 2, null, true],
                  ["DeliveryOrderID", "送货单", 140, 2, null],
                  ["BthID", "批次号", 110, 2, null],
                  ["McIsetInListID", "入库单号", 150, 2, null],
                  ["IsetRepID", "检验报告单号", 140, 2, null],
                  ["GiCls", "让步区分", null, 2, null, null, null, function (value, row, index) {
                      var htmlStr = "";
                      if (row.GiCls == "999") {
                          htmlStr = "正常";
                      } else {
                          htmlStr = "内径过小";
                      }
                      return htmlStr;
                  }],
                  ["PdtName", "物资名称", null, 2, null],
                  ["PdtSpec", "规格型号", null, 2, null],
                  ["TecnProcess", "加工工艺", 160, 2, null],
                  [null/*此处不要写字段名，null或空字符即可，否则会出错*/, "交仓数量", null, null, 6],
                  ["Unit", "单位", 40, 2, null],
                  ["PrchsUp", "加工单价", null, 2, null, null, { type: "text" }, function (value, row, index) {
                      return value;
                  }],
                  ["NotaxAmt", "金额", null, 2, null],
                  ["InDate", "入库日期", 90, 2, null, null, null, function (value, row, index) {
                      var date;
                      var strDt = (value + "").replace(/\/Date\(/, "").replace(/\)\//, "");
                      if (isNaN(strDt)) {
                          date = strDt.ToDate();
                      } else {
                          date = new Date(strDt.ToInt());
                      }
                      var str = date.Format("yyyy-MM-dd");
                      row.Paydate = str;
                      return str;
                  }],
                 ["Rmrs", "备注", null, 2, null, null, { type: "text" }, function (value, row, index) {
                     return value;
                 }]
              ], [//第二行
                  ["Qty", "合格", null, null, null, true, { type: "text" }, function (value, row, index) {
                      return value;
                  }],
                  ["ProScrapQty", "报废", null, null, null, true, { type: "text" }, function (value, row, index) {
                      return value;
                  }],
                  ["ProMaterscrapQty", "料废", null, null, null, true, { type: "text" }, function (value, row, index) {
                      return value;
                  }],
                  ["ProOverQty", "余料", null, null, null, true, { type: "text" }, function (value, row, index) {
                      return value;
                  }],
                  ["ProLackQty", "缺料", null, null, null, true, { type: "text" }, function (value, row, index) {
                      return value;
                  }],
                  ["ProTotalQty", "合计", null, true, true, true, { type: "text" }, function (value, row, index) {

                      return value;
                  }]

              ]
    ]

    $(function () {
        //document.getElementById("save").style.display = "none";
        //document.getElementById("cancel").style.display = "none";
        Common.Functions.createDataGrid({//创建datagrid,详细内容参见functions.js
            target: tableName,
            url: "/Store/SemInRecord/Get",
            columns: columns,
            idField: "IsetRepID",
            nowrap: false,
            //toolbar: $("#toolbar"),//工具栏 
            checkbox: true,//是否显示checkbox
            maxWidth: 950,
            maxHeight: 200,
            onBeforeLoad: function (queryParams) {//可以添加一些额外参数,主要用于查询条件
                var arr = $(formName).serializeArray();
                $.each(arr, function () {
                    queryParams[this.name] = this.value;
                });
            },
            onLoadError: function () {
                $.messager.alert("友情提示", "请求服务器失败，请刷新页面重试! ");
            },
            onCreating: function (data) {
                //do something...
            },
            loadFilter: function (data) {
                //gridview 翻页的页码
            var _data = {};
            _data.rows = isUndefined(data.rows) ? data : data.rows;
            _data.total = isUndefined(data.total) ? data : data.total;
            return _data;
        }
        });

        //$(tableName).datagrid({
        //    onDblClickRow: function (rowIndex, row) {
        //        var row = $(tableName).datagrid('getSelected');
        //        if (row) {
        //            alert('ID:' + row.Id + "\n日期:" + row.Paydate);
        //        }
        //    }
        //})

    });


</script>

<style>
.Search_Table {
        margin:auto;      
        text-align:left;
    }
</style>

<div class="buttons" style="width:100%;text-align:right;"><br />
    @UserHelpers.ButtonForSave("saveFun()","save","style=display:none;")   
    @UserHelpers.ButtonForUpdate("updateFun()","update") 
    @UserHelpers.ButtonForCancel("cancelFun()","cancel","style=display:none;") 
    @*@UserHelpers.ButtonForDelete("deleteFun()","")*@ 
    @if (Model == 1) { //拥有新建权限
    @UserHelpers.ButtonForClose("CloseFun()")    
}
    <span style="width:100px;margin-right:10%">&nbsp;</span>
</div>

<div style="width:100%;margin:20px 0;">
    <hr style="width:100%;color:#95B8E7"/>
</div>
<div style="width:100%;text-align:center;">
    <h2>入库履历一览</h2>
</div>

<div style="width:100%;text-align:center;margin-bottom:12px;">
    <div style="width: 95%; margin: auto; text-align: left;">
        <form class="Search_Form" id='searchForm' method='post'>
            <table class='Search_Table'>
                <tr>
                    <td>计划单号：</td>
                    <td>
                        @UserHelpers.Input("PlanID")
                    </td>
                    <td style="padding-left: 3px">送货单号：</td>
                    <td>
                        @UserHelpers.Input("DeliveryOrderID")
                    </td>
                    <td style="padding-left: 3px">批次号：</td>
                    <td>
                        @UserHelpers.Input("BthID")
                    </td>
                    <td style="padding-left: 3px">入库日期：</td>
                    <td colspan="2">
                        @UserHelpers.TimeInput("StartInDate")~@UserHelpers.TimeInput("EndInDate")
                </tr>
                <tr>
                    <td>物资名称：</td>
                    <td>
                        @UserHelpers.Input("PdtName")
                    </td>
                    <td style="padding-left: 3px">检验报告单号：</td>
                    <td>
                        @UserHelpers.Input("IsetRepID")
                    </td>
                    <td style="padding-left: 3px">入库单号：</td>
                    <td>
                        @UserHelpers.Input("McIsetInListID")
                    </td>
                    <td style="padding-left: 3px">仓库编码：</td>
                    <td>
                        @UserHelpers.Input("WhID")
                    </td>

                </tr>
                <tr>
                    <td>规格型号：</td>
                    <td>
                        @UserHelpers.Input("PdtSpec")
                    </td>
                    <td style="padding-left: 3px">让步区分：</td>
                    <td>
                        <select id='GiCls' name='GiCls'>
                            <option value='' selected>全部</option>
                            <option value='999'>正常</option>
                            <option value='0'>让步</option>
                        </select>
                    </td>
                    <td style="padding-left: 3px">入库区分：</td>
                    <td>
                        <input id="In" type="radio" checked="checked" value="入库" onclick='radioFun(id);' name="rangbu" />入库
                        <input id="move" type="radio" value="移库" onclick='    radioFun(id);' name="rangbu" />移库
                    </td>
                    <td style="padding-left: 3px"></td>
                    <td></td>
                    <td style="text-align: right">
                        @UserHelpers.ButtonForSearch("searchBtnFun()")
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div class="datagrid" style="text-align:center;width:100%;">
    <table id="userTable"></table>
</div>

@*<div style="width:100%;text-align:center;margin-bottom:12px;">
    <div style="width:95%;margin:auto;text-align:left;">
    <form class="Search_Form" id='searchForm' method='post'>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;计划单号：<input id='PlanID' class="easyui-searchbox"style="width:100px"data-options="searcher:SearchBox,prompt:'',menu:'#mm'" name='PlanID'/>
        &nbsp;&nbsp;送货单号：<input id='DeliveryOrderID'class="easyui-searchbox" style="width:100px"data-options="searcher:SearchBox,prompt:'',menu:'#mm'"  name='DeliveryOrderID'/>
        &nbsp;&nbsp;批次号：<input id='BthID'class="easyui-searchbox" style="width:100px"data-options="searcher:SearchBox,prompt:'',menu:'#mm'"  name='BthID'/>
        &nbsp;&nbsp;入库日期：<input id='StartInDate'style="width:110px" type='text' class='easyui-datebox' name='StartInDate'/>&nbsp;~&nbsp;<input id='EndInDate'style="width:110px" type='text' class='easyui-datebox' name='EndInDate'/><br /><br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;物资名称：<input id='MatterName2'class="easyui-searchbox" style="width:100px"data-options="searcher:SearchBox,prompt:'',menu:'#mm'"  name='MatterName'/>
        &nbsp;&nbsp;检验报告单号：<input id='IsetRepID'class="easyui-searchbox" style="width:100px"data-options="searcher:SearchBox,prompt:'',menu:'#mm'"  name='IsetRepID'/>
        &nbsp;&nbsp;入库单号：<input id='McIsetInListID' class="easyui-searchbox" style="width:100px"data-options="searcher:SearchBox,prompt:'',menu:'#mm'"  name='McIsetInListID'/>
        &nbsp;&nbsp;仓库编码：<input id='WhID'class="easyui-searchbox" style="width:100px"data-options="searcher:SearchBox,prompt:'',menu:'#mm'"  name='WhID'/><br /><br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;规格型号：<input id='PdtSpec' class="easyui-searchbox"style="width:100px"data-options="searcher:SearchBox,prompt:'',menu:'#mm'" name='PdtSpec'/>        
        &nbsp;&nbsp;让步区分：
        <select id='GiCls' name='GiCls'>
            <option value='' selected>全部</option>
            <option value='999'>正常</option>
            <option value='0'>让步</option>
        </select>
        &nbsp;&nbsp;入库区分：<input id="In" type="radio" checked="checked" value="入库" onclick='radioFun(id);' name="rangbu"/>入库&nbsp;&nbsp;&nbsp;<input id="move" type="radio" value="移库"  onclick='    radioFun(id);' name="rangbu"/>移库
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;@UserHelpers.ButtonForSearch("searchFun()")
    </form>
    </div>
</div>
<div class="datagrid" style="text-align:center;width:100%;">
    <table id="userTable"></table>
</div>*@

