@using App_UI.Resource.ClientMessage
@using App_UI.Resource.ViewText.Common
@using App_UI.Resource.ViewText.Produce
@using Model



@section head
{
    <script src="~/Scripts/common/dialog.js"></script>

    <style>
        .datagrid .datagrid-body td {
            height: 30px;
        }
        
    </style>
    
    
    <script>
        (function($) {
            /*******************变量-开始******************/
            var table = "#WarehouseShowTable"; //表格
            var form = "#warehouseForm"; //检索form

            var warehouseStates = []; //状态

            /*******************变量-结束******************/


            /*******************按钮-开始******************/
            $(function() {

                //编辑
                window.edit_warehouse = function(options) {
                    var selectedRows = table.datagrid("getSelections");
                    var selectedLen = selectedRows.length;
                    if (selectedLen > 0) {
                        for (var i = 0, len = selectedRows.length; i < len; i++) {
                            if (selectedRows[i]["WarehouseState"] == "3") {//已入库的交仓单
                                $.messager.alert("@VT_Common.Tips", "@CM_Produce.CK40502006");
                                return;
                            }
                        }
                        if (selectedLen == 1) {
                            parent.addTab("@VT_ProductWarehouse.ProductWarehouseUpdateTabTitle",
                                "/Produce/ProductWarehouse/UpdateDetail/?detailOrUpdate=1&productWarehouseID=" + selectedRows[0]["ProductWarehouseID"]);
                        } else {
                            $.messager.alert("@VT_Common.Tips", "@CM_Produce.CK40502001");
                        }
                    } else {
                        $.messager.alert("@VT_Common.Tips", "@CM_Produce.CK40502002");
                    }
                    
                };

                //删除
                window.delete_warehouse = function(options) {
                    var selectedRows = table.datagrid("getSelections");
                    if (selectedRows.length == 0) {
                        $.messager.alert("@VT_Common.Tips", "@CM_Produce.CK40502004");
                    } else {
                        for (var i = 0, len = selectedRows.length; i < len; i++) {
                            if (selectedRows[i]["WarehouseState"] == "3") {//已入库的交仓单
                                $.messager.alert("@VT_Common.Tips","@CM_Produce.CK40502005");
                                return;
                            }
                        }
                        $.messager.confirm("@VT_Common.Tips", "@CM_Produce.CK40502003", function (r) {
                            if (r) {
                                var ids = "";
                                for (var i = 0, len = selectedRows.length; i < len; i++) {
                                    ids += selectedRows[i]["ProductWarehouseID"] + ",";
                                }
                                ids = ids.replace(/,$/, "");
                                //[url, onSubmit, success, onLoadError]
                                $("#deleteForm").formSubmit([
                                    "/Produce/ProductWarehouse/Delete",
                                    function(param) {
                                        param["warehouseIds"] = ids;
                                    },
                                    function(data) {
                                        var result = eval("(" + data + ")");
                                        result = result.result;
                                        if (result["result"]) {
                                            $.messager.alert("@VT_Common.Tips", "@CM_Common.MSG0005");
                                            table.datagrid("reload");
                                        } else {
                                            $.messager.alert("@VT_Common.Tips", "@CM_Common.MSG0006，详细：<br/>"+result["message"]);
                                        }
                                    }
                                ]);
                            }
                        });
                    }
                };

                //关闭
                window.close_warehouse = function() {
                    parent.closeTab();
                };

                //查询
                window.search_warehouse = function() {
                    table.datagrid("load");
                };

                //详细页面
                window.detail_warehouse = function(id) {
                    parent.addTab("@VT_ProductWarehouse.ProductWarehouseDetailTabTitle", "/Produce/ProductWarehouse/Details/?productWarehouseID=" + id);
                };

            });
            /*******************按钮-结束******************/


            /*******************方法-开始******************/

            //返回列属性
            var getColumns = function() {
                var columns = [[]];
                //["field","title","width","sortable","editor","formatter"]
                columns[0].push(["ProductWarehouseID", "@VT_ProductWarehouse.ProductWarehouseID", 120, true, false, function(value) {
                    return "<a href='javascript:void(0);' onclick=\"detail_warehouse('" + value + "')\">" + value + "</a>";
                }]);
                columns[0].push(["DepartmentName", "@VT_ProductWarehouse.DepartmentName", null, true]);
                columns[0].push(["WarehouseDT", "@VT_ProductWarehouse.WarehouseDT", 90, true]);
                columns[0].push(["WarehousePersonName", "@VT_ProductWarehouse.WarehousePersonName", null, true]);
                columns[0].push(["CheckPersonName", "@VT_ProductWarehouse.CheckPersonName", 90, true]);
                columns[0].push(["DispatherPersonName", "@VT_ProductWarehouse.DispatherPersonName", 90, true]);
                columns[0].push(["BatherID", "@VT_ProductWarehouse.BatherID", null, true]);
                columns[0].push(["WarehouseState", "@VT_ProductWarehouse.WarehouseState", 60, true, null, function(value, row) {
                    if (warehouseStates == null) {
                        warehouseStates = 0;
                        return "";
                    }
                    var state = "";
                    var record = warehouseStates.FindObject("AttrCd", value);
                    if (record) {
                        state = record.AttrValue;
                    }
                    return state;
                }]);
                return columns;
            };

            window.getWarehouseStates = function(data) {
                warehouseStates = data;
                if (warehouseStates == 0) {
                    warehouseStates = data;
                    //table.datagrid("refreshColumn", "WarehouseState");
                } else {
                    warehouseStates = data;
                }
            };

            /*******************方法-结束******************/


            /*******************Ready******************/
            $(function() {
                table = $(table);
                form = $(form);

                //datagrid
                Common.Functions.createDataGrid({
                    target: table,
                    url: "/Produce/ProductWarehouse/Get",
                    columns: getColumns(),
                    checkbox: true,
                    sortName: "",
                    sortOrder: "",//默认排序
                    maxWidth: 1030,//最大宽度
                    maxHeight: 600,//最大高 度
                    onBeforeLoad: function(queryParams) { //可以添加一些额外参数,主要用于查询条件
                        var arr = form.serializeArray();
                        $.each(arr, function() {
                            queryParams[this.name] = this.value;
                        });
                    },
                    onCreating: function(data) { //数据成功加载,即onLoadSuccess
                        //do something...
                        return false;
                    },
                    loadFilter: function(data) {
                        var _data = {};
                        _data.rows = data.rows ? data.rows : data;
                        _data.total = data.total ? data.total : 0;
                        //将c#的DateTime转为日期字符串，参数:table，rows数据,需要矫正的字段(日期类型)
                        AdaptDt(table, _data.rows, "WarehouseDT");
                        return _data;
                    }
                });

                //combobox
                //$("#WarehouseCombo").combobox({
                //    valueField: "stateCode",
                //    textField: "stateName",
                //    panelHeight: "auto",
                //    data: [{ stateCode: "", stateName: "全部", selected: true }, { stateCode: "0", stateName: "未提交" },
                //        { stateCode: "1", stateName: "已提交" }, { stateCode: "2", stateName: "已入库" }]
                //});
            });

            /*************************************/


            $(function () {
                $("#productDlg").dialog({
                    buttons: "#dlgBtns",
                    cache: false,
                    height: 450,
                    //href: "/Technology/ProdInfo/ShowProdInfoDialog?singleSelect=true",
                    modal: true,
                    width: 930,
                    closed: true,
                    title: "<span style=\" font-family:Tahoma,Verdana,微软雅黑,新宋体;font-size:16px;margin:0px;padding:0px; \">产品信息一览</span>",
                    onBeforeOpen: function () {
                        var top = $(document).scrollTop() + ($(window)._outerHeight() - $(this).dialog("options").height) / 2;
                        var left = $(document).scrollLeft() + ($(window)._outerWidth() - $(this).dialog("options").width) / 2;
                        if (top < 10) {
                            top = $(document).scrollTop() + 10;
                        }
                        if (left < 10) {
                            left = $(document).scrollLeft() + 10;
                        }
                        $(this).dialog("move", { top: top, left: left });
                    }
                });

                //打开“产品型号”对话框
                window.showProductDlgFun = function (obj) {
                    $("#productDlg").dialog("open").dialog("refresh", "/Technology/ProdInfo/ShowProdInfoDialog?singleSelect=true")
                        .data("currTarget", $(obj));
                };
                //“产品型号”对话框“确定”按钮
                window.productDlgOKFun = function () {
                    //var selectedRow = $("#ProdInfoDialogTable").datagrid("getSelected");//选择的行数据
                    var selectedRow = null;
                    try {
                        selectedRow = $("#ProdInfoDialogTable").datagrid("getSelected");//选择的行数据
                    } catch (e) {
                        selectedRow = null;
                    }
                    if (!selectedRow) {
                        $.messager.alert("@VT_Common.Tips", "@CM_Produce.CK40502002");
                            return;
                        }
                    var $spanBtn = $("#productDlg").dialog("close").data("currTarget");//放大镜元素
                    var $span = $spanBtn.parent().parent();//span元素
                    $span.children("input").val(selectedRow["ProductAbbreviation"]);
                    $span.prev().val(selectedRow["ProductID"]);
                };
                
                //打开“客户订单”对话框
                window.showOrderDlgFun = function (ele) {
                    CommonDlgFun.ShowOrderDlg.call(ele, '#orderDlg');
                };

                //“客户订单”对话框“选择”按钮
                window.orderDlgOKFun = function () {
                    var row = CommonDlgFun.GetSelectedOrder();
                    if (!row) {
                        $.messager.alert("@VT_Common.Tips", "@CM_Produce.CK40502002");
                        return;
                    }
                    $("#orderDlg").dialog("close").data("currTarget").parent().prev().val(row["ClientOrderID"]);//关闭并赋值
                };
                
            });

        }(jQuery));
    </script>
}




@*buttons*@
<div class="buttons" style="width:100%;text-align:right;margin-top: 10px;">
    @UserHelpers.ButtonForUpdate("edit_warehouse()")
    @UserHelpers.ButtonForDelete("delete_warehouse()")
    @UserHelpers.ButtonForClose("close_warehouse()")
</div>

@*title*@
<div style="width:100%;text-align:center;margin-bottom:10px;">
    @UserHelpers.Line()
    @UserHelpers.Company_Title(VT_Common.CompanyName)
    @UserHelpers.Title(VT_ProductWarehouse.ProductWarehouseTitle)
</div>
@*form*@
<div style="width:100%;text-align:center;margin-bottom: 10px;">
    <div style="width:950px;margin:auto;text-align:left;">
        <form id="warehouseForm" class="Search_Form">
            <div style="margin-bottom: 10px;">
                <span>@VT_InProcessing.OrderId：@UserHelpers.InputReadOnly("ClientOrderID","showOrderDlgFun(this)","20")</span>
                <span style="margin-left: 15px;">@VT_InProcessing.ProductId：<input type="hidden" name="OrderProductID"/>@UserHelpers.InputReadOnly("OrderProductName","showProductDlgFun(this)","20")</span>
                <span style="margin-left: 15px;">@VT_ProductWarehouse.Team：@*@UserHelpers.InputReadOnly("TeamID","alert(this)","20")*@@UserHelpers.AutoSearch(Constant.AutoSearchType.TEAM,"TeamID",""," maxlength=20 ")</span>
                <span style="margin-left: 15px;">@VT_ProductWarehouse.WarehouseDT：@UserHelpers.TimeBeginInput("StartDt","StartDt","StartDt")</span>
                <span>~：@UserHelpers.TimeEndInput("EndDt","EndDt","EndDt")</span>
            </div>
            <div>
                <span style="margin-left:15px;">@VT_ProductWarehouse.DepartmentName：@UserHelpers.SelectWidget(Constant.MasterSection.DEPT,"DepartmentID","DepartmentCombo") @*<input name="DepartmentID" id="DepartmentCombo"/>*@</span>
                <span style="margin-left:15px;">@VT_ProductWarehouse.ProductWarehouseID：@UserHelpers.InputSimple("ProductWarehouseId"," maxlength=20 ")</span>
                
                <span style="margin-left:15px;">@VT_ProductWarehouse.WarehouseState：<input style="width:112px;height:22px;" class="easyui-combobox" name="ProductWarehouseState" data-options="{valueField: 'AttrCd',textField: 'AttrValue',panelHeight: 'auto',editable: false,url: '/Common/MasterInfo/GetForSearch/@Constant.MasterSection.PROD_WAREHOUSE_STATE',onLoadSuccess:getWarehouseStates}"/></span>
                <span style="margin-left:30px;">@VT_ProductWarehouse.BatherID：@UserHelpers.InputSimple("BathID"," maxlength=20 ")</span>
                <span style="margin-left: 25px;">@UserHelpers.ButtonForSearch("search_warehouse()")</span>
            </div>
        </form>
    </div>
</div>
@*datagrid*@
<div class="datagrid">
    <table id="WarehouseShowTable"></table>
</div>


<div>
    <form id="deleteForm" method="POST"></form>
</div>


@*产品型号dialog相关*@
<div>
    <div id="productDlg"></div>
</div>
<div id="dlgBtns">
    @UserHelpers.ButtonForAdd("productDlgOKFun()")
    @UserHelpers.ButtonForClose("$('#productDlg').dialog('close');")
</div>

@*客户订单号dialog相关*@
<div>
    <div id="orderDlg" data-options="buttons:'#orderDlgBtns'"></div>
</div>
<div id="orderDlgBtns" style="display: none;">
    @UserHelpers.ButtonForChoose("orderDlgOKFun();")
    @UserHelpers.ButtonForClose("$('#orderDlg').dialog('close');")
</div>