

@using System.Web.UI.WebControls
@using App_UI.Resource.ClientMessage
@using App_UI.Resource.ViewText.Common
@using App_UI.Resource.ViewText.Produce
@using Model

@section head
{
    <style>
        input.easyui-datebox {
            width: 110px;
        }
        table.headTable td, table.footTable td {
            width: 100px;
        }
        input.dataClass {
            width: 100%;height: 92%;
        }

        input.ldk-numberbox{
            ime-mode: disabled;
        }

        .datagrid .datagrid-body tr {
            height: 30px;
        }
        input {
            width: 110px;
        }
    </style>
    
    <script>
        (function($) {
            /*******************变量-开始******************/
            var table = "#WarehouseDetailTable"; //表格
            var form = "#warehouseDetailForm"; //表单


            var modelType = ["0", "1", "2"]; //未修改,已修改,新增的数据

            var formDataChanged = false; //标识数据是否改变

            /*******************变量-结束******************/

            /*******************按钮-开始******************/
            $(function() {
                //打印预览
                window.preview_warehouseDetail = function() {
                    parent.addTab("@VT_ProductWarehouse.ProductWarehousePrintTabTitle", "/Produce/ProductWarehouse/Details?productWarehouseID=@ViewBag.productWarehouseID");
                };

                //保存
                window.save_warehouseDetail = function(options) {
                                        @*if ($("#BatchID").val() == false) {
                        $.messager.alert("@VT_Common.Tips", "@CM_Produce.CK40502007".replace("{0}", "@VT_ProductWarehouse.BatherID"));
                        return;
                    }*@
                    options = options || {};
                    if (formDataChanged) { //数据改变
                        if (options.nextDo) {
                            form.data("nextDo", options.nextDo);
                        }
                        //$.messager.progress({text:"操作中，请稍后..."});
                        //[url, onSubmit, success, onLoadError]
                        form.formSubmit([
                            "/Produce/ProductWarehouse/Update",
                            function(param) {
                            },
                            function(data) {
                                var result = eval("(" + data + ")");
                                result = result["result"];
                                //$.messager.progress("close");
                                if (result["result"]) {
                                    var frame = parent.getFrameByTitle("@VT_ProductWarehouse.ProductWarehouseTitle");
                                    if (frame) {
                                        frame.search_warehouse();
                                    }
                                    formDataChanged = false;
                                    table.datagrid("load");
                                    $("#saveBtn").attr("disabled", true);
                                    $.messager.alert("@VT_Common.Tips", "@CM_Common.MSG0003");
                                    if (form.data("nextDo")) {
                                        setTimeout(function() {
                                            form.data("nextDo").call(window);
                                        }, 10);
                                    }
                                } else {
                                    $.messager.alert("@VT_Common.Tips", "@CM_Common.MSG0001,详情：<br/>" + result["message"]);
                                }
                            }, function() {
                                $.messager.alert("@VT_Common.Tips", "@CM_Common.MSG0001");
                            }
                        ]);
                    }
                };

                //关闭
                window.close_warehouseDetail = function() {
                    if (formDataChanged) {
                        $.messager.confirm("@VT_Common.Tips", "@CM_Produce.DLG40104001", function(r) {
                            if (r) { //确定(保存)
                                save_warehouseDetail({
                                    nextDo: function() {
                                        parent.closeTab();
                                    }
                                });
                            } else { //取消
                                parent.closeTab();
                            }
                        });
                    } else {
                        parent.closeTab();
                    }
                };

                //删除
                window.delete_warehouseDetail = function(lineNo, index) {
                    if (!lineNo) { //行号为空时，表明为新增的数据
                        table.datagrid("deleteRow", index);
                        table.datagrid("refreshColumn", "Operator");
                        return;
                    }
                    //[url, onSubmit, success, onLoadError]
                    $("#warehouseDetail_DeleteForm").formSubmit([
                        "/Produce/ProductWarehouse/DeleteDetail",
                        function(param) {
                            param["productWarehouseID"] = "@ViewBag.productWarehouseID";
                            param["warehouseLineNO"] = lineNo;
                        },
                        function(data) { //待修改,deleteRow时index没有更新
                            var result = eval('(' + data + ')');
                            result = result["result"];

                            if (result["result"]) {
                                table.datagrid("deleteRow", index);
                                table.datagrid("refreshColumn", "Operator");
                                $.messager.alert("@VT_Common.Tips", "@CM_Common.MSG0005");
                            } else {
                                $.messager.alert("@VT_Common.Tips", "@CM_Common.MSG0006，详情：<br/>" + result["message"]);
                            }
                        }
                    ]);
                };

            });
            /*******************按钮-结束******************/


            /*******************事件绑定-开始******************/
            //numberbox的onchange调用的方法
            var inputOnChangeFun = function(newValue, oldValue) {

            };
            //事件的绑定
            $(function() {
                form = $(form);
                form.on("keypress", "input.ldk-numberbox", function(event) {
                    var keyCode = event.which;
                    switch (keyCode) {
                    case 48:
                    case 49:
                    case 50:
                    case 51:
                    case 52:
                    case 53:
                    case 54:
                    case 55:
                    case 56:
                    case 57:
                    case 0:
//delete,上下左右
                    case 8:
//backspace
//case 46://.
                        return true;
                        break;
                    default:
                        return false;
                        break;
                    }
                }).on("blur", "input.ldk-numberbox", function() {
                    var $this = $(this);
                    var value = $this.val();
                    if (value) {
                        value = parseInt(value);
                    } else {
                        value = 0;
                    }
                    //value = value.toFixed(0);
                    $this.val(value);
                    $this.data("oldValue", value);
                }).on("change", "input.dataClass,input:hidden", function(event) { //,input.Search_InputSpan
                    if (!formDataChanged) { //表单元素改变,激活"保存"按钮
                        $("#saveBtn").removeAttr("disabled");
                        formDataChanged = true;
                    }
                    $(this).parents("tr").find("input.changedFlag").val(modelType[1]);
                });

            });

            //合格数量改变
            window.qualifiedQTYChange = function(obj) {
                var $this = $(obj);
                var maxValue = eval("(" + $this.data("options") + ")").maxValue - 0;
                var val = $this.val() - 0;
                if (val > maxValue) {
                    $this.val(maxValue);
                } else {
                    if (!formDataChanged) { //表单元素改变,激活"保存"按钮
                        $("#saveBtn").removeAttr("disabled");
                        formDataChanged = true;
                    }
                    var $tr = $this.parents("tr");
                    var rIndex = $tr.index();
                    var $input = $($(table).datagrid("getColumnJqByField", "EachBoxQuantity")[rIndex]).find("input");
                    var rows = $(table).datagrid("getData").rows;
                    rows[rIndex]["BoxQuantity"] = Math.ceil(($this.val() - 0) / ($input.val() - 0));
                    rows[rIndex]["RemianQuantity"] = ($this.val() - 0) - ($input.val() - 0) * (rows[rIndex]["BoxQuantity"] - 1);
                    $(table).datagrid("refreshColumn", "BoxQuantity");
                    $(table).datagrid("refreshColumn", "RemianQuantity");
                    $tr.find("input.changedFlag").val(modelType[1]);
                }
            };

            //每箱数量改变
            window.eachBoxQTYChange = function(obj) {
                var $this = $(obj);
                var val = $this.val() - 0;
                if (val <= 0) {
                    $this.val(1);
                }
                if (!formDataChanged) { //表单元素改变,激活"保存"按钮
                    $("#saveBtn").removeAttr("disabled");
                    formDataChanged = true;
                }
                var $tr = $this.parents("tr");
                var rIndex = $tr.index();
                var $input = $($(table).datagrid("getColumnJqByField", "QualifiedQuantity")[rIndex]).find("input");
                var rows = $(table).datagrid("getData").rows;
                var result = ($input.val() - 0) / ($this.val() - 0);
                rows[rIndex]["BoxQuantity"] = Math.ceil(result);
                rows[rIndex]["RemianQuantity"] = ($input.val() - 0) - ($this.val() - 0) * Math.floor(result);
                $(table).datagrid("refreshColumn", "BoxQuantity");
                $(table).datagrid("refreshColumn", "RemianQuantity");
                $tr.find("input.changedFlag").val(modelType[1]);
            };
            /*******************事件绑定-结束******************/


            /*******************方法-开始******************/

            //将选中的数据插入到table中,暂时无用
            var appendData = function(data) {
                for (var i = 0, len = data.length; i < len; i++) {
                    var row = data[i];
                    row["ModelType"] = modelType[2]; //标识为新增,后台使用
                    row["NewRow"] = modelType[2]; //标识为新增,前台删除方法使用
                    table.datagrid("insertRow", {
                        row: row
                    });
                }
                formDataChanged = true;
                $("#saveBtn").removeAttr("disabled");
            };

            var createSpan = function(value, other) {
                if (!value) {
                    value = "";
                }
                if (!other) {
                    other = "";
                }
                return "<span " + other + " >" + value + "</span>";
            };
            var createInput = function(value, name, other) {
                if (value === null || value === "") {
                    value = " value='' ";
                } else {
                    value = " value='" + value + "' ";
                }
                if (!name) {
                    name = "";
                } else {
                    name = " name='" + name + "' ";
                }
                if (!other) {
                    other = "";
                }
                return "<input " + value + name + other + " />";
            };
            var createHidden = function(value, name, other) {
                if (!other) {
                    other = "";
                }
                return createInput(value, name, " type='hidden' " + other);
            };
            var createText = function(value, name, other) {
                if (!other) {
                    other = "";
                }
                return createInput(value, name, " type='text' " + other);
            };


            //返回列属性
            var getColumns = function() {
                var columns = [[], []];
                //["field", "title", "width", "rowspan", "colspan", "sortable", "editor", "formatter"]
                columns[0].push(["ClientOrderID", "@VT_InProcessing.OrderId", 120, 2, 1, false, null, function(value, row) {
                    var lineNo = row["WarehouseLineNO"];
                    lineNo = lineNo ? lineNo : null;
                    var model = "";
                    if (typeof row["ModelType"] != "undefined") {
                        model = modelType[2]; //新增
                    } else {
                        model = modelType[0]; //未改变
                    }
                    return createSpan(value) + createHidden(row["ClientOrderID"], "ClientOrderID") +
                        createHidden(lineNo, "WarehouseLineNO") + createHidden(model, "ModelType", " class='changedFlag' ");
                }]);
                columns[0].push(["TeamName", "@VT_ProductWarehouse.AssembleTeam", null, 2, 1, false]);
                columns[0].push(["OrderProductID", "@VT_ProductWarehouse.OrderProductId", 90, 2, 1, false, null]);
                columns[0].push(["ProductName", "@VT_ProductWarehouse.ProductName", 100, 2, 1, false]);
                columns[0].push(["ProductSpecification", "@VT_ProductWarehouse.ProductSpecification", 100, 2, 1, false, null]);
                columns[0].push(["Unit", "@VT_ProductWarehouse.Unit", 50, 2, 1, false]);
                columns[0].push(["QualifiedQuantity", "@VT_ProductWarehouse.QualifiedQuantity", 70, 2, 1, false, null, function(value) {
                    if (!value) {
                        value = "0";
                    }
                    return createText(value, "QualifiedQuantity", " onchange=\"qualifiedQTYChange(this)\" class='dataClass ldk-numberbox' model='ldk-numberbox' maxlength=10 data-options='{maxValue:" + value + "}'");
                }]);
                columns[0].push(["", "@VT_ProductWarehouse.PackState", null, 1, 3]);
                columns[0].push(["Remark", "@VT_ProductWarehouse.Remark", 120, 2, 1, false, null, function(value) {
                    if (!value) {
                        value = "";
                    }
                    return createText(value, "Remark", " class='dataClass' maxlength=400 ");
                }]);

                columns[0].push(["Operator", "@VT_ProductWarehouse.Operator", 60, 2, 1, false, null, function(value, row, index) {
                    var str = "";
                    var lineNo = row['WarehouseLineNO'] ? row['WarehouseLineNO'] : '';
                    var fun = "delete_warehouseDetail('" + lineNo + "'," + index + ")";
                    str = "<a href='javascript:void(0);' onclick=\"" + fun + "\" >@VT_ProductWarehouse.Delete</a>";
                    return str;
                }]);
                columns[1].push(["EachBoxQuantity", "@VT_ProductWarehouse.EachBoxQuantity", 70, 1, 1, false, null, function(value) {
                    if (!value) {
                        value = "0";
                    }
                    return createText(value, "EachBoxQuantity", " onchange=\"eachBoxQTYChange(this)\" class='dataClass ldk-numberbox' model='ldk-numberbox' maxlength=10 ");
                }]);
                columns[1].push(["BoxQuantity", "@VT_ProductWarehouse.BoxQuantity", 60, 1, 1, false, null, function(value) {
                    return createHidden(value, "BoxQuantity") + value;
                }]);
                columns[1].push(["RemianQuantity", "@VT_ProductWarehouse.RemianQuantity", 60, 1, 1, false, null, function(value) {
                    return createHidden(value, "RemianQuantity") + value;
                }]);
                return columns;
            };

            /*******************方法-结束******************/


            /*******************Ready******************/
            $(function() {
                table = $(table);
                form = $(form);
                Common.Variables.datagrid.nullDataMessage = "@VT_ProductWarehouse.NullWarehouseData"; //表格无数据时显示的信息
                Common.Functions.createDataGrid({
                    target: table,
                    url: "/Produce/ProductWarehouse/GetDetail",
                    columns: getColumns(),
                    //checkbox: true,
                    pagination: false,
                    sortName: "",
                    sortOrder: "",//默认排序
                    maxWidth: 1030,//最大宽度
                    maxHeight: 600,//最大高 度
                    loadFilter: function(data) {
                        var _data = {};
                        _data.rows = data.rows.Children;
                        AdaptDt(table, [data.rows], "WarehouseDT");

                        setTimeout(function() {
                            //$("#department").text(data.rows["DepartmentName"]); //详细  显示部门
                            //$("#ProductWarehouseID").text(data.rows["ProductWarehouseID"]); //交仓单号
                            //$("#BatchID").text(data.rows["BatchID"]);//批次号
                            FillByName(data.rows, "#warehouseDetailForm");
                            form.form("load", data.rows);

                        }, 50);
                        return _data;
                    },
                    onBeforeLoad: function(param) {
                        param["productWarehouseID"] = "@ViewBag.productWarehouseID";
                    },
                    onDblClickRow: function() {
                        return false;
                    },
                    onClickRow: function() {
                        return false;
                    },
                    onCreating: function() {


                    }
                });

                $("#WarehouseDT").datebox({
                    clearable: false,
                    onChange: function(newValue, oldValue) {
                        if (!formDataChanged) {
                            $("#saveBtn").removeAttr("disabled");
                            formDataChanged = true;
                        }
                    }
                });
            });

            /*************************************/

        }(jQuery));

    </script>
}





@*buttons*@
<div class="buttons" style="width:100%;text-align:right;margin-top: 10px;">
    @UserHelpers.ButtonForPrintPreview("preview_warehouseDetail()")
    @UserHelpers.ButtonForSave("save_warehouseDetail()", "saveBtn", " disabled=disabled")
    @UserHelpers.ButtonForClose("close_warehouseDetail()","closeBtn")
</div>

@*title*@
<div style="width:100%;text-align:center;margin-bottom:10px;">
    @UserHelpers.Line()
    @UserHelpers.Company_Title(VT_Common.CompanyName)
    @UserHelpers.Title(VT_ProductWarehouse.ProductWarehouseTitle)
</div>
@*form*@
<div style="width:100%;text-align:center;margin-bottom: 10px;">
    <div style="width:1000px;margin:auto;text-align:left;">
        <form method="post" id="warehouseDetailForm" class="Search_Form" style="text-align:center;"> 
            <div>
                <table class="headTable" style="width:900px;margin:auto;margin-bottom: 10px;">
                    <tr>
                        <td colspan="8"></td>
                        <td style="text-align: right;">@VT_ProductWarehouse.Id：</td>
                        <td><span id="ProductWarehouseID" name="ProductWarehouseID"></span><input name="ProductWarehouseID" type="hidden"/></td>
                    </tr>
                    <tr>
                        <td>@VT_ProductWarehouse.DepartmentName：</td>
                        <td style="text-align: left;">
                            <span id="department" name="DepartmentName"></span>
                            <input type="hidden" name="DepartmentID"/>
                        </td>
                        <td></td>
                        <td>@VT_ProductWarehouse.BatherID：</td>
                        <td style="text-align: left;"><span id="BatchID" name="BatchID"></span>@*@UserHelpers.InputSimple("BatchID"," id=BatchID maxlength=20 ")*@</td>
                        <td colspan="3"></td>
                        <td style="text-align:right">@VT_ProductWarehouse.WarehouseDT：</td>
                        <td>
                            @*@Html.Raw(UserHelpers.TimeInput("WarehouseDT", "WarehouseDT"))*@
                            <input id="WarehouseDT" name="WarehouseDT" style="width: 112px;height:22px;"/>
                        </td>
                    </tr>
                </table>                
            </div>

            <div class="datagrid">
                <table id="WarehouseDetailTable"></table>
            </div>

            <div style="text-align: left;margin-top:10px;">
                <span>@VT_ProductWarehouse.WarehousePersonName：@UserHelpers.AutoSearch(Constant.AutoSearchType.USER,"WarehousePersonID","WarehousePersonName"," maxlength=20 ")</span>
                <span style="margin-left:200px;">@VT_ProductWarehouse.CheckPersonName：@UserHelpers.AutoSearch(Constant.AutoSearchType.USER,"CheckPersonID","CheckPersonName"," maxlength=20 ")</span>
                <span style="margin-left:200px;">@VT_ProductWarehouse.DispatherPersonName：@UserHelpers.AutoSearch(Constant.AutoSearchType.USER,"DispatherID","DispatherName"," maxlength=20 ")</span>
            </div>
        </form>
    </div>
</div>
@*datagrid*@

<div style="display: none;">
    <form id="warehouseDetail_DeleteForm" method="POST">
    </form>
</div>

