@{
    ViewBag.Title = "Init";
}
@using App_UI.Resource.ViewText.Common
@using App_UI.Resource.ViewText.Store
@using Model

<script type="text/javascript" src="~/Scripts/common/dialog.js"></script>

<script>
    //显示数据的表的标志
    var tableName = "#AccSuppRequisition"; //取得从csHTML中定义的表的ID
    var search_Form_Name = "#Search_Form"; //搜索form

    //带搜索图标的框
    var searchBox = function (value, name) {
        alert(value + ":" + name);
    }

    //搜索按钮
    var search = function () {
        //ajax form提交
        //$(search_Form_Name).form("submit", {
        //    url: "/Store/AccSuppRequisition/Query",
        //    //除表单外的数据(分页)
        //    onSubmit: function (param) {
        //        var pager = $(tableName).datagrid("getPager");
        //        var pagerOptions = $(pager).pagination("options");
        //        param.rows = pagerOptions.pageSize;
        //        param.page = 1;
        //    },
        //    success: function (data) {
        //        //重新加载数据
        //        $(tableName).datagrid("loadData", eval('(' + data + ')'));
        //    }
        //});
        $(tableName).datagrid("load");
    }

    //出库登录按钮跳转(尚未获取传入领料单号，详细号等参数)
    var OutLogin = function () {
        parent.addTab("出库登录", "/Store/AccOutStore/GetAccOutLogin");
    };


    //// 【供货商选择按钮】按下
    //var ShowCompInfoScreen = function () {
    //    var inputCompName = $("#OutCompanyName").val();
    //    ShowCompInfo("CompSelectDiv", 1, "", inputCompName, "");
    //};

    //// 【物料选择按钮】按下
    //var ShowProdPartInfoScreen = function (obj) {
    //    var rowObj = obj.parentNode.parentNode.parentNode
    //    editRow = $(rowObj).index();
    //    ShowProdPartInfo("ProdPartSelectDiv", "", "");
    //}

    //批准 
    //var approve = function () {
    //    //得到当前数据的外购单号
    //    var outOrderID = "";
    //    var approveUID = "";
    //    outOrderID = $("#data").val();
    //    approveUID = $("#ApproveUID").val();
    //    $.messager.confirm("", "您确定要对此外购单进行批准吗？", function (approveOK) {
    //        if (approveOK) {
    //            $.post("/Purchase/PurchaseOrder/Approve", { OutOrderID: outOrderID, ApproveUID: approveUID }, function (data) {
    //                var _data = eval('(' + data + ')');
    //                console.info(_data);
    //                if (_data.Result == true) {
    //                    window.location.reload();//刷新数据
    //                } else {
    //                    //alert("操作失败，请重新操作");
    //                    if (_data.Message != "") {
    //                        $.messager.alert("信息", _data.Message);
    //                    }
    //                }
    //            });
    //        }
    //    });
    //}

    ////审核
    //var review = function () {
    //    //得到当前数据的外购单号
    //    var check = "";
    //    var verifyUID = "";
    //    check = $("#data").val();
    //    verifyUID = $("#VerifyUID").val();
    //    $.messager.confirm("", "您确定要对此外购单进行审核吗？", function (reviewOK) {
    //        if (reviewOK) {
    //            $.post("/Purchase/PurchaseOrder/Audit", { OutOrderID: check, VerifyUID: verifyUID }, function (data) {
    //                var _data = eval('(' + data + ')');
    //                console.info(_data);
    //                if (_data.Result == true) {
    //                    window.location.reload();//刷新数据
    //                } else {
    //                    if (_data.Message != "") {
    //                        $.messager.alert("信息", _data.Message);
    //                    }
    //                }
    //            });
    //        }
    //    });
    //}


    ////打开编辑
    //var openEdit = function () {
    //    var row = $(tableName).datagrid('getRows');
    //    if (row.length > 0) {
    //        for (var i = 0 ; i < row.length; i++) {
    //            $(tableName).datagrid("beginEdit", i);
    //        }
    //    }
    //}


    ////添加行
    //var addRow = function () {
    //    var date;
    //    date = new Date();
    //    var str = date.Format("yyyy-MM-dd");
    //    var row = $(tableName).datagrid('getRows');
    //    $(tableName).datagrid("insertRow", {
    //        index: row.length, // index start with 0
    //        row: {
    //            "DeliveryDate": str//"DLY_DATE"为当前时间
    //        }
    //    });
    //    var index = row.length - 1;
    //    //将新插入的那一行开户编辑状态
    //    $(tableName).datagrid("beginEdit", index);
    //    //给当前编辑的行赋值
    //    editRow = index;
    //    setTimeout(function () {
    //        $.parser.parse(".datagrid");//解析datagrid
    //    }, 10);
    //}

    ////保存方法 新建
    //var saveCreate = function () {
    //    $.messager.confirm("友情提示", "您确定要保存画面上的内容吗？", function (deleteOK) {
    //        if (deleteOK) {
    //            var row = $(tableName).datagrid('getRows');
    //            if (row.length > 0) {
    //                //定义一个数组用于存放table中的数据
    //                var orderList = [];
    //                var selectors = ["input[name=PPNo]", "input[name=PName]", "input", "input", "input", "input", "input[class=combo-value]", "input", "input", "input"];
    //                for (var i = 0; i < row.length; i++) {
    //                    var tds = $("div.datagrid-view2").find("div.datagrid-body").find("tr.datagrid-row:eq(" + i + ")").children();
    //                    //得到每行数据
    //                    var orderk = {};
    //                    for (var k = 0; k < tds.length; k++) {
    //                        orderk[k] = $(tds[k]).find(selectors[k]).val();
    //                    }
    //                    if (orderk[0] != "" || orderk[2] != "" || orderk[3] != "" || orderk[4] != "" || orderk[5] != "" || orderk[7] != "" || orderk[8] != "" || orderk[9] != "") {
    //                        var order = {};
    //                        order["ProductPartID"] = orderk[0];
    //                        order["RequestQuantity"] = orderk[2];
    //                        order["MaterialsSpecReq"] = orderk[3];
    //                        order["UnitPrice"] = orderk[4];
    //                        order["Evaluate"] = orderk[5];
    //                        order["DeliveryDate"] = orderk[6];
    //                        order["PlanNo"] = orderk[7];//计划单号
    //                        order["VersionNum"] = orderk[8];
    //                        order["Remarks"] = orderk[9];
    //                        //将order加进orderList
    //                        orderList.push(order);
    //                    }
    //                }

    //                $.ajax({
    //                    async: true,
    //                    url: "/Purchase/PurchaseOrder/Save",
    //                    data: {
    //                        UrgentStatus: $("#UrgentStatus").combobox('getValue'),
    //                        CustomerOrder: $("#CustomerOrder").val(),
    //                        DepartmentID: $("#DepartmentID").combobox('getValue'),
    //                        OutCompanyID: $("#OutCompanyID").val(),
    //                        ApproveUID: $("#ApproveUID").val(),
    //                        VerifyUID: $("#VerifyUID").val(),
    //                        EstablishUID: $("#EstablishUID").val(),
    //                        SignUID: $("#SignUID").val(),
    //                        Remarks2: $("#RMRS").val(),
    //                        FaxNo: $("#FAXNO").val(),
    //                        orderList: orderList
    //                    },
    //                    type: "post",
    //                    success: function (data) {
    //                        var _data = eval('(' + data + ')');
    //                        if (_data.Result == true) {
    //                            $.messager.alert("信息", _data.Message);
    //                        } else {
    //                            //title：显示在标题面板的标题文本;msg：提示框显示的消息文本;icon：提示框显示的图标,可用的值是：error,question,info,warning;fn：当窗口关闭时触发的回调函数
    //                            $.messager.alert("信息", _data.Message, "info", function () {
    //                                //开启编辑
    //                                openEdit();
    //                            });
    //                            //do something another...
    //                        }
    //                    }
    //                });
    //                console.info(rowData);
    //            }
    //        }
    //    });
    //}
    ////保存方法 编辑
    //var saveEdit = function () {
    //    $.messager.confirm("友情提示", "您确定要保存画面上的内容吗？", function (deleteOK) {
    //        if (deleteOK) {
    //            var row = $(tableName).datagrid('getRows');
    //            if (row.length > 0) { //定义一个数组用于存放table中的数据
    //                var orderList = [];
    //                var remarks2 = $("#Remarks2").val();
    //                var faxNo = $("#FaxNo").val();
    //                for (var i = 0; i < row.length; i++) {
    //                    $("#purchaseOrderTable").datagrid("endEdit", i);
    //                    var order = {};
    //                    order["RowIndex"] = i;
    //                    order["ProductPartID"] = row[i].ProPartID;
    //                    order["RequestQuantity"] = row[i].RequestQuantity;
    //                    order["MaterialsSpecReq"] = row[i].MaterialsSpecReq;
    //                    order["UnitPrice"] = row[i].UnitPrice;
    //                    order["Evaluate"] = row[i].Evaluate;
    //                    order["DeliveryDate"] = row[i].DeliveryDate;
    //                    order["PlanNo"] = row[i].PlanNo;
    //                    order["VersionNum"] = row[i].VersionNum;
    //                    order["Remarks"] = row[i].Remarks;
    //                    order["CustomerOrder"] = row[i].CustomerOrder;
    //                    //将order加进orderList
    //                    orderList.push(order);

    //                }
    //                $.ajax({
    //                    async: true,
    //                    url: "/Purchase/PurchaseOrder/Save",
    //                    data: {
    //                        DepartmentID: document.getElementById("DeptName").innerHTML,
    //                        OutCompanyID: document.getElementById("CompName").innerHTML,
    //                        ApproveUID: $("#ApproveUID").val(),
    //                        VerifyUID: $("#VerifyUID").val(),
    //                        EstablishUID: $("#EstablishUID").val(),
    //                        SignUID: $("#SignUID").val(),
    //                        Remarks2: remarks2,
    //                        FaxNo: faxNo,
    //                        OutOrderID: $("#data").val(),
    //                        orderList: orderList
    //                    },
    //                    type: "post",
    //                    success: function (data) {
    //                        var _data = eval('(' + data + ')');
    //                        if (_data.Result == true) {
    //                            $.messager.alert("信息", _data.Message, "info", function () {
    //                                window.location.reload();//刷新数据
    //                            });
    //                        } else {
    //                            //title：显示在标题面板的标题文本;msg：提示框显示的消息文本;icon：提示框显示的图标,可用的值是：error,question,info,warning;fn：当窗口关闭时触发的回调函数
    //                            $.messager.alert("信息", _data.Message, "info", function () {
    //                                openEdit();
    //                            });
    //                            //do something another...
    //                        }
    //                    }
    //                });
    //            }
    //        }
    //    });
    //}

    ////跳转至打印预览页面  新建
    //var printPreviewCreate = function () {
    //    parent.addTab("外购产品计划单", "/Purchase/PurchaseOrder/PrintPreview?OutOrderID=undefined");
    //};

    ////跳转至打印预览页面,审核后才能跳转  编辑
    //var printPreviewEdit = function () {
    //    if ($("#VerifyUID").val() != "") {
    //        var temp = $("#data").val();//得到传过来的外购单号
    //        parent.addTab("外购产品计划单", "/Purchase/PurchaseOrder/PrintPreview?OutOrderID=" + temp + "");
    //    }
    //    else {
    //        alert("请先审核");
    //    }
    //};

    //获得静态数据
    //var getData = function () {
    //    var _data = [
    //         { RequOrderID: "131012HSH0031", ApplyComName: "海宁市顺惠密封件厂", ProdPartName: "密封圈 ", MaterielName: "卡簧", ApplyAcount: 10000, StorageAcount: 5000 },
    //         { RequOrderID: "131012HSH0032", ApplyComName: "海宁市顺惠密封件厂", ProdPartName: "固定板注塑", MaterielName: "固定板", ApplyAcount: 10000, StorageAcount: 9000 },
    //         { RequOrderID: "131012HSH0033", ApplyComName: "海宁市顺惠密封件厂", ProdPartName: "密封圈 ", MaterielName: "密封圈", ApplyAcount: 10000, StorageAcount: 3000 },
    //         { RequOrderID: "131012HSH0033", ApplyComName: "海宁市顺惠密封件厂", ProdPartName: "绿光", MaterielName: "固定板", ApplyAcount: 1200, StorageAcount: 4000 }
    //    ];
    //    return _data;
    //};



    //列属性:field(字段,非空) ,title(列名,非空),width(默认80),sortable(默认false),editor(默认null),formatter(默认-函数)
    //创建时的表的字段集
    var GetColumns = function () {
        var columnsCreate = [[
            ["RequOrderID", "领料单号", 80, true],
            ["ApplyComName", "请领单位", 80, true],
            ["ProdPartName", "产品零件名称", 80, true],
            ["MaterielName", "加工原料名称", 80, true],
            ["RequireAcount", "需求总量", 80, true],
            ["StorageAcount", "库存数量", 80, true]
        ]];
        return columnsCreate;
    }
    //datagrid需要关联上的表的设置
    $(function () {
        var fields = ["RequOrderID", "ApplyComName", "ProdPartName"];
        var supOrder = $("#SupOrderID").val();

        Common.Functions.createDataGrid({
            target: tableName, //datagrid需要连接的表名
            url: "/Store/AccSuppRequisition/Query?SupOrderID=" + supOrder, //需要获得向表中交互动态数据的后台路径
            columns: GetColumns(), //需要获得的表的字段集
            //idField: "RequOrderID", //
            pagination: true,
            //autoRowHeight: true,
            maxWidth: 950, //最大宽度
            maxHeight: 200, //最大高度
            checkbox: false,
            onBeforeLoad: function (queryParams) {
                //写入查询条件
                var arr = $(search_Form_Name).serializeArray();
                $.each(arr, function () {
                    queryParams[this.name] = this.value;
                });
            },
            loadFilter: function (data) {

                var _data = {};
                _data.rows = isUndefined(data.rows) ? data : data.rows;
                _data.total = isUndefined(data.total) ? data : data.total;
                return _data;
            },
            onLoadError: function () {
                alert("请求服务器失败，请刷新页面重试！");
            },
            onCreating: function (data) {
                    setTimeout(function () { mergeCells({ fields: fields, target: tableName }) }, 1);              
            }
        });
        //隐藏 客户订单号
        //$('#purchaseOrderTable').datagrid('hideColumn', 'CustomerOrder');

        //调用获得表中静态数据的方法
        //$(tableName).datagrid("loadData", getData());
    });
</script>

<div style="text-align:center;font-size:20px;">
    <!-- 页面主标题 -->
    @UserHelpers.Title(@VT_Common.CompanyName)
</div><br />

<div class="buttons" style="width:97%;text-align:right;">
    @UserHelpers.ButtonForOutStorage("OutLogin()")
    @UserHelpers.ButtonForClose("parent.closeTab(gTitle)")  
</div>

<!--分割线-->
@UserHelpers.Line()
 
<div style="text-align:center;font-size:20px;">
    <!-- 页面副标题 -->
    @UserHelpers.Title(@VT_SupplierRequisition.InitTitle)
</div><br />

<div class="div_main">
<!-- 搜索块 -->
<div id="toolbar" style="text-align:center">
    <form id="Search_Form" class="Search_Form" method ="post" >  
        <table class="table_search">
            <tr>
                <td class="title">外协调度单号：</td>
                <td colspan="3" style ="text-align :left">@UserHelpers.Input("SupOrderID")</td>
                <td colspan="4" style ="text-align :left">@UserHelpers.ButtonForSearch("search()")</td>
            </tr>
        </table>
    </form>
</div>

<!-- 显示结果块 -->
<div class="datagrid" style="text-align:center;width:100%;">
    <table id="AccSuppRequisition" ></table>
</div>

</div>

<!-- *************************************************************** 子查询画面START ******************************************************** -->
<!-- 供货商选择对话框 -->
<div class="easyui-dialog" id="DeliSelectDiv" closed="true" data-options="buttons:'#companySelect',modal:true"></div>
<div id="companySelect">
    @UserHelpers.ButtonForChoose("SelCompAndCloseDialogFun('DeliveryCompanyID', 'DeliveryCompanyName', '0', 'DeliSelectDiv')")
    @UserHelpers.ButtonForClose("CloseDialogFun('DeliSelectDiv')")
</div>
<!-- *************************************************************** 子查询画面END ******************************************************** -->