@using App_UI.Resource.ViewText.Common
@using App_UI.Resource.ViewText.Produce
@{
    ViewBag.Title = "成品待交仓一览";
}
@section head{

    <script>
        
        //搜索功能
        var searchFun = function () {
            $("#searchForm").form("submit", {
                //form提交
                url: "/Produce/PWaitingWarehouseList/Query",//"/Produce/FAScheduleBill/GetData",
                onSubmit: function (param) { //除表单外的数据(分页)
                    var pager = $("#tabPWaitHouse").datagrid("getPager");
                    var pagerOptions = $(pager).pagination("options");
                    param.rows = pagerOptions.pageSize;
                    param.page = 1;
                },
                success: function (data) {
                    $("#tabPWaitHouse").datagrid("loadData", eval('(' + data + ')')); //重新加载数据
                }
            });
        };
        //'交仓'按钮，跳转'成品交仓单'画面——潘军
        var showWarehouse = function () {
            var param = {
                DepartmentID: "", ClientOrderIDs: "", ClientOrderDetails: "", TeamIDs: "", OrderProductIDs: "", ProductSpecifications: "",
                QualifiedQuantitys: "",EachBoxQuantitys:"",BoxQuantitys:"",RemianQuantitys:"",AssembleDispatchIDs:""
            };           
         
            var selectedRows = $('#tabPWaitHouse').datagrid("getSelections");           
            var selectedLen = selectedRows.length;
            if (selectedLen > 0) {
                for (var i = 0; i < selectedLen; i++) {
                    param.DepartmentID += selectedRows[i].DepartmentID + ",";//生产部门
                    param.OrderProductIDs += selectedRows[i].ProductType + ",";//产品型号 
                    param.ClientOrderIDs += selectedRows[i].CustomerOrderID + ",";//客户订单号
                    param.ClientOrderDetails += selectedRows[i].ClientOrderDetail + ",";//客户订单详细
                    param.TeamIDs += selectedRows[i].TeamIDs + ",";//班组
                    param.QualifiedQuantitys += selectedRows[i].WarehouseQuantityAvailable + ",";//可交仓数
                    param.ProductSpecifications += selectedRows[i].Specification + ",";//规格
                    param.EachBoxQuantitys += selectedRows[i].Packing + ",";//每箱数
                    param.BoxQuantitys += selectedRows[i].Cartons + ",";//箱数
                    param.RemianQuantitys += selectedRows[i].Odd + ",";//零头
                    param.AssembleDispatchIDs += selectedRows[i].AssemblyOrderNo + ",";//总装调度单号
                }
                for (var i = 0; i < selectedLen; i++) {
                    for (var p in param) {
                        param[p] = param[p].replace(/,$/, "");//去掉最后一个逗号
                    }
                    var qual = param.QualifiedQuantitys.split(',');//取"可交仓数"值,数组的形式
                    for (var k = 0; k < qual.length; k++) {//判断当"可交仓数"有小于0时，数据不提交
                        if (qual[i] < 0) {
                            $.messager.alert("友情提示", "选择的可交仓数量必须要大于0");
                            return false;
                        }              
                           $.post("/Produce/ProductWarehouse/Add", param,
                                    function (data) {
                                        var _data = eval('(' + data + ')');
                                        console.info(_data);
                                        if (_data.result.result == true) {
                                            @*$.messager.alert("@VT_Common.Info", data.Message);*@
                                             $("#tabPWaitHouse").datagrid("reload");
                                            setTimeout(function () {
                                                parent.addTab("成品交仓单修改", "../Produce/ProductWarehouse/UpdateDetail/?productWarehouseID=" + _data.result.backId);
                                                //$.parser.parse(".datagrid");//解析datagrid
                                            }, 900);                                            
                                            
                                        } else {
                                            $.messager.alert("信息", _data.Message);
                                            //do something another...
                                        }
                                    });                       
                        //}
                        //else { $.messager.alert("友情提示", "选择的可交仓数量必须要大于0") }
                    } 
                }
                       
            }
            else {
                $.messager.alert("友情提示", "请选择一条记录");
                    }           
        }

        //关闭当前标签
        var closeFun = function () {
            parent.closeTab();
            //closeTab();
        };


        //转到新增页面
        var showNewFun = function () {
        };
        
        
        //单击表格‘总装调度单号’到对应的调度单页面
        
        var showDetailAssemblyFun = function (AssemblyOrderNo) {        
            parent.addTab("总装调度单打印预览", "/Produce/FAScheduleBill/PrintPreview?id=" /*"../Produce/FAScheduleBill/UpdateBill?id="*/ + AssemblyOrderNo);
           // AssemblyFunPageStyleFunction();
        };

       /***********放大镜功能 开始***************/
        //客户订单号放大镜按钮
        var ShowSearchScreen = function () {
            //取得画面上输入的供货商信息
           // var txtCustomerOrderNum = $('#txtCustomerOrderNum').val();
            // popup弹出客户订单号选择画面。
            alert(this);
        }

        //调度单号放大镜按钮
        var ShowSchedulOrderSearchScreen = function () {
            alert(this);
        }
        //产品型号放大镜按钮，添加产品型号(即产品略称)
        var Show_ProductTypeFun = function () {
            $("#_dlgProductTypDiv").dialog({                
                buttons: "#btnCOID",
                cache: false,
                height: 450,
                href: "/Technology/ProdInfo/ShowProdInfoDialog?singleSelect=true",
                modal: true,
                width: 900,
                title: "<span style=\" font-family:Tahoma,Verdana,微软雅黑,新宋体;font-size:16px;margin:0px;padding:0px; \">产品信息一览</span>"
            });
            $("#_dlgProductTypDiv").dialog("open");
            //$("#_dlgProductTypDiv").dialog("move", { top: $(document).scrollTop() + ($(window).height() - 250) * 0.5 });
        };        
        var Add_ProductTypeFun = function () {
            //遍历弹出框中所选择的记录
            for (var i = 0; i < $("#ProdInfoDialogTable").datagrid("getSelections").length; i++) {
                $("#ProductType").val($("#ProdInfoDialogTable").datagrid("getSelections")[i]["ProductAbbreviation"]); //设置隐藏输入框 ClientID 值
            }
            Close_DialogFun(1); //关闭弹出框
        };

        var Close_DialogFun = function (paraDialogNO) {
            if (paraDialogNO == "1") {
                $("#_dlgProductTypDiv").dialog("close");
            }
        };
        /***********放大镜功能 结束***************/
       


        //列属性:field(字段,非空) ,title(列名,非空),width(默认80),sortable(默认false),editor(默认null),formatter(默认-函数)
        var columns = [[
            ["AssemblyOrderNo", "总装调度单号", 120, true,null, function (value, row, index) {
                var htmlStr = "";
                htmlStr += ("<a href='javascript:void(0);' onclick=\"showDetailAssemblyFun('" + value + "')\">" + value + "</a>");
                return htmlStr;
            }],
            ["CustomerOrderID", "客户订单号", 100, true],
            ["ProductType", "产品型号", 100, true],
            ["WarehouseQuantityAvailable", "可交仓数量", 100, true],
            ["Specification", "规格", 100, true],
            ["Unit", "单位", 100, true],
            ["Packing", "每箱数量", 100, true, null],
            ["Cartons", "箱数", 100, true, null],
            ["Odd", "零头", 100, true, null],
            ["ClientOrderDetail", "", null, false],//隐藏项 客户订单详细
            ["TeamIDs", "", null, false],//隐藏项 班组 
            ["BoxQuantitys", "", null, false],//隐藏项 成品交仓单的’箱数‘
            ["RemianQuantitys", "", null, false],//隐藏项 成品交仓单的‘零头’
            ["WarehouseLineNO_NO", "", null, false],//隐藏项 交仓单号
            ["DepartmentID", "", null, false]//隐藏项 部门
        ]];

        $(function () {
            Common.Functions.createDataGrid({
                //创建datagrid,详细内容参见functions.js
                target: $("#tabPWaitHouse"),//table容器,必须
                url: "/Produce/PWaitingWarehouseList/Query", //"/Admin/UserInfo/Get",//获取数据的地址,必须——潘军
                columns: columns,//列属性,必须
                //idField: "AssemblyDispatchID",//标识字段
                //toolbar: $("#toolbar"),//工具栏
                checkbox: true,//是否显示checkbox
                maxWidth: 960,//最大宽度
                maxHeight: 200,//最大高度
                //pageSize: 10,
                //pageList: [5, 10, 20, 30],
                onBeforeLoad: function (queryParams) { //可以添加一些额外参数,主要用于查询条件
                   /* var arr = $("#searchForm").serializeArray();
                    $.each(arr, function () {
                        queryParams[this.name] = this.value;
                    });*/
                },
                onLoadError: function () {
                    alert("请求服务器失败，请刷新页面重试!");
                },
                onCreating: function (data) { //数据成功加载
                    //do something...
                }
            });
            
            $('#tabPWaitHouse').datagrid('hideColumn', 'ClientOrderDetail');//隐藏 客户订单详细
            $('#tabPWaitHouse').datagrid('hideColumn', 'BoxQuantitys');//隐藏项 班组
            $('#tabPWaitHouse').datagrid('hideColumn', 'TeamIDs');//隐藏项 成品交仓单的’箱数‘
            $('#tabPWaitHouse').datagrid('hideColumn', 'RemianQuantitys');//隐藏项 成品交仓单的‘零头’
            $('#tabPWaitHouse').datagrid('hideColumn', 'WarehouseLineNO_NO');//隐藏项 交仓单号
            $('#tabPWaitHouse').datagrid('hideColumn', 'DepartmentID');//隐藏项    生产部门        
           /* $($("#tabPWaitHouse")).datagrid("loadData", {
                rows: getDatas(), total: 5
            });

            $("#PostWarehouse").bind('click', "");
            $("#btnClose").bind('click', "");*/
        });

    </script>
}
<div class="buttons" style="width: 100%; text-align: right;">
    <!--<a id="PostWarehouse" class="easyui-linkbutton" iconcls="icon-add" onclick="showFAPlan()">交仓</a>-->
    @UserHelpers.ButtonForWarehouse("showWarehouse()","WarehouseButton_id","")
    @UserHelpers.ButtonForClose("closeFun()","btnClose")    
</div>
<!--水平线-->
@UserHelpers.Line()     
@UserHelpers.Company_Title("杭州雷迪克汽车部件制造有限公司")
@UserHelpers.Title("成品待交仓一览")
<br />
    <div id="toolbar" style="margin: auto;" class="div_search">
        <form id="searchForm" method="post" class="Search_Form">
            <table class="table_search">
                <tr>
                    <td style="padding-left:70px;">生产单元:</td>
                    <td>@UserHelpers.SelectWidget("00009","txtProductionUnits","txtProductionUnits")</td>
                        @* @UserHelpers.SelectDepartment("00009","txtProductionUnits","txtProductionUnits")*@                                      
                      <td style="padding-left:280px;">&nbsp;&nbsp;&nbsp;产品型号:</td>
                    <td>@UserHelpers.Input("ProductType","ProductType","Show_ProductTypeFun()","","","")</td> 
                </tr>
                <tr>                
                    <td style="padding-left:70px;">调度单号:</td>
                    <td>@UserHelpers.Input("txtSchedulOrder","txtSchedulOrder","ShowSchedulOrderSearchScreen()","","","")</td> 
                    <td style="padding-left:280px;">客户订单号:</td>
                    <td>@UserHelpers.Input("txtCustomerOrderNum","txtCustomerOrderNum","ShowSearchScreen()","","","")</td>                 
                    <td style="padding-left:30px;">@UserHelpers.ButtonForSearch("searchFun()", "Search")</td>                  
                </tr>
            </table>
        </form>
    </div>
<div class="datagrid" style="text-align: center; width: 100%;">
    <table id="tabPWaitHouse"></table>
</div>

<!-- Dialog -->
<div id="dlgDiv">
    <div class="easyui-dialog" id="_dlgProductTypDiv" closed="true">
        <div id="btnCOID">@UserHelpers.ButtonForAdd("Add_ProductTypeFun()")
            <span style="display: inline-block; margin: 0px; padding: 0px; width: 10px;"></span>
            @UserHelpers.ButtonForClose("Close_DialogFun(1)")
        </div>
    </div>
</div>

