@section head{
    <script src="~/Scripts/common/dialog.js" type="text/javascript"></script>


    <!---- style ---->
    <style type="text/css">
        #ShowAccOutStoreLayoutDIV{
            margin:0px;
            padding:0px;
            text-align:center;

            /*border:1px solid blue;*/
        }

        #ShowAccOutStoreLayoutDIV span{
            margin:0px;
            padding:0px;

            /*border:1px solid blue;*/
	    }


        /* Button Layout */
        #ShowAccOutStoreLayoutDIV .FunctionButton_Area .CloseButton_Menument{
            margin: 0px 5px;
        }


        /* Title Layout */
        #ShowAccOutStoreLayoutDIV .PageTitle_div{
            margin:0px;
            padding:0px;

            /*border:1px solid blue;*/
        }


        /* Form Layout */
        #ShowAccOutStoreLayoutDIV .Search_Form{
            margin:2% 0px 0px 0px;
            padding:0px;

            /*border:1px solid blue;*/
        }

        #ShowAccOutStoreLayoutDIV .Search_Form div{
            margin:0px auto;
            padding:0px;
            text-align:left;
            width:888px;

            /*border:1px solid blue;*/
        }

        #ShowAccOutStoreLayoutDIV .Search_Form #AOSSearch{
            margin:0px 0px 0px 16.2%;
            padding:0px;
        }


        /* Table Layout */
        #ShowAccOutStoreLayoutDIV .ShowTableDIV{
            margin:0.5% 0px 0px 0px;
            padding:0px;
            text-align:left;

            /*border:1px solid blue;*/
        }

    </style>


    <!-- javascript -->
    <script>
        (function ($) {

            /********* 功能函数 *********/
            //关闭
            window.AOSCloseFun = function () {

            } //end AOSCloseFun

            //查询
            window.AOSSearchFun = function () {
                $("#AOSSearchForm").form("submit", { //ajax form提交
                    url: "/Store/AccOutStore/Get",
                    //事件
                    onSubmit: function (param) { //除表单外的数据(分页)
                        var pager = $("#AccOutStoreTable").datagrid("getPager");
                        var pagerOptions = $(pager).pagination("options");
                        param.rows = pagerOptions.pageSize;
                        param.page = 1; //pagerOptions.pageNumber;
                    }, //end onSubmit
                    success: function (data) {
                        $("#AccOutStoreTable").datagrid("loadData", eval("(" + data + ")"));//重新加载数据
                    } //end success
                });
            } //end AOSSearchFun

            //弹出框
            window.AOSShowProdPartInfoScreenByName = function () {
                ShowProdPartInfo("AOSProdPartSelectDIV", "", $("#MaterielName").val());
            } //end AOSShowProdPartInfoScreenByName

            //出库
            window.AccOutFun = function () {
                if ($("#AccOutStoreTable").datagrid("getSelections").length <= 0) { //判断是否有纪录选中
                    $.messager.alert("友情提示", "请选择出库数据! ");
                    return;
                }

                var materReqNOArr = $("#AccOutStoreTable").datagrid("getSelections")[0]["MaterReqNO"]; //设置，初始化领料单号结果集

                for (var index = 1; index < $("#AccOutStoreTable").datagrid("getSelections").length; index++) { //遍历表格 AccOutStoreTable 选中纪录
                    materReqNOArr = materReqNOArr + "," + $("#AccOutStoreTable").datagrid("getSelections")[index]["MaterReqNO"]; //获取领料单号 
                }

                $.messager.confirm("友情提示", "确认出库?", function (result) {
                    if (result) {
                        parent.addTab("出库登录(半成品库)", "/Store/AccOutStore/AccOutLogin?materReqNOArr=" + materReqNOArr);
                    }
                });
            } //end AccOutFun


            /********* 表格函数 *********/
            var AOSGetColumnsFun = function () {
                var getColumns = [[
                    ["MaterReqNO", "领料单", 150, true, null, function (value, rowData, rowIndex) {
                        rowData["checkbox"] = rowData["MaterReqNO"];
                        return value;
                    }],
                    ["MaterReqDetailNO", "领料单详细号", 100, true],
                    ["DeptName", "请领单位", 100, true],
                    ["AppoQuantity", "请领数量", 100, true],
                    ["MaterielName", "物料名称", 300, true],
                    ["RequestDate", "申请领料日期", 100, true]
                ]];
                return getColumns;
            } //end AOSGetColumnsFun


            /********* 页面加载 *********/
            $(function () {
                Common.Functions.createDataGrid({//创建datagrid,详细内容参见functions.js
                    checkbox: true,
                    checkOnSelect: true,
                    columns: AOSGetColumnsFun(),
                    fitColumns: true,
                    idField: "MaterReqNO",
                    loadFilter: function (data) {
                        var accOutStoreLoadFilter = {};
                        accOutStoreLoadFilter.rows = data.rows ? data.rows : data;
                        accOutStoreLoadFilter.total = data.total ? data.total : 0;

                        AdaptDt(this, accOutStoreLoadFilter.rows, "RequestDate"); //设置字段 RequestDate 显示日期格式

                        setTimeout(function () {
                            if ($("td").hasClass("datagrid-td-merged")) return; mergeCells({ fields: ["checkbox", "MaterReqNO"], target: $("#AccOutStoreTable") });
                        }, 10); //合并单元格

                        return accOutStoreLoadFilter;
                    },
                    maxWidth: 888,
                    selectOnCheck: true,
                    target: "#AccOutStoreTable",
                    url: "/Store/AccOutStore/Get",
                    //事件
                    onBeforeLoad: function (queryParams) {//可以添加一些额外参数,主要用于查询条件
                        var arr = $("#AOSSearchForm").serializeArray();
                        $.each(arr, function () {
                            queryParams[this.name] = this.value;
                        });
                    }, //end onBeforeLoad
                    onClickRow: function (rowIndex, rowData) {
                        return false;
                    }, //end onClickRow
                    onCreating: function (data) {
                        return false;
                    }, //onCreating
                    onDblClickRow: function () {
                        return false;
                    }, //end onDblClickRow
                    onLoadError: function () {
                        $.messager.alert("友情提示", "请求服务器失败，请刷新页面重试! ");
                    }, //end onLoadError
                    onSelect: function (rowIndex, rowData) {
                        if (!rowData) { //判断表 AccOutStoreTable 是否有数据
                            return false;
                        }

                        var materReqNO = rowData["MaterReqNO"]; //获取字段 MaterReqDetailNO

                        for (var index = 0 ; index < $("#AccOutStoreTable").datagrid("getRows").length; index++) { //遍历表格
                            if ($("#AccOutStoreTable").datagrid("getRows")[index]["MaterReqNO"] == materReqNO) { //判断字段 MaterReqNO 是否相同
                                var trID = "#datagrid-row-r1-2-" + index; //获取行ID
                                $(trID).addClass("datagrid-row-selected"); //设置选中样式
                            }
                        }

                        $("[value=\"" + materReqNO + "\"]:checkbox").prop("checked", true); //设置控件 checkbox 为勾选状态   
                    }, //end onSelect
                    onUnselect: function (rowIndex, rowData) {
                        if (!rowData) { //判断表 AccOutStoreTable 是否有数据
                            return false;
                        }

                        var materReqNO = rowData["MaterReqNO"]; //获取字段 MaterReqDetailNO

                        for (var index = 0 ; index < $("#AccOutStoreTable").datagrid("getRows").length; index++) { //遍历表格
                            if ($("#AccOutStoreTable").datagrid("getRows")[index]["MaterReqNO"] == materReqNO) { //判断字段 MaterReqNO 是否相同
                                var trID = "#datagrid-row-r1-2-" + index; //获取行ID
                                $(trID).removeClass("datagrid-row-selected"); //设置选中样式
                            }
                        }

                        $("[value=\"" + materReqNO + "\"]:checkbox").prop("checked", false); //设置控件 checkbox 为非勾选状态
                    } //on onUnselect
                });
            }) //end $(function (){})

        }(jQuery));
    </script>
}


<!-- layout -->
<div id="ShowAccOutStoreLayoutDIV">
    <!-- Button -->
    <div class="FunctionButton_Area">@UserHelpers.ButtonForOutStorage("AccOutFun()")@if (Model == 1) { @UserHelpers.ButtonForClose("AOSCloseFun()") }</div>


    <!-- Line -->
    <div class="LevelLine_div"><hr /></div>


    <!-- Title -->
    <div class="PageTitle_div"><span>待出库一览</span></div>


    <!-- Form -->
    <form class="Search_Form" id="AOSSearchForm" method="post" name="AOSSearchForm">
        <div><span style="display:inline-block;text-align:right;width:12.2%;">领料单：</span>@UserHelpers.InputReadOnly("MaterReqNO","ShowAOSDialog()")<span style="margin:0px 0px 0px 2%;">请领单位：</span>@UserHelpers.InputReadOnly("DeptID","ShowDialogFun()")<span style="margin:0px 0px 0px 2%;">物料名称：</span>@UserHelpers.Input("MaterielName","AOSShowProdPartInfoScreenByName();")<input id="MaterielID" name="MaterielID" type="hidden" /></div>
        <div style="margin-top:1%;"><span style="display:inline-block;text-align:right;width:12.2%;">申请领料日期：</span>@UserHelpers.TimeInput("StartRequestDate")<span style="display:inline-block;text-align:center;width:10.4%;">~</span>@UserHelpers.TimeInput("EndRequestDate")@UserHelpers.ButtonForSearch("AOSSearchFun()","AOSSearch")</div>
    </form>


    <!-- Table -->
    <div class="ShowTableDIV">
        <table id="AccOutStoreTable"></table>
    </div>


    <!-- Dialog -->
    <div class="easyui-dialog" id="AOSProdPartSelectDIV" closed="true" data-options="buttons:'#AOSProdPartSelectButtonsDIV',modal:true"></div>
    <div id="AOSProdPartSelectButtonsDIV">@UserHelpers.ButtonForChoose("SelProdPartAndCloseDialogFun(\"\", \"MaterielID\", \"MaterielName\", \"0\", \"AOSProdPartSelectDIV\")")@UserHelpers.ButtonForClose("CloseDialogFun(\"AOSProdPartSelectDIV\")")</div>

</div>



@*
@model int

<link rel="stylesheet" href="~/Content/css/Store/AccStore.css">
<script>

    var tableName = "#userTable";//待修改
    var formName = "#searchForm";//待修改
    //var form4Add = "#form4Add";
    //var form4Update = form4Add;

    //var model = ["add", "update"];
    //var addOrUpdate;//标志:添加还是修改

    //var Id;//暂存修改时的id(主键)

    //根据Enable修改某条记录
    var updateInfos = function () {
        var row = $(tableName).datagrid('getSelections');
        if (row.length > 0) {
            var checkPickListID = "";
            var checkMaterielID = "";
            var checkPickListDetNo = "";
            for (var i = 0; i < row.length; i++) {
                checkPickListID += row[i].PickListID + ",";
                checkMaterielID += row[i].MaterielID + ",";
                checkPickListDetNo += row[i].PickListDetNo + ",";
            }
            checkPickListID = checkPickListID.substring(0, checkPickListID.length - 1);
            checkMaterielID = checkMaterielID.substring(0, checkMaterielID.length - 1);
            checkPickListDetNo = checkPickListDetNo.substring(0, checkPickListDetNo.length - 1);
            //发送异步请求传递给后台我们所选中的数据
            $.messager.confirm("友情提示", "确认出库?", function (updateOK) {
                if (updateOK) {
                    loginInfos(checkPickListID, checkMaterielID, checkPickListDetNo);
                    //$.post("/Store/AccOutStore/Edit", { Id: checkID }, function (data) {
                    //    var _data = eval('(' + data + ')');
                    //    console.info(_data);
                    //    if (_data.result == true) {
                    //        $(tableName).datagrid("reload");
                           
                    //    } else {
                    //        $.messager.alert("友情提示", "出库失败! " + data);
                    //        //do something another...
                    //    }
                    //});
                }
            });
            row.length = 0;
          
        } else {
             $.messager.alert("友情提示", "请选择出库数据! ");
        }
    };

    //文本框点击事件
    function SearchBox(value, name) {
        alert(value + ":" + name)
    }

    //转到新增页面
    var loginInfos = function (checkPickListID, checkMaterielID, checkPickListDetNo) {
            //var $tabs = parent.$("#tabs");
            //var $tab = parent.$("#tabs").tabs("getSelected");
            //$tabs.tabs("update", {
            //    tab: $tab,
            //    options: {
            //        href: "/Store/AccOutStore/AccOutLogin?pid=" + checkDeliverId,
            //    }
            //});
        parent.addTab("出库登录", "/Store/AccOutStore/AccOutLogin?pickListID=" + checkPickListID + "&materielID=" + checkMaterielID + "&pickListDetNo=" + checkPickListDetNo + "");
    }

    //搜索
    var searchFun = function () {
        $(formName).form("submit", {//ajax form提交
            url: "/Store/AccOutStore/Get",
            onSubmit: function (param) {//除表单外的数据(分页)
                var pager = $(tableName).datagrid("getPager");
                var pagerOptions = $(pager).pagination("options");
                param.rows = pagerOptions.pageSize;
                param.page = 1;//pagerOptions.pageNumber;
            },
            success: function (data) {
                $(tableName).datagrid("loadData", eval('(' + data + ')'));//重新加载数据
            }
        });
    }

    //列属性:field,title,width,sortable,editor,formatter
    var columns = [[
        ["PickListID", "领料单", 200, true],
        ["PickListDetNo", "领料单<br/>详细号", 70, true],
        ["CallinUnitID", "请领单位", 220, true],
        ["MaterielName", "物料名称", 150, true],
        ["PickListDate", "申请领料日期", 200, true, true, function (value, row, index) {
            var date;
            var strDt = (value + "").replace(/\/Date\(/, "").replace(/\)\//, "");
            if (isNaN(strDt)) {
                date = strDt.ToDate();
            } else {
                date = new Date(strDt.ToInt());
            }
            var str = date.Format("yyyy/MM/dd hh:mm");
            row.Paydate = str;
            return str;
        }]

    ]];

    $(function () {
        Common.Functions.createDataGrid({//创建datagrid,详细内容参见functions.js
            target: tableName,
            url: "/Store/AccOutStore/Get",
            columns: columns,
            idField: "MaterielID",
            toolbar: $("#toolbar"),//工具栏 
            checkbox: true,//是否显示checkbox
            maxWidth: 950,
            maxHeight: 200,
            onBeforeLoad: function (queryParams) {//可以添加一些额外参数,主要用于查询条件
                var arr = $(formName).serializeArray();
                $.each(arr, function () {
                    queryParams[this.name] = this.value;
                });
            },
            onLoadError: function () {
                $.messager.alert("友情提示", "请求服务器失败，请刷新页面重试! "); 
            },
            onCreating: function (data) {
                //do something...
            },
            onClickRow:function onClickRow(index){  

                    //if (editIndex != index){  

                    //        if (endEditing()){  

                    //                $(tableName).datagrid('selectRow', index).datagrid('beginEdit', index);  
                    //                  editIndex = index;  

                    //        } else {  

                    //            $(tableName).datagrid('selectRow', editIndex);  

                    //        }  

                    //   }  

                }  

        });

   
    });

</script>

<div class="buttons" style="width:100%;text-align:right;"><br />
    <a href='javascript:void(0);' class='easyui-linkbutton' iconCls='icon-remove' onclick='updateInfos();'>出库</a>

    @if (Model == 1) { //拥有新建权限
    <a class="easyui-linkbutton" iconCls='icon-cancel' onclick='parent.closeTab(gTitle);'>关闭</a>
}
    <span style="width:100px;margin-right:10%">&nbsp;</span>
</div>
<div style="width:100%;margin:20px 0;">
    <hr style="width:100%;color:#95B8E7"/>
</div>
<div style="width:100%;text-align:center;">
    <h2>待出库一览</h2>
</div>
<div style="width:100%;text-align:center;margin-bottom:12px;">
    <div style="width:95%;margin:auto;text-align:left;">
    <form id='searchForm' method='post'>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        领料单：<input id='PickListID"'class="easyui-searchbox" style="width:100px"data-options="searcher:SearchBox,prompt:'',menu:'#mm'"  name='PickListID"'/>
        &nbsp;&nbsp;请领单位：<input id='CallinUnitID'class="easyui-searchbox" style="width:100px"data-options="searcher:SearchBox,prompt:'',menu:'#mm'"  name='CallinUnitID'/>
        &nbsp;&nbsp;物料名称：<input id='MaterielID'class="easyui-searchbox" style="width:100px"data-options="searcher:SearchBox,prompt:'',menu:'#mm'"  name='MaterielID'/><br /><br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        申请领料日期：<input id='StartPickListDate'style="width:110px" type='text' class='easyui-datebox' name='StartPickListDate'/>&nbsp;~&nbsp;<input id='EndPickListDate'style="width:110px" type='text' class='easyui-datebox' name='EndPickListDate'/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class='easyui-linkbutton' href='javascript:void(0);' onclick='searchFun();'>查询</a>
    </form>
</div>
    </div>
<div class="datagrid" style="text-align:center;width:100%;">
    <table id="userTable"></table>
</div>

*@
