@using App_UI.Resource.ViewText.Market;
@using Model;

@section head{
    <!-- style -->
    <style type="text/css">
        #AddOrderBillLayoutDIV{
            margin:0px;
            padding:0px;
            text-align:center;

            /*border:1px solid blue;*/
        }

        #AddOrderBillLayoutDIV span{
            margin:0px;
            padding:0px;

            /*border:1px solid blue;*/
	    }

        /* Button Layout */
        #AddOrderBillLayoutDIV .FunctionButton_Area .CloseButton_Menument{
            margin:0px 5px;
        }


        /* Title Layout */
        #AddOrderBillLayoutDIV .PageTitle_div{
            margin:0px;
            padding:0px;

            /*border:1px solid blue;*/
        }


        /* ErrorMessage Layout */
        #AddOrderBillLayoutDIV #ErrorMessageDIV{
            color: red;
            display: none;
            margin: 0px;
            padding: 0px 0px 0px 7%;
            text-align: left;
        }

        /* Form Layout */
        #AddOrderBillLayoutDIV .Search_Form{
            margin:0px auto;
            padding:0px;
            width:1046px;

            /*border:1px solid blue;*/
        }

        /* Middle Layout */
	    #AddOrderBillLayoutDIV .Search_Form .MiddleDIV{
		    margin:2% 0px 0px 0px; 
		    padding:0px;
            text-align:center;
            width:100%;

		    /*border:1px solid blue;*/
	    }

        #AddOrderBillLayoutDIV .Search_Form .MiddleDIV hr{
		    border:none;
            border-top:1px dashed;
            height:1px;
		    padding:0px;
            text-align:left;
            width:42%;
	    }
	
        #AddOrderBillLayoutDIV .Search_Form .MiddleDIV .InfoInputDIV{
		    margin:2% 0px 0px 0px;
            text-align:left;

            /*border:1px solid blue;*/
	    }

        /* Middle LeftSide Layout */
        #AddOrderBillLayoutDIV .Search_Form .MiddleDIV .LeftSideDIV{
		    display:inline-block;
            margin:0px;
		    padding:0px;
		    width:48%; 

		    /*border:1px solid blue;*/
	    }
    
        #AddOrderBillLayoutDIV .Search_Form .MiddleDIV .LeftSideDIV .ProduceCellDIV{
		    margin:0px;
		    padding:0px 0px 0px 13.5%;
            text-align:left;

		    /*border:1px solid blue;*/
	    }

        #AddOrderBillLayoutDIV .Search_Form .MiddleDIV .LeftSideDIV .ProduceCellDIV #ProduceCellNameSpan{
            display:inline-block;
            text-align:center;
            width:42%;

            /*border:1px solid blue;*/
	    }
		
        #AddOrderBillLayoutDIV .Search_Form .MiddleDIV .LeftSideDIV .ProduceCellDIV hr{
		    margin:0px 0px 0px 47.6%;

            /*border:1px solid blue;*/
	    }
	
        #AddOrderBillLayoutDIV .Search_Form .MiddleDIV .LeftSideDIV .InfoInputDIV{
		    padding:0px 0px 0px 13.5%;

		    /*border:1px solid blue;*/
	    }

        /* Middle RightSide Layout */
	    #AddOrderBillLayoutDIV .Search_Form .MiddleDIV .RightSideDIV{	
            display:inline-block;
            margin:0px 0px 0px 2%;
		    padding:0px;
		    width:48%;
    
		    /*border:1px solid blue;*/
	    }

        #AddOrderBillLayoutDIV .Search_Form .MiddleDIV .RightSideDIV .ClientOrderIDDIV{
		    margin:0px;
		    padding:0px 0px 0px 44%;
            text-align:left;
            
            /*border:1px solid blue;*/
	    }
			
	    #AddOrderBillLayoutDIV .Search_Form .MiddleDIV .RightSideDIV .InfoInputDIV{
		    padding:0px 0px 0px 44%;

            /*border:1px solid blue;*/
	    }

        /* Table Layout */
        #AddOrderBillLayoutDIV .Search_Form .ContentManageDIV{
            margin:2% 0px 0px 0px;
            padding:0px;
            text-align:left;

            /*border:1px solid blue;*/
        }

        #AddOrderBillLayoutDIV .Search_Form .ContentManageDIV #AddODPS,#AddODS{ 
		    margin:0px 0px 0px 49.6%;
            padding:0px;
        }

        #AddOrderBillLayoutDIV .Search_Form .ContentManageDIV .LabelSpan{
            display:inline-block;
            margin:0px 0px 0px 7.2%;
            padding:0px;
            width:30%;

            /*border:1px solid blue;*/
        }   

        #AddOrderBillLayoutDIV .Search_Form .ContentManageDIV #OtherMatter,#PackageRequire{
            height:100px;
            margin:0px;
            overflow:auto;
            resize:none;
            padding:0px;
            width:912px; 
        }

        #AddOrderBillLayoutDIV .Search_Form .ContentManageDIV .SetCenterDIV{
            margin:0 auto;
            padding:0px;
            width:912px;
        }


        /* Foot Layout */
        #AddOrderBillLayoutDIV .FootInfoInputDIV{
            margin:2% 7% 0px 0px;
            padding:0px;
            text-align:right;

            /*border:1px solid blue;*/
        }

        #AddOrderBillLayoutDIV .FootInfoInputDIV span{
            display:inline-block;

            /*border:1px solid blue;*/
        }

    </style>

    <!-- javascript -->
    <script>
        (function ($) {
            /********* 功能函数 *********/

            //添加弹出框选中数据
            window.AddMarketClientInfoFun = function () {
                //遍历弹出框中所选择的记录
                for (var i = 0; i < $("#MarketClientInfoDialogTable").datagrid("getSelections").length; i++) {
                    $("#ClientName").val($("#MarketClientInfoDialogTable").datagrid("getSelections")[i]["ClientName"]); //设置输入框 ClientName 值
                    $("#ClientID").val($("#MarketClientInfoDialogTable").datagrid("getSelections")[i]["ClientID"]); //设置隐藏输入框 ClientID 值
                }
                CloseDialogFun(1); //关闭弹出框
            } //end AddMarketClientInfoFun

            window.AddODTRowFun = function () {
                UpdateODPTTextFun(); //更新表 OrderDetailPrintTable 文本框中的值更新至单元格

                var oDPTArr = $("#OrderDetailPrintTable").datagrid("getData"); //获取表 OrderDetailPrintTable 已载入数据

                //判断表 OrderDetailPrintTable 是否有数据，如果没有且弹出框有选中项，则先清空初始数据
                if (FindRowODTFun("OrderDetailPrintTable") == 0 && $("#OrderDetailDialogTable").datagrid("getSelections").length > 0) {
                    oDPTArr.rows = [];
                }

                //遍历弹出框中所选择的记录
                for (var i = 0; i < $("#OrderDetailDialogTable").datagrid("getSelections").length; i++) {
                    var clientOrderDetail = $("#OrderDetailDialogTable").datagrid("getSelections")[i]["ClientOrderDetail"]; //获取字段 ClientOrderDetail 值
                    var productID = $("#OrderDetailDialogTable").datagrid("getSelections")[i]["ProductID"]; //获取字段 ClientOrderDetail 值
                    var productAbbreviation = $("#OrderDetailDialogTable").datagrid("getSelections")[i]["ProductAbbreviation"]; //获取字段 ProductAbbreviation 值
                    oDPTArr.rows.push({ ClientOrderDetailPrint: clientOrderDetail, MODPProductID: productID, ProductAbbreviation: productAbbreviation, Position: "", Content: "", Operation: "删除" }); //添加一条数据
                }// end for

                $("#OrderDetailPrintTable").datagrid("loadData", oDPTArr); //表 OrderDetailPrintTable 重新载入数据 
                //setTimeout(function () { $.parser.parse("#OrderDetailPrintDIV"); }, 10); //实现 Datebox、Numberbox等输入框的功能
                CloseDialogFun(3); //关闭弹出框
            } //end AddODTRowFun

            window.AddProdInfoFun = function () {
                UpdateODTTextFun(); //更新表 OrderDetailTable 输入框中的值至单元格
                UpdateODPTTextFun(); //更新表 OrderDetailPrintTable 输入框中的值至单元格
                //UpdateODCTTextFun(); //更新表 OrderDetailColorTable 输入框中的值至单元格
                
                var oDTArr = $("#OrderDetailTable").datagrid("getData"); //获取表 OrderDetailTable 已载入数据
                var rowIndex = FindRowODTFun("OrderDetailTable"); //获取表 OrderDetailTable 要插入的行数，也用来设置字段 ClientOrderDetail 值
                if (rowIndex == 0 && $("#ProdInfoDialogTable").datagrid("getSelections").length > 0) { //判断表 OrderDetailTable 是否有数据，如果没有且有弹出框有选中项，则先清空初始数据
                    oDTArr.rows = [];
                }
                var oDPTArr = $("#OrderDetailPrintTable").datagrid("getData"); //获取表 OrderDetailPrintTable 已载入数据
                if (FindRowODTFun("OrderDetailPrintTable") == 0 && $("#ProdInfoDialogTable").datagrid("getSelections").length > 0) {
                    oDPTArr.rows = [];
                }
                //var oDCTArr = $("#OrderDetailColorTable").datagrid("getData"); //获取表 OrderDetailColorTable 已载入数据
                //if (FindRowODTFun("OrderDetailColorTable") == 0 && $("#ProdInfoDialogTable").datagrid("getSelections").length > 0) {
                //    oDCTArr.rows = [];
                //}

                for (var i = 0; i < $("#ProdInfoDialogTable").datagrid("getSelections").length; i++) { //遍历弹出框中所选择的记录
                    var clientOrderDetail = rowIndex + 1; //设置字段 ClientOrderDetail 值
                    var productID = $("#ProdInfoDialogTable").datagrid("getSelections")[i]["ProductID"]; //获取字段 ProductID 值
                    var productAbbreviation = $("#ProdInfoDialogTable").datagrid("getSelections")[i]["ProductAbbreviation"]; //获取字段 ProductAbbreviation 值
                    var produceCellID = $("#ProdInfoDialogTable").datagrid("getSelections")[i]["DepartmentID"]; //获取字段 DepartmentID 值
                    var produceCellName = $("#ProdInfoDialogTable").datagrid("getSelections")[i]["DepartmentName"]; //获取字段 DepartmentName 值

                    //添加一条数据
                    oDTArr.rows.push({ ClientOrderDetail: clientOrderDetail, ProductID: productID, ProductAbbreviation: productAbbreviation, ProduceCellID: produceCellID, ProduceCellName: produceCellName, Quantity: "", ClientProductID: "", DeliveryDate: "", PackageQuantity: "", PackageSize: "", SealColorID: "", SealRequire: "" });
                    oDPTArr.rows.push({ ClientOrderDetailPrint: clientOrderDetail, MODPProductID: productID, ProductAbbreviation: productAbbreviation, Position: "", Content: "" });
                    //oDCTArr.rows.push({ ClientOrderDetail: clientOrderDetail, ProductID: productID, ProductAbbreviation: productAbbreviation, ProduceCellID: produceCellID, ProduceCellName: produceCellName, Quantity: "", ClientProductID: "", DeliveryDate: "", PackageQuantity: "", PackageSize: "", SealColorID: "", SealRequire: "" })

                    rowIndex++;
                } //end for

                $("#OrderDetailTable").datagrid("loadData", oDTArr); //表 OrderDetailTable 重新载入数据 
                $("#OrderDetailPrintTable").datagrid("loadData", oDPTArr); //表 OrderDetailPrintTable 重新载入数据 
                //$("#OrderDetailColorTable").datagrid("loadData", oDCTArr); //表 OrderDetailColorTable 重新载入数据 
                //setTimeout(function () { $.parser.parse(".SetCenterDIV"); }, 10); //实现 Datebox、Numberbox等输入框的功能
                //$("#ProduceCellNameSpan").text(GetSPCNSFun()); //显示生产单元内容
                CloseDialogFun(2); //关闭弹出框
            } //end AddProdInfoFun

            //关闭 
            window.CloseFun = function () {

            } //end CloseFun

            //关闭弹出框
            window.CloseDialogFun = function (paraDialogNO) {
                if (paraDialogNO == "1") {
                    $("#DialogMarketClientInfoDIV").dialog("close");
                }
                else if (paraDialogNO == "2") {
                    $("#DialogProdInfoDIV").dialog("close");
                }
                else if (paraDialogNO == "3") {
                    $("#DialogOrderDetailDIV").dialog("close");
                } 
            } //end CloseDialogFun

            //Combobox赋值
            window.ComboboxSetValue = function (id, value) {
                var comboboxID = "#" + id;
                $(comboboxID).combobox("setValue", value);
            } //end ComboboxSetValue

            //表 OrderDetailPrintTable 删除行
            window.DeleteODPTFun = function (paraRowIndex) { //显示提示信息
                $.messager.confirm("@VT_OrderBillManage.ConfirmTitle", "@VT_OrderBillManage.DeleteInformation", function (result) {
                    if (result) { //单击"确定"的时，执行
                        UpdateODPTTextFun(); //更新表 OrderDetailPrintTable 输入框中的值至单元格
                        $("#OrderDetailPrintTable").datagrid("deleteRow", paraRowIndex); //删除表 OrderDetailPrintTable 该条记录
                        $("#OrderDetailPrintTable").datagrid("loadData", $("#OrderDetailPrintTable").datagrid("getData")); //重新载入数据 
                        //setTimeout(function () { $.parser.parse("#OrderDetailPrintDIV"); }, 10); //实现 Datebox、Numberbox等输入框的功能
                    }
                })
            } //end DeleteODPTFun

            //表 OrderDetailTable 删除行
            window.DeleteODTFun = function (paraRowIndex) { //显示提示信息
                $.messager.confirm("@VT_OrderBillManage.ConfirmTitle", "@VT_OrderBillManage.DeleteInformation", function (result) {
                    if (result) { //单击"确定"时，执行  
                        UpdateODTTextFun(); //更新表 OrderDetailTable 输入框中的值至单元格
                        UpdateODPTTextFun(); //更新表 OrderDetailPrintTable 输入框中的值至单元格
                        //UpdateODCTTextFun(); //更新表 OrderDetailColorTable 输入框中的值至单元格

                        var clientOrderDetail = $("#OrderDetailTable").datagrid("getRows")[paraRowIndex]["ClientOrderDetail"]; //获取要删除行 ClientOrderDetail 的值
                        var index = 0; //设置循环变量   

                        for (index = 0; index < $("#OrderDetailPrintTable").datagrid("getRows").length;) { //遍历表 OrderDetailPrintTable，删除字段 ClientOrderDetailPrint 等于 clientOrderDetail 行
                            if ($("#OrderDetailPrintTable").datagrid("getRows")[index]["ClientOrderDetailPrint"] == clientOrderDetail) { 
                                $("#OrderDetailPrintTable").datagrid("deleteRow", index); //该方法会使下条记录上移，如果下条记录字段 ClientOrderDetailPrint 也相同，会出现删不掉
                            }
                            else{
                                index = index + 1; //避免下条记录字段 ClientOrderDetailPrint 相同未被删除
                            }
                        } //end for
                        //for (index = 0; index < $("#OrderDetailColorTable").datagrid("getRows").length; index++) { //遍历表 OrderDetailColorTable，删除字段 ClientOrderDetail 等于 clientOrderDetail 行
                        //    if ($("#OrderDetailColorTable").datagrid("getRows")[index]["ClientOrderDetail"] == clientOrderDetail) { //该方法会使下条记录上移，如果下条字段 ClientOrderDetail 也相同，会出现删不掉
                        //        $("#OrderDetailColorTable").datagrid("deleteRow", index);
                        //    }
                        //    else {
                        //        index = index + 1; //避免下条记录字段 ClientOrderDetailPrint 相同未被删除
                        //    }
                        //} //end for
                        $("#OrderDetailTable").datagrid("deleteRow", paraRowIndex); //删除表 OrderDetailTable 该条记录

                        for (index = paraRowIndex; index < $("#OrderDetailTable").datagrid("getRows").length; index++) { //从删除行开始，遍历表 OrderDetailTable
                            var i = 0; //设置循环变量
                            
                            for (i = 0; i < $("#OrderDetailPrintTable").datagrid("getRows").length; i++) { //从删除行开始，遍历表 OrderDetailPrintTable，设置字段 ClientOrderDetailPrint 值
                                if ($("#OrderDetailPrintTable").datagrid("getRows")[i]["ClientOrderDetailPrint"] == $("#OrderDetailTable").datagrid("getRows")[index]["ClientOrderDetail"]) {
                                    $("#OrderDetailPrintTable").datagrid("getRows")[i]["ClientOrderDetailPrint"] = index - 0 + 1;
                                }
                            } //end for
                            //for (i = 0; i < $("#OrderDetailColorTable").datagrid("getRows").length; i++) { //从删除行开始，遍历表 OrderDetailColorTable，设置字段 ClientOrderDetail 值
                            //    if ($("#OrderDetailColorTable").datagrid("getRows")[i]["ClientOrderDetail"] == $("#OrderDetailTable").datagrid("getRows")[index]["ClientOrderDetail"]) {
                            //        $("#OrderDetailColorTable").datagrid("getRows")[i]["ClientOrderDetail"] = index - 0 + 1;
                            //    }
                            //} //end for
                            $("#OrderDetailTable").datagrid("getRows")[index]["ClientOrderDetail"] = index - 0 + 1; //设置表 OrderDetailTable 字段 ClientOrderDetail 值
                        }// end for

                        $("#OrderDetailTable").datagrid("loadData", $("#OrderDetailTable").datagrid("getData")); //表 OrderDetailTable 重新载入数据
                        $("#OrderDetailPrintTable").datagrid("loadData", $("#OrderDetailPrintTable").datagrid("getData")); //表 OrderDetailPrintTable 重新载入数据
                        //$("#OrderDetailColorTable").datagrid("loadData", $("#OrderDetailColorTable").datagrid("getData")); //表 OrderDetailColorTable 重新载入数据
                        //setTimeout(function () { $.parser.parse(".SetCenterDIV"); }, 10); //实现 Datebox、Numberbox等输入框的功能
                        //$("#ProduceCellNameSpan").text(GetSPCNSFun()); //显示生产单元内容

                    } //end if
                })
            } //end DeleteODTFun

            //刷新底部
            window.RefreshFootFun = function () {
                UpdateODTTextFun(); //更新表 OrderDetailTable 输入框中的值至单元格

                var quantityTotal = 0, packageQuantityTotal = 0; //设置初始值

                //遍历所有记录，获取 Quantity、PackageQuantity字段的总和
                for (var i = 0; i < $("#OrderDetailTable").datagrid("getRows").length; i++) {
                    quantityTotal += ($("#OrderDetailTable").datagrid("getRows")[i]["Quantity"] - 0); //设置 Quantity 总和
                    packageQuantityTotal += ($("#OrderDetailTable").datagrid("getRows")[i]["PackageQuantity"] - 0); //设置 PackageQuantity 总和
                }

                $("#OrderDetailTable").datagrid("reloadFooter", [{ ClientOrderDetail: "合计", Quantity: quantityTotal, PackageQuantity: packageQuantityTotal, footer: true }]); //设置表 OrderDetailTable 底部统计信息
            } //end RefreshFootFun

            //表 MarketClientInfoDialogTable 弹出框
            window.ShowMCIDialogFun = function () {
                $("#DialogMarketClientInfoDIV").dialog({
                    buttons: "#DMCIButtons",
                    cache: false,
                    height: 450,
                    href: "/Market/MarketClientInformation/ShowMarketClientInfoDialog",
                    modal: true,
                    width: 900,
                    title: "<span style=\"font-family:Tahoma,Verdana,微软雅黑,新宋体;font-size:18px;margin:0px;padding:0px;\">客户信息一览</span>"
                });
                $("#DialogMarketClientInfoDIV").dialog("open");
                var top = $(document).scrollTop() + ($(window)._outerHeight() - $("#DialogMarketClientInfoDIV").dialog("options").height) / 2;
                var left = $(document).scrollLeft() + ($(window)._outerWidth() - $("#DialogMarketClientInfoDIV").dialog("options").width) / 2;
                if (top < 20) {
                    top = $(document).scrollTop()+20;
                }
                if (left < 20) {
                    left = $(document).scrollLeft() + 20;
                }
                $("#DialogMarketClientInfoDIV").dialog("move", { top: top,left:left });
            } //end ShowMCIDialogFun

            //表 OrderDetailPrintTable 弹出框
            window.ShowODDialogFun = function () {
                $("#DialogOrderDetailDIV").dialog({
                    buttons: "#DODButtons",
                    cache: false,
                    height: 350,
                    modal: true,
                    width: 350,
                    title: "<span style=\" font-family:Tahoma,Verdana,微软雅黑,新宋体;font-size:18px;margin:0px;padding:0px; \">订单信息一览</span>",
                    //事件
                    onBeforeOpen: function () {
                        $("#OrderDetailDialogTable").datagrid(GetBindODDSFun());
                        //防止选到空值
                        if (FindRowODTFun("OrderDetailTable") > 0) {
                            $("#OrderDetailDialogTable").datagrid("loadData", $("#OrderDetailTable").datagrid("getData")); //加载数据
                        }
                        $("#OrderDetailDialogTable").datagrid("hideColumn", "ProductID"); //表 OrderDetailDialogTable 隐藏列 ProductID
                    }
                });
                $("#DialogOrderDetailDIV").dialog("open");
                var top = $(document).scrollTop() + ($(window)._outerHeight() - $("#DialogOrderDetailDIV").dialog("options").height) / 2;
                var left = $(document).scrollLeft() + ($(window)._outerWidth() - $("#DialogOrderDetailDIV").dialog("options").width) / 2;
                if (top < 20) {
                    top = $(document).scrollTop() + 20;
                }
                if (left < 20) {
                    left = $(document).scrollLeft() + 20;
                }
                $("#DialogOrderDetailDIV").dialog("move", { top: top, left: left });
            } //end ShowODDialogFun

            //表 OrderDetailTable 弹出框
            window.ShowPIDialogFun = function () {
                $("#DialogProdInfoDIV").dialog({
                    buttons: "#DPIButtons",
                    cache: false,
                    height: 450,
                    href: "/Technology/ProdInfo/ShowProdInfoDialog",
                    modal: true,
                    width: 900,
                    title: "<span style=\" font-family:Tahoma,Verdana,微软雅黑,新宋体;font-size:16px;margin:0px;padding:0px; \">产品信息一览</span>"
                });
                $("#DialogProdInfoDIV").dialog("open");
                var top = $(document).scrollTop() + ($(window)._outerHeight() - $("#DialogProdInfoDIV").dialog("options").height) / 2;
                var left = $(document).scrollLeft() + ($(window)._outerWidth() - $("#DialogProdInfoDIV").dialog("options").width) / 2;
                if (top < 20) {
                    top = $(document).scrollTop() + 20;
                }
                if (left < 20) {
                    left = $(document).scrollLeft() + 20;
                }
                $("#DialogProdInfoDIV").dialog("move", { top: top, left: left });
            } //end ShowPIDialogFun

            //保存
            window.SaveFun = function () {
                $("#AddOrderBillForm").form("submit", {
                    url: "/Market/OrderBill/AddOrderBill",
                    //事件
                    onSubmit: function () {
                        var index = 1; //初始化错误信息数目
                        $("#ErrorMessageDIV").html(""); //初始化 ErrorMessageDIV 内容为空

                        if ($("#ClientOrderID").val() == false) { //判断客户订单号号是否为空
                            var showHtmlContent = $("#ErrorMessageDIV").html() + index + "、\客户订单号不能为空<br />";
                            $("#ErrorMessageDIV").html(showHtmlContent);
                            index = index + 1;
                        }
                        if ($("#ClientName").val() == false) { //判断客户名称是否为空
                            var showHtmlContent = $("#ErrorMessageDIV").html() + index + "、客户名称不能为空<br />";
                            $("#ErrorMessageDIV").html(showHtmlContent);
                            index = index + 1;
                        }
                        if ($("#DeliveryDate").datebox("getValue") == false) { //判断交货日期是否为空
                            var showHtmlContent = $("#ErrorMessageDIV").html() + index + "、交货日期不能为空<br />";
                            $("#ErrorMessageDIV").html(showHtmlContent);
                            index = index + 1;
                        }
                        if ($("#OrderDetailTable").datagrid("getRows")[0]["ClientOrderDetail"] == false) { //判断表 OrderDetailTable 是否有数据
                            var showHtmlContent = $("#ErrorMessageDIV").html() + index + "、订单详细表不能为空<br />";
                            $("#ErrorMessageDIV").html(showHtmlContent);
                        }
                        else { //判断表 OrderDetailTable 字段 MODDeliveryDate 是否为空
                            for (var i = 0; i < $("#OrderDetailTable").datagrid("getRows").length; i++) { //遍历表 OrderDetailTable
                                var modDeliveryDateID = "#MODDeliveryDate" + (i + 1); //获取 MODDeliveryDateID
                                
                                if ($(modDeliveryDateID).datebox("getValue") == false) { //判断字段 ClientOrderDetail 是否为空
                                    var showHtmlContent = $("#ErrorMessageDIV").html() + index + "、订单详细表交货日期不能为空<br />";
                                    $("#ErrorMessageDIV").html(showHtmlContent);
                                    break;
                                }// end if 
                            }// end for 
                        }

                        if ($("#ErrorMessageDIV").html().length > 0) { //显示出错信息
                            $("#ErrorMessageDIV").show(); //显示div
                            return false;
                        }
                        else {
                            $("#ErrorMessageDIV").hide(); //隐藏div
                            return true;
                        }
                    }, //end onSubmit
                    success: function (data) {
                        if (data == "true" || data == "True") {
                            parent.addTab("客户订单", "/Market/OrderBill/Index");
                        }
                        else {
                            $("#ErrorMessageDIV").html(data);
                            $("#ErrorMessageDIV").show(); //显示div
                        }
                    } //end success
                });
            } //end SaveFun


            /********* 表格函数 *********/

            /**** 公共函数 ****/
            //查找字段 ProdAbbrev 是否为空，并返回结果
            var FindRowODTFun = function (paraTableName) {
                var tableID = "#" + paraTableName; //设置TableID
                var field = "ClientOrderDetail"; //设置字段

                if (tableID == "#OrderDetailPrintTable") { //根据表名，判断选用哪个字段
                    field = "ClientOrderDetailPrint";
                }
                //遍历该表
                for (var i = 0; i < $(tableID).datagrid("getRows").length; i++) {
                    if ($(tableID).datagrid("getRows")[i][field] == "") { //如果该行 ClientOrderDetail 字段为空，则返回结果
                        return i;
                        break;
                    }
                }
                return i;
            } //end FindRowODTFun

            /**** OrderDetailTable ****/
            //获取绑定字符串
            var GetBindODSFun = function () {
                var bindOrderDetailString = Common.Functions.createDataGrid({
                    columns: GetODCFun(),
                    loadFilter: function (data) {
                        var orderDetailLoadFilter = {};
                        orderDetailLoadFilter.rows = data.rows ? data.rows : data;
                        orderDetailLoadFilter.total = 0;

                        var quantityTotal = 0, packageQuantityTotal = 0; //设置初始值

                        //遍历所有记录，获取 Quantity、PackageQuantity字段的总和
                        for (var i = 0; i < orderDetailLoadFilter.rows.length; i++) {
                            quantityTotal += (orderDetailLoadFilter.rows[i]["Quantity"] - 0); //设置 Quantity 总和
                            packageQuantityTotal += (orderDetailLoadFilter.rows[i]["PackageQuantity"] - 0); //设置 PackageQuantity 总和
                        }

                        orderDetailLoadFilter.footer = [{ ClientOrderDetail: "合计", Quantity: quantityTotal, PackageQuantity: packageQuantityTotal, footer: true }]; //设置表 OrderDetailTable 底部统计信息

                        return orderDetailLoadFilter;
                    },
                    remoteSort: false,
                    pagination: false,
                    showFooter: true,
                    singleSelect: true,
                    target: "#OrderDetailTable",
                    //事件
                    onCreating: function (data) {
                        if (data.rows.length == 0) { //如果远程加载没有数据，则调用初始化数据
                            $("#OrderDetailTable").datagrid("loadData", InitODDFun());
                        }

                        $("#OrderDetailColorTable").datagrid("loadData", $("#OrderDetailTable").datagrid("getData")); //表 OrderDetailColorTable 加载数据
                        setTimeout(function () { $.parser.parse("#OrderDetailDIV"); }, 10); //实现 Datebox、Numberbox等输入框的功能
                        setTimeout(function () { $.parser.parse("#OrderDetailColorDIV"); }, 10); //实现 Datebox、Numberbox等输入框的功能
                        $("#ProduceCellNameSpan").text(GetSPCNSFun()); //显示生产单元内容
                    }, //end onCreating
                    onDblClickRow: function (rowIndex, rowData) {
                        return false;
                    } //end onDblClickRow
                })
                return bindOrderDetailString;
            } //end GetBindODSFun

            //获取列属性
            var GetODCFun = function () {
                var orderDetailColumns =
                    [
                        [
                            //列属性:field(字段,非空) ,title(列名,非空),width(默认80),sortable(默认false),editor(默认null),formatter(默认-函数)
                            ["ClientOrderDetail", "@VT_OrderBillManage.ClientOrderDetail", 100, false, null, function (value, rowData, rowIndex) {
                                if (rowData.ClientOrderDetail) {
                                    var clientOrderDetailValue = value ? value : "";
                                    if (rowData.footer) {
                                        return clientOrderDetailValue;
                                    }
                                    return "<span>" + clientOrderDetailValue + "</span><input name=\"ClientOrderDetail\" type=\"hidden\" value=\"" + clientOrderDetailValue + "\" />";
                                }
                            }],
                            ["ProductID", "@VT_OrderBillManage.ProductID", 100, false, null, function (value, rowData, rowIndex) {
                                if (rowData.ClientOrderDetail) {
                                    var productIDValue = value ? value : "";
                                    if (rowData.footer) {
                                        return productIDValue;
                                    }
                                    return "<span>" + productIDValue + "</span><input name=\"ProductID\" type=\"hidden\" value=\"" + productIDValue + "\" />";
                                }
                            }], //用于提交后台
                            ["ProductAbbreviation", "@VT_OrderBillManage.ProductAbbreviation", 100, false, null, function (value, rowData, rowIndex) {
                                if (rowData.ClientOrderDetail) {
                                    var productAbbreviationValue = value ? value : "";
                                    if (rowData.footer) {
                                        return productAbbreviationValue;
                                    }
                                    return "<span>" + productAbbreviationValue + "</span><input name=\"ProductAbbreviation\" type=\"hidden\" value=\"" + productAbbreviationValue + "\" />";
                                }
                            }],
                            ["ProduceCellID", "@VT_OrderBillManage.ProduceCellID", 100, false, null, function (value, rowData, rowIndex) {
                                if (rowData.ClientOrderDetail) {
                                    var produceCellIDValue = value ? value : "";
                                    if (rowData.footer) {
                                        return produceCellIDValue;
                                    }
                                    return "<span>" + produceCellIDValue + "</span><input name=\"ProduceCellID\" type=\"hidden\" value=\"" + produceCellIDValue + "\" />";
                                }
                            }], //用于提交后台
                            ["ProduceCellName", "@VT_OrderBillManage.ProduceCellName", 100, false, null, function (value, rowData, rowIndex) {
                                if (rowData.ClientOrderDetail) {
                                    var produceCellNameValue = value ? value : "";
                                    if (rowData.footer) {
                                        return produceCellNameValue;
                                    }
                                    return "<span>" + produceCellNameValue + "</span><input name=\"ProduceCellName\" type=\"hidden\" value=\"" + produceCellNameValue + "\" />";
                                }
                            }],
                            ["Quantity", "@VT_OrderBillManage.Quantity", 100, false, null, function (value, rowData, rowIndex) {
                                if (rowData.ClientOrderDetail) {
                                    var quantityID = "Quantity" + (rowIndex + 1);
                                    var quantityValue = value ? value : 0;
                                    if (rowData.footer) {
                                        return quantityValue;
                                    }
                                    return "<input class=\"easyui-numberbox\" data-options=\"{min:0,precision:0,onChange: function(value){RefreshFootFun();}}\" id=\"" + quantityID + "\" name=\"Quantity\" style=\"width:100%;\" type=\"text\" value=\"" + quantityValue + "\" />";
                                }
                            }],
                            ["ClientProductID", "@VT_OrderBillManage.ClientProductID", 100, false, null, function (value, rowData, rowIndex) {
                                if (rowData.ClientOrderDetail) {
                                    var clientProductID = "ClientProductID" + (rowIndex + 1);
                                    var clientProductIDValue = value ? value : ""; //如果不进行该操作，输入框中会出现"Undefined"
                                    if (rowData.footer) {
                                        return clientProductIDValue;
                                    }
                                    return "<input class=\"easyui-validatebox\" id=\"" + clientProductID + "\" name=\"ClientProductID\" style=\"width:100%;\" type=\"text\" value=\"" + clientProductIDValue + "\" />";
                                }
                            }],
                            ["MODDeliveryDate", "@VT_OrderBillManage.DeliveryDate", 100, false, null, function (value, rowData, rowIndex) {
                                if (rowData.ClientOrderDetail) {
                                    var modDeliveryDateID = "MODDeliveryDate" + (rowIndex + 1);
                                    var modDeliveryDateValue = value ? value : ""; //如果不进行该操作，输入框中会出现"Undefined"
                                    if (rowData.footer) {
                                        return modDeliveryDateValue;
                                    }
                                    return "<input class=\"easyui-datebox\" editable=\"false\" id=\"" + modDeliveryDateID + "\" name=\"MODDeliveryDate\" style=\"width:100%;\" type=\"text\" value=\"" + modDeliveryDateValue + "\" />";
                                }
                            }],
                            ["PackageQuantity", "@VT_OrderBillManage.PackageQuantity", 100, false, null, function (value, rowData, rowIndex) {
                                if (rowData.ClientOrderDetail) {
                                    var packageQuantityID = "PackageQuantity" + (rowIndex + 1);
                                    var packageQuantityValue = value ? value : 0;
                                    if (rowData.footer) {
                                        return packageQuantityValue;
                                    }
                                    return "<input class=\"easyui-numberbox\" data-options=\"min:0,precision:0,onChange: function(value){RefreshFootFun();}\" id=\"" + packageQuantityID + "\" name=\"PackageQuantity\" style=\"width:100%;\" type=\"text\" value=\"" + packageQuantityValue + "\" />";
                                }
                            }],
                            ["PackageSize", "@VT_OrderBillManage.PackageSize", 100, false, null, function (value, rowData, rowIndex) {
                                if (rowData.ClientOrderDetail) {
                                    var packageSizeID = "PackageSize" + (rowIndex + 1);
                                    var packageSizeValue = value ? value : ""; //如果不进行该操作，输入框中会出现"Undefined"
                                    if (rowData.footer) {
                                        return packageSizeValue;
                                    }
                                    return "<input class=\"easyui-validatebox\" id=\"" + packageSizeID + "\" name=\"PackageSize\" style=\"width:100%;\" type=\"text\" value=\"" + packageSizeValue + "\" />";
                                }
                            }],
                            ["Operation", "@VT_OrderBillManage.Operation", 100, false, null, function (value, rowData, rowIndex) {
                                if (rowData.ClientOrderDetail) {
                                    if (rowData.footer) {
                                        return value;
                                    }
                                    return "<a href=\"javascript:void(0)\" onClick=\"DeleteODTFun(" + rowIndex + ");\">删除</a>";
                                }
                            }]
                        ]
                    ];
                return orderDetailColumns;
            } //end GetODCFun

            //获取表 OrderDetailTable 字段 ProduceCellName 不同值
            var GetDPCNAFun = function () {
                var distictProduceCellNameArr = [];//初始化数组

                //遍历表 OrderDetailTable 获取不同字段 ProduceCellName 放入数组
                for (var i = 0; i < $("#OrderDetailTable").datagrid("getRows").length; i++) {
                    var pcn = $("#OrderDetailTable").datagrid("getRows")[i]["ProduceCellName"]; //获取字段 ProduceCellName 值

                    if ($.inArray(pcn, distictProduceCellNameArr) == -1) { //判断该值是否在数组中，没有则添加
                        distictProduceCellNameArr.push(pcn);
                    }// end if
                }// end for

                return distictProduceCellNameArr;
            } //end GetDPCNAFun

            //获取显示生产单元字符串
            var GetSPCNSFun = function () {
                var produceCellNameArr = GetDPCNAFun(); //获取表 OrderDetailTable 字段 ProduceCellName 不同值
                var showProduceCellNameString = ""; //初始化要显示生产单元字符串

                if (produceCellNameArr.length > 0) { //判断数组中是否有数据，如果有，则先把第一个值赋予字符串，避免出现以null开头的字符串
                    showProduceCellNameString = produceCellNameArr[0];
                }
                //从数组第二个开始遍历，设置字符串的值
                for (var i = 1; i < produceCellNameArr.length; i++) {
                    showProduceCellNameString = showProduceCellNameString + "," + produceCellNameArr[i];
                }

                return showProduceCellNameString;

            } //end GetSPCNSFun

            //初始化数据
            var InitODDFun = function () {
                var orderDetailData =
                    [
                        {
                            ClientOrderDetail: "", ProductID: "", ProductAbbreviation: "", ProduceCellID: "", ProduceCellName: "", Quantity: "", ClientProductID: "", DeliveryDate: "", PackageQuantity: "", PackageSize: "", SealColorID: "", SealRequire: ""
                        },
                        {
                            ClientOrderDetail: "", ProductID: "", ProductAbbreviation: "", ProduceCellID: "", ProduceCellName: "", Quantity: "", ClientProductID: "", DeliveryDate: "", PackageQuantity: "", PackageSize: "", SealColorID: "", SealRequire: ""
                        },
                        {
                            ClientOrderDetail: "", ProductID: "", ProductAbbreviation: "", ProduceCellID: "", ProduceCellName: "", Quantity: "", ClientProductID: "", DeliveryDate: "", PackageQuantity: "", PackageSize: "", SealColorID: "", SealRequire: ""
                        }
                    ];
                return orderDetailData;
            } //end InitODDFun

            //更新输入框中的值至单元格
            var UpdateODTTextFun = function () {
                //遍历表 OrderDetailTable、OrderDetailColorTable
                for (var i = 0; i < $("#OrderDetailTable").datagrid("getRows").length; i++) {
                    var clientOrderDetail = $("#OrderDetailTable").datagrid("getRows")[i]["ClientOrderDetail"]; //获取字段 ClientOrderDetail 值
                    if (clientOrderDetail) { //判断字段 ClientOrderDetail 是否为空
                        var quantityID = "#Quantity" + (i + 1);
                        $("#OrderDetailTable").datagrid("getRows")[i]["Quantity"] = $(quantityID).numberbox("getValue");
                        var clientProductID = "#ClientProductID" + (i + 1);
                        $("#OrderDetailTable").datagrid("getRows")[i]["ClientProductID"] = $(clientProductID).val();
                        var modDeliveryDateID = "#MODDeliveryDate" + (i + 1);
                        $("#OrderDetailTable").datagrid("getRows")[i]["MODDeliveryDate"] = $(modDeliveryDateID).datebox("getValue");
                        var packageQuantityID = "#PackageQuantity" + (i + 1);
                        $("#OrderDetailTable").datagrid("getRows")[i]["PackageQuantity"] = $(packageQuantityID).numberbox("getValue");
                        var packageSizeID = "#PackageSize" + (i + 1);
                        $("#OrderDetailTable").datagrid("getRows")[i]["PackageSize"] = $(packageSizeID).val();
                        var sealColorID = "#SealColorID" + (i + 1);
                        $("#OrderDetailColorTable").datagrid("getRows")[i]["SealColorID"] = $(sealColorID).combobox("getValue");
                        var sealRequire = "#SealRequire" + (i + 1);
                        $("#OrderDetailColorTable").datagrid("getRows")[i]["SealRequire"] = $(sealRequire).val();
                    }// end if 
                }// end for 
            } //end UpdateODTTextFun

            /**** OrderDetailPrintTable ****/
            //获取绑定字符串
            var GetBindODPSFun = function () {
                var bindOrderDetailPrintString = Common.Functions.createDataGrid({
                    columns: GetODPCFun(),
                    loadFilter: function (data) {
                        var orderDetailPrintLoadFilter = {};
                        orderDetailPrintLoadFilter.rows = data.rows ? data.rows : data;
                        orderDetailPrintLoadFilter.total = data.total ? data.total : 0;

                        return orderDetailPrintLoadFilter;
                    },
                    pagination: false,
                    singleSelect: true,
                    target: "#OrderDetailPrintTable",
                    //事件
                    onCreating: function (data) {
                        //$("#OrderDetailPrintTable").datagrid("loadData", InitODPDFun());
                        setTimeout(function () { $.parser.parse("#OrderDetailPrintDIV"); }, 10); //实现 Datebox、Numberbox等输入框的功能
                    }, //end onCreating
                    onDblClickRow: function (rowIndex, rowData) {
                        return false;
                    } //end onDblClickRow
                }) 
                return bindOrderDetailPrintString;
            } //end GetBindODPSFun

            //获取列属性
            var GetODPCFun = function () {
                var orderDetailPrintColumns =
                    [
                        [
                            //列属性:field(字段,非空) ,title(列名,非空),width(默认80),sor table(默认false),editor(默认null),formatter(默认-函数)
                            ["ClientOrderDetailPrint", "@VT_OrderBillManage.ClientOrderDetail", 100, false, null, function (value, rowData, rowIndex) {
                                if (rowData.ClientOrderDetailPrint) {
                                    var clientOrderDetailPrintValue = value ? value : "";
                                    if (rowData.footer) {
                                        return clientOrderDetailPrintValue;
                                    }
                                    return "<span>" + clientOrderDetailPrintValue + "</span><input name=\"ClientOrderDetailPrint\" type=\"hidden\" value=\"" + clientOrderDetailPrintValue + "\" />";
                                }
                            }],
                            ["MODPProductID", "@VT_OrderBillManage.ProductID", 100, false, null, function (value, rowData, rowIndex) {
                                if (rowData.ClientOrderDetailPrint) {
                                    var productIDValue = value ? value : "";
                                    if (rowData.footer) {
                                        return productIDValue;
                                    }
                                    return "<span>" + productIDValue + "</span><input name=\"MODPProductID\" type=\"hidden\" value=\"" + productIDValue + "\" />";
                                }
                            }],
                            ["ProductAbbreviation", "@VT_OrderBillManage.ProductAbbreviation", 200, false],
                            ["Position", "@VT_OrderBillManage.Position", 200, false, null, function (value, rowData, rowIndex) {
                                if (rowData.ClientOrderDetailPrint) {
                                    var positionID = "Position" + (rowIndex + 1);
                                    var positionValue = value ? value : ""; //如果不进行该操作，输入框中会出现"Undefined"
                                    if (rowData.footer) {
                                        return positionValue;
                                    }
                                    return "<input class=\"easyui-validatebox\" id=\"" + positionID + "\" name=\"Position\" style=\"width:100%;\" type=\"text\" value=\"" + positionValue + "\" />";
                                }
                            }],
                            ["Content", "@VT_OrderBillManage.Content", 300, false, null, function (value, rowData, rowIndex) {
                                if (rowData.ClientOrderDetailPrint) {
                                    var contentID = "Content" + (rowIndex + 1);
                                    var contentValue = value ? value : ""; //如果不进行该操作，输入框中会出现"Undefined"
                                    if (rowData.footer) {
                                        return contentValue;
                                    }
                                    return "<input class=\"easyui-validatebox\" id=\"" + contentID + "\" name=\"Content\" style=\"width:100%;\" type=\"text\" value=\"" + contentValue + "\" />";
                                }
                            }],
                            ["Operation", "@VT_OrderBillManage.Operation", 100, false, null, function (value, rowData, rowIndex) {
                                if (value) {
                                    return "<a href=\"javascript:void(0)\" onClick=\"DeleteODPTFun(" + rowIndex + ");\">删除</a>";
                                }
                            }]
                        ]
                    ];
                return orderDetailPrintColumns;
            } //end GetODPCFun

            //初始化
            var InitODPDFun = function () {
                var orderDetailPrintData =
                    [
                        {
                            ClientOrderDetailPrint: "", MODPProductID: "", ProductAbbreviation: "", Position: "", Content: ""
                        },
                        {
                            ClientOrderDetailPrint: "", MODPProductID: "", ProductAbbreviation: "", Position: "", Content: ""
                        },
                        {
                            ClientOrderDetailPrint: "", MODPProductID: "", ProductAbbreviation: "", Position: "", Content: ""
                        }
                    ];
                return orderDetailPrintData;
            } //end InitODPDFun

            //更新文本框中的值更新至单元格
            var UpdateODPTTextFun = function () {
                //遍历表 OrderDetailPrintTable
                for (var i = 0; i < $("#OrderDetailPrintTable").datagrid("getRows").length; i++) {
                    var clientOrderDetailPrint = $("#OrderDetailPrintTable").datagrid("getRows")[i]["ClientOrderDetailPrint"]; //获取字段 ClientOrderDetailPrint 值
                    if (clientOrderDetailPrint) { //判断字段 ClientOrderDetailPrint　是否为空
                        var positionID = "#Position" + (i + 1);
                        $("#OrderDetailPrintTable").datagrid("getRows")[i]["Position"] = $(positionID).val();
                        var contentID = "#Content" + (i + 1);
                        $("#OrderDetailPrintTable").datagrid("getRows")[i]["Content"] = $(contentID).val();
                    }// end if 
                }// end for 
            } //end UpdateODPTTextFun

            /**** OrderDetailColorTable ****/
            //获取列属性
            var GetODCCFun = function () {
                var orderDetailColorColumns =
                    [
                        [
                            //列属性:field(字段,非空) ,title(列名,非空),width(默认80),sortable(默认false),editor(默认null),formatter(默认-函数)
                            ["ClientOrderDetail", "@VT_OrderBillManage.ClientOrderDetail", 100, false],
                            ["ProductAbbreviation", "@VT_OrderBillManage.ProductAbbreviation", 200, false],
                            ["SealColorID", "@VT_OrderBillManage.SealColorID", 200, false, null, function (value, rowData, rowIndex) {
                                if (rowData.ClientOrderDetail) {
                                    var sealColorID = "SealColorID" + (rowIndex + 1);
                                    var sealColorIDValue = value ? value : ""; 
                                    if (rowData.footer) {
                                        return sealColorIDValue;
                                    }
                                    //return "<input class=\"easyui-combobox\" data-options=\"editable:'false',panelHeight:'auto',textField:'AttrValue',url:'/Common/MasterInfo/GetForSearch/00051',valueField:'AttrCd'\" id=\"" + sealColorID + "\" name=\"SealColorID\" style=\"width:190px;\"  />";
                                    return "<input class=\"easyui-combobox\" data-options=\"editable:false,onLoadSuccess:function(){ComboboxSetValue(this.id,'" + sealColorIDValue + "');},panelHeight:'auto',textField:'AttrValue',url:'/Common/MasterInfo/GetForSearch/00051',valueField:'AttrCd'\" id=\"" + sealColorID + "\" name=\"SealColorID\" style=\"width:190px;\" />";
                                }
                            }],
                            ["SealRequire", "@VT_OrderBillManage.SealRequire", 400, false, null, function (value, rowData, rowIndex) {
                                if (rowData.ClientOrderDetail) {
                                    var sealRequireID = "SealRequire" + (rowIndex + 1);
                                    var sealRequireValue = value ? value : ""; //如果不进行该操作，输入框中会出现"Undefined"
                                    if (rowData.footer) {
                                        return sealRequireValue;
                                    }
                                    return "<input class=\"easyui-validatebox\" id=\"" + sealRequireID + "\" name=\"SealRequire\" style=\"width:100%;\" type=\"text\" value=\"" + sealRequireValue + "\" />";
                                }
                            }]
                        ]
                    ];
                return orderDetailColorColumns;
            } //end GetODCCFun

            //获取绑定字符串
            var GetBindODCSFun = function () {
                var bindOrderDetailColorString = Common.Functions.createDataGrid({
                    columns: GetODCCFun(),
                    loadFilter: function (data) {
                        var orderDetailColorLoadFilter = {};
                        orderDetailColorLoadFilter.rows = data.rows ? data.rows : data;
                        orderDetailColorLoadFilter.total = data.total ? data.total : 0;
                        return orderDetailColorLoadFilter;
                    },
                    pagination: false,
                    singleSelect: true,
                    target: "#OrderDetailColorTable",
                    //事件
                    onDblClickRow: function (rowIndex, rowData) {
                        return false;
                    } //end onDblClickRow
                })
                return bindOrderDetailColorString;
            } //end GetBindODCSFun

            //更新文本框中的值更新至单元格
            var UpdateODCTTextFun = function () {
                //遍历表 OrderDetailColorTable
                for (var i = 0; i < $("#OrderDetailColorTable").datagrid("getRows").length; i++) {
                    var clientOrderDetail = $("#OrderDetailColorTable").datagrid("getRows")[i]["ClientOrderDetail"]; //获取字段 ClientOrderDetail 值
                    if (clientOrderDetail) { //判断字段 ClientOrderDetail 是否为空
                        var sealColorID = "#SealColorID" + (i + 1);
                        $("#OrderDetailColorTable").datagrid("getRows")[i]["SealColorID"] = $(sealColorID).combobox("getValue");
                        var sealRequire = "#SealRequire" + (i + 1);
                        $("#OrderDetailColorTable").datagrid("getRows")[i]["SealRequire"] = $(sealRequire).val();
                    }// end if 
                }// end for 
            } //end UpdateODCTTextFun

            /**** OrderDetailDialogTable ****/
            //获取绑定字符串
            var GetBindODDSFun = function () {
                var bindDiologOrderDetailString = Common.Functions.createDataGrid({
                    checkbox: true,
                    columns: GetODDCFun(),
                    loadFilter: function (data) {
                        var diologOrderDetailLoadFilter = {};
                        diologOrderDetailLoadFilter.rows = data.rows ? data.rows : data;
                        diologOrderDetailLoadFilter.total = data.total ? data.total : 0;

                        return diologOrderDetailLoadFilter;
                    },
                    pagination: false,
                    singleSelect: false,
                    target: "#OrderDetailDialogTable"
                })
                return bindDiologOrderDetailString;
            } //end GetBindODDSFun

            //获取列属性
            var GetODDCFun = function () {
                var orderDetailDialogColumns =
                    [
                        [
                            //列属性:field(字段,非空) ,title(列名,非空),width(默认80),sortable(默认false),editor(默认null),formatter(默认-函数)
                            ["ClientOrderDetail", "@VT_OrderBillManage.ClientOrderDetail", 100, false],
                            ["ProductID", "@VT_OrderBillManage.ProductID", 100, false],
                            ["ProductAbbreviation", "@VT_OrderBillManage.ProductAbbreviation", 200, false]
                        ]
                    ];
                return orderDetailDialogColumns;
            } //end GetODDCFun


            /********* 页面加载 *********/
            //绑定
            $(function () {
                /**** OrderDetailColorTable ****/
                GetBindODCSFun();
                //$("#OrderDetailColorTable").datagrid("loadData", InitODDFun());

                /**** OrderDetailTable ****/
                GetBindODSFun();
                $("#OrderDetailTable").datagrid("hideColumn", "ProductID"); //表 OrderDetailTable 隐藏列 ProductID
                $("#OrderDetailTable").datagrid("hideColumn", "ProduceCellID"); //表 OrderDetailTable 隐藏列 ProduceCellID
                $("#OrderDetailTable").datagrid("loadData", InitODDFun());

                /**** OrderDetailPrintTable ****/
                GetBindODPSFun();
                $("#OrderDetailPrintTable").datagrid("hideColumn", "MODPProductID"); //表 OrderDetailPrintTable 隐藏列 MODPProductID
                $("#OrderDetailPrintTable").datagrid("loadData", InitODPDFun());

                //setTimeout(function () { $.parser.parse(".SetCenterDIV"); }, 10); //实现 Datebox、Numberbox等输入框的功能

            }) //end $(function () {})

        }(jQuery));
    </script>

} <!-- end section head -->

<!-- layout -->
<div id="AddOrderBillLayoutDIV">
    
    <!-- Button -->
    <div class="FunctionButton_Area">@UserHelpers.ButtonForSave("SaveFun()")@UserHelpers.ButtonForClose("CloseFun()")</div>

    <!-- Line -->
    <div class="LevelLine_div"><hr /></div>

    
    <!-- Title -->
    <div class="Company_Title"><span>@VT_OrderBillManage.CompanyTitleSpan</span></div>
    <div class="PageTitle_div"><span>@VT_OrderBillManage.ClientOrderSpan</span></div>


    <!-- ErrorMessage -->
    <div id="ErrorMessageDIV"></div>
    

    <form class="Search_Form" enctype="multipart/form-data" id="AddOrderBillForm" method="post" name="AddOrderBillForm">
        <!-- Middle -->
        <div class="MiddleDIV">
		    <div class="LeftSideDIV">
                <div class="ProduceCellDIV"><span style="display:inline-block;">@VT_OrderBillManage.ProduceCellNameSpan：</span><span id="ProduceCellNameSpan"></span><hr /></div>
                <div class="InfoInputDIV"><span style="display:inline-block;">@VT_OrderBillManage.ClientNameSpan：</span>@UserHelpers.InputReadOnly("ClientName","ShowMCIDialogFun()")<input id="ClientID" name="ClientID" type="hidden" /></div>
		    </div>
            <div class="RightSideDIV">
                <div class="ClientOrderIDDIV"><span style="display:inline-block;width:34%;text-align:left;">@VT_OrderBillManage.ClientOrderIDSpan：</span>@UserHelpers.InputSimple("ClientOrderID")</div>
			    <div class="InfoInputDIV"><span style="display:inline-block;width:34%;text-align:left;">@VT_OrderBillManage.DeliveryDate：</span>@UserHelpers.TimeInput("DeliveryDate")</div>
		    </div>
	    </div>

        <!-- Table -->
        <div class="ContentManageDIV" id="OrderDetailDIV">
            <span class="LabelSpan"">@VT_OrderBillManage.ODTRequireSpan：</span>@UserHelpers.ButtonForAdd("ShowPIDialogFun()", "AddODS")<div class="SetCenterDIV">
                <table id="OrderDetailTable" style="width:912px;">
                </table>
            </div>
            <div>
                <span style="margin:0px 0px 0px 7.2%;">@VT_OrderBillManage.UploadSpan：</span><input id="PackageRequireImg1" name="PackageRequireImg"  style="width:30%;" type="file"/></div>
        </div>

        <div class="ContentManageDIV" id="OrderDetailPrintDIV">
            <span class="LabelSpan">@VT_OrderBillManage.ODPTRequireSpan：</span>@UserHelpers.ButtonForAdd("ShowODDialogFun()", "AddODPS")<div class="SetCenterDIV">
                <table id="OrderDetailPrintTable" style="width:912px;">
                </table>
            </div>
            <div>
                <span style="margin:0px 0px 0px 7.2%;">@VT_OrderBillManage.UploadSpan：</span><input id="PackageRequireImg2" name="PackageRequireImg" style="width:30%;" type="file" /></div>
        </div>
 
        <div class="ContentManageDIV" id="OrderDetailColorDIV">
            <span class="LabelSpan">@VT_OrderBillManage.ODCTRequireSpan：</span><div class="SetCenterDIV">
                <table id="OrderDetailColorTable" style="width:912px;">
                </table>
            </div>
            <div>
                <span style="margin:0px 0px 0px 7.2%;">@VT_OrderBillManage.UploadSpan：</span><input id="PackageRequireImg3" name="PackageRequireImg" style="width:30%;" type="file" /></div>
        </div>

        <div class="ContentManageDIV" id="PackageRequireDIV">
            <span class="LabelSpan">@VT_OrderBillManage.PackageRequireSpan：</span><div class="SetCenterDIV"><textarea id="PackageRequire" name="PackageRequire" ></textarea></div>
        </div>

        <div class="ContentManageDIV" id="OtherMatterDIV">
            <span class="LabelSpan">@VT_OrderBillManage.OtherMatterSpan：</span><div class="SetCenterDIV"><textarea id="OtherMatter" name="OtherMatter" ></textarea></div>
        </div>

        <!-- Footer -->
        <div class="FootInfoInputDIV">
            <span>@VT_OrderBillManage.EditUserNameSpan：</span>@UserHelpers.AutoSearch(Constant.AutoSearchType.USER, "EditUserID1", "EditUserName1")</div>
    </form>

    <!-- Dialog -->
    <div id="DialogDIV">
        <div class="easyui-dialog" id="DialogMarketClientInfoDIV" closed="true"><div id="DMCIButtons">@UserHelpers.ButtonForAdd("AddMarketClientInfoFun()")<span style="display:inline-block;margin:0px;padding:0px;width:10px;"></span>@UserHelpers.ButtonForClose("CloseDialogFun(1)")</div></div>
        <div class="easyui-dialog" id="DialogProdInfoDIV" closed="true"><div id="DPIButtons" style="display:none;">@UserHelpers.ButtonForAdd("AddProdInfoFun()")<span style="display:inline-block;margin:0px;padding:0px;width:10px;"></span>@UserHelpers.ButtonForClose("CloseDialogFun(2)")</div></div>
        <div class="easyui-dialog" id="DialogOrderDetailDIV" closed="true"><div id="DODButtons">@UserHelpers.ButtonForAdd("AddODTRowFun()")<span style="display:inline-block;margin:0px;padding:0px;width:10px;"></span>@UserHelpers.ButtonForClose("CloseDialogFun(3)")</div><table id="OrderDetailDialogTable" style="width:332px;"></table></div>
    </div>
    
    
</div>