@*@{
    ViewBag.Title = "Index";
}*@
@*<link rel="stylesheet" href="~/Content/css/Admin/OrderAccept.css" />*@
@using App_UI.Areas.Controllers
@using App_UI.Helper


<style>
    .datagrid > div {
        margin:auto;
    }
    .center
    {
        margin:auto;
    }
    .easyui-datebox
    {
        width:100px;
    }
</style>

<script>
    var isFirst=0;
    var table = "#TableOrderDetail";
    var searchForm = "#SearchForm";
    /***********operations start***************/
    var printFun = function () {
        //$.ajax({
        //    url: '/Produce/OrderAccept/Create',
        //    type: 'POST',
        //    //contentType: 'application/json;',
        //    //dataType: 'json',
        //    success: function () {
        //       alert("OK!");
        //    }
        //});
    };

    var closeFun = function () {
        parent.closeTab();
    };
    //任务接收
    var taskAccept = function () {
        var checkedRow = $(table).datagrid("getChecked");
        var clientOrderIDs = "";
        var currentID = "";
        if (checkedRow.length > 0) {
            for (var i = 0; i < checkedRow.length; i++)
            {
                //去除重复项
                if (currentID == checkedRow[i].ClientOrderID)
                {
                    continue;
                }
                clientOrderIDs += checkedRow[i].ClientOrderID + ",";
                currentID = checkedRow[i].ClientOrderID;
            }
            clientOrderIDs = clientOrderIDs.substring(0, clientOrderIDs.length - 1);

            $.messager.confirm("确认", "确认接收这些计划吗？", function (acceptOk)
            {
                if (acceptOk)
                {
                    $.post("/Produce/OrderAccept/AcceptOrders", 
                        { clientOrderIDs: clientOrderIDs },
                        function (data)
                        {
                            var _data = eval('(' + data + ')');
                            if (_data.Result == true)
                            {                                
                                searchSubmit();
                                $.messager.alert("成功", clientOrderIDs+"成功接收！");
                            } else {
                                alert("删除失败,请重新操作");
                            }
                        })
                }
            });
        } else {
            $.messager.alert("无数据", "请选择要接收的计划！");
        }
        

       
    };

    //接收并排产
    var acceptAndScheduling = function () {
    }

    //搜索
    var searchSubmit = function () {
        $(searchForm).form("submit",
            {
                url: "/Produce/OrderAccept/Get",
                onSubmit: function (param) {//除表单外的数据(分页)
                    var pager = $(table).datagrid("getPager");
                    var pagerOptions = $(pager).pagination("options");
                    param.rows = pagerOptions.pageSize;
                    param.page = 1;
                },
                success: function (data)
                {
                    isFirst = 0;
                    $(table).datagrid("loadData", eval('(' + data + ')'));//重新加载数据
                }
            }
            );
    }
    /***********operations end***************/

    //获得列属性
    var getColumns = function () {
        //列属性: field(字段名,非空) , title(列名) , width(默认80) , sortable(默认false) , editor(默认null) , formatter(默认-函数)
        var _columns = [[
            ["ClientOrderID", "客户订单号", 180],
            ["ProductType", "产品型号", 180],
            ["Quantity", "数量", 100],
            ["PackageQuantity", "装箱数", 50],
            ["PackageSize", "纸盒尺寸", 200],
            ["strDeliveryDate", "交货日期", 120]
        ]];
        return _columns;
    };

    $(function () {
        var fields = ["ClientOrderID", "checkbox"];
        //var target = $("#TableOrderDetail");
        Common.Functions.createDataGrid({//创建datagrid,详细内容参见functions.js
            target: $(table),//table容器,必须
            url: "/Produce/OrderAccept/Get",
            columns: getColumns(),//列属性,必须
            //idField: "UId",//标识字段
            checkbox: true,//是否显示checkbox
            maxWidth: 830,//最大宽度
            maxHeight: 350,//最大高度
            //frozenColumns:["checkbox"],
            singleSelect: false,
            onBeforeLoad: function (queryParams) {//可以添加一些额外参数,主要用于查询条件
                var arr = $(searchForm).serializeArray();
                $.each(arr, function () {
                    queryParams[this.name] = this.value;
                });

            },
            onLoadError: function () {
                alert("请求服务器失败，请刷新页面重试!");
            },
            onCreating: function (data) {//数据成功加载 
                isFirst = isFirst + 1;
                if (isFirst==1) {
                    setTimeout(function () { mergeCells({ fields: fields, target: table }) },10);
                }              
                //do something...
            },
            loadFilter: function (data) {
                var _data = {};
                _data.rows = isUndefined(data.rows)?data:data.rows;
                _data.total = isUndefined(data.rows)?data:data.total;
                return _data;
            }
        });

        //重设header上的check单元格的中rowspan
        $(".datagrid-header-check").closest("td").attr("rowspan","1");
       
    });
  
</script>

<!--buttons-->
<div class="FunctionButton_Area" >
  @*  @UserHelpers.ButtonForPrint("printFun()")*@
    @UserHelpers.ButtonForTaskReceiving("taskAccept()")
    @UserHelpers.ButtonForClose("closeFun()")
  @*  <a class="easyui-linkbutton" onclick='taskAccept();'>任务接收</a>*@
</div>

@UserHelpers.Line()
@UserHelpers.Title("订单指示接收")

<!--search conditions-->
<div class="center" style="width:850px;text-align:center;">
    <form class="center Search_Form" id="SearchForm" method="post" >
         <table class="table_search center" style="text-align:left" >
            <tr>
                <td>客户订单号：</td><td>@UserHelpers.Input("ClientOrderID")</td>
                <td>客户名称：</td><td>@UserHelpers.Input("ClientName")</td>
                <td>交货日期：</td><td> @UserHelpers.TimeBeginInput("DeliveryDateBegin","DeliveryDateBegin","DeliveryDateBegin")</td>
                <td>~</td><td>@UserHelpers.TimeEndInput("DeliveryDateEnd","DeliveryDateEnd","DeliveryDateEnd")</td>
            </tr>
            <tr>
                <td>产品型号：</td><td>@UserHelpers.Input("ProductType")</td>
                @*<input id="SalePersonName" class="textBox " name="SalePersonName" />*@
                <td>销售员：</td><td>@UserHelpers.Input("SalePersonName")@*@UserHelpers.AutoSearchUser("SalePersonName", "SalePersonName", "SalePersonName")*@</td>            
                <td> @UserHelpers.ButtonForSearch("searchSubmit()")</td>
            </tr>
         </table>
    </form>
</div>

<div style="width:100%;text-align:center;" class="datagrid">
    <table id="TableOrderDetail"></table>
</div>


