@using App_UI.Resource.ViewText.Market
@using Model

<!-- style -->
<style type="text/css">
    #MarketClientInfoDialogLayout{
        text-align: center;
    }

    #MarketClientInfoDialogLayout #MarketClientInfoDialogForm{
        margin: 0px;
        padding: 0px;
    }

    #MarketClientInfoDialogLayout #MarketClientInfoDialogForm span{
        margin: 0px;
        padding: 0px;
        /*border:1px solid blue;*/
    }

    #MarketClientInfoDialogLayout #MarketClientInfoDialogForm input{
        margin: 0px;
        padding: 0px;
    }

    #MarketClientInfoDialogLayout #MarketClientInfoDialogForm #SearchMarketClientInfo{
        margin: 0px 0px 0px 1%;
        padding: 0px;
    }
</style>

<!-- javascript -->
<script>
    (function ($) {
        /********* 表格函数 *********/
        //获取列属性
        var GetMCICFun = function () {
            var _prodMarketClientInfoColumns =
                [
                    [
                        //列属性:field(字段,非空) ,title(列名,非空),width(默认80),sortable(默认false),editor(默认null),formatter(默认-函数)
                        @*["ClientID", "@VT_ShowMarketClientInfoDialog.ClientID", 100, true],*@
                        ["CompanyType", "@VT_ShowMarketClientInfoDialog.CompanyType", 100, true, null, function (value, rowData, rowIndex) {
                            if (value == "0") return "无特别指定";
                            else if (value == "1") return "外购单位";
                            else if (value == "2") return "外协单位";
                            else return "未知单位区分";
                        }],
                        ["ClientName", "@VT_ShowMarketClientInfoDialog.ClientName", 100, true],
                        ["ClientNO", "@VT_ShowMarketClientInfoDialog.ClientNO", 100, true],
                        ["ClientAddress", "@VT_ShowMarketClientInfoDialog.ClientAddress", 100, true],
                        ["ClientZipCode", "@VT_ShowMarketClientInfoDialog.ClientZipCode", 100, true],
                        ["ClientLevel", "@VT_ShowMarketClientInfoDialog.ClientLevel", 100, true, null, function (value, rowData, rowIndex) {
                            if (value == "1") return "普通客户";
                            else if (value == "2") return "大客户";
                            else if (value == "3") return "重要客户";
                            else return "未知客户等级";
                        }],
                        ["CreditLevel", "@VT_ShowMarketClientInfoDialog.CreditLevel", 100, true, null, function (value, rowData, rowIndex) {
                            if (value == "0") return "无信誉等级";
                            else if (value == "1") return "信誉差";
                            else if (value == "2") return "较差";
                            else if (value == "3") return "中等";
                            else if (value == "4") return "较好";
                            else if (value == "5") return "好";
                            else return "未知信誉等级";
                        }],
                        ["TEL_NO_1", "@VT_ShowMarketClientInfoDialog.TelephoneNO1", 100, true],
                        ["TEL_NO_2", "@VT_ShowMarketClientInfoDialog.TelephoneNO2", 100, true],
                        ["FAX_1", "@VT_ShowMarketClientInfoDialog.Fax1", 100, true],
                        ["FAX_2", "@VT_ShowMarketClientInfoDialog.Fax2", 100, true],
                        ["CONTACTS_NAME", "@VT_ShowMarketClientInfoDialog.ContactsName", 100, true]
                    ]
                ];
            return _prodMarketClientInfoColumns;
        }

        //获取绑定字符串
        var GetBindMCISFun = function () {
            var _bindMarketClientInfoString = Common.Functions.createDataGrid({
                checkbox: true,
                checkOnSelect: true,
                columns: GetMCICFun(),
                idField: "ClientID",
                pagination: true,
                selectOnCheck: true,
                singleSelect: true,
                sortName: "ClientID", //单页排序的列
                sortOrder: "asc", //升序
                target: "#MarketClientInfoDialogTable",
                url: "/Market/MarketClientInformation/GetMarketClientInfoList",
                //事件
                onBeforeLoad: function (param) { //可以添加一些额外参数,主要用于查询条件
                    var arr = $("#MarketClientInfoDialogForm").serializeArray();
                    $.each(arr, function () {
                        param[this.name] = this.value;
                    });
                },
                onLoadError: function () {
                    alert("请求服务器失败，请刷新页面重试!");
                }
            })
            return _bindMarketClientInfoString;
        }


        /********* 功能函数 *********/
        //查询
        window.SearchMCIFun = function () {
            $("#MarketClientInfoDialogForm").form("submit", {//form提交
                url: "/Market/MarketClientInformation/GetMarketClientInfoList",
                //事件
                onSubmit: function (param) {//除表单外的数据(分页)
                    param.rows = $("#MarketClientInfoDialogTable").datagrid("getPager").pagination("options");
                    param.page = 1;
                },
                success: function (data) {
                    $("#MarketClientInfoDialogTable").datagrid("loadData", eval("(" + data + ")"));//重新加载数据       
                }
            })
        }


        /********* 页面加载 *********/
        $(function () {
            GetBindMCISFun();
            //隐藏 ProductId 列
            //$("#MarketClientInfoDialogTable").datagrid("hideColumn", "ClientID");
        })

    }(jQuery));
</script>


<div id="MarketClientInfoDialogLayout">
    <!-- Title -->
    <div class="PageTitle_div"><span>@VT_ShowMarketClientInfoDialog.MarketClientTitleSpan</span></div>

    <!-- Form -->
    <div style="margin:2% 0px 0px 0px; width:100%;">
        <form class="Search_Form" id="MarketClientInfoDialogForm" method="post">
            <div style="margin:0px; padding:0px; text-align:left;"><span>@VT_ShowMarketClientInfoDialog.ClientName：</span>@UserHelpers.InputSimple("ClientName")<span style="margin:0px 0px 0px 1%;">@VT_ShowMarketClientInfoDialog.ClientNO：</span>@UserHelpers.InputSimple("ClientNO")@UserHelpers.ButtonForSearch("SearchMCIFun()","SearchMarketClientInfo")</div>
        </form>
    </div>

    <!-- Table -->
    <div style="margin:0.5% 0px 0px 0px;padding:0px;">
        <div style="margin:0px auto; padding:0px;width:900px;">
            <table id="MarketClientInfoDialogTable" style="margin:0px;padding:0px; width:900px;">
            </table>
        </div>
    </div>

</div>
