@using App_UI.Resource.ClientMessage
@using App_UI.Resource.ViewText.Common
@using App_UI.Resource.ViewText.Produce
@using Model

@section head
{
    <script src="~/Scripts/common/dialog.js"></script>

    <style>
        * {
            font-size: inherit;
        }

        .datagrid > div {
            margin: auto;
        }

        .datagrid .datagrid-body tr, .datagrid .datagrid-header tr {
            height: 30px;
        }

        #mainPanle .mainTitle {
            font-size: 18pt;
        }


        td input {
            vertical-align: baseline;
        }

        /*延迟、延误区分*/
        .delay { background-color: #FFC78E }
        .fault { background-color: #FF9797 }

    </style>

    <script>
        (function($) {
            var table = "#IPPTable";
            var form = "#processForm"; //检索form
            var startDt = "#StartDt"; //开始日期
            var endDt = "#EndDt"; //结束日期

            var states = null;

            /***********operations start***************/
            //查询
            window.searchAssembleFun = function() {
                $(table).datagrid("load");
            };

            //转到总装排产页面
            window.toAssembleSchedu = function() {
                parent.addTab("@VT_FAScheduleBill.AssembleMiddlePlanTabTitle", "/Produce/FAPlan/GeneralSchedu");
            };
            //打印
            window.printFun = function() {

            };
            //关闭
            window.closeFun = function() {
                parent.closeTab();
            };

            /***********operations end***************/

            //将数字转为百分比形式，参数：小数的位数，默认2位
            Number.prototype.Percent = function(precision) {
                if (!precision) {
                    precision = 0;
                }
                var fixedNum = (this * 100).toFixed(precision);
                return fixedNum + "%";
            };

            //获得列属性
            var getColumns = function() {
                //列属性: field(字段名,非空) , title(列名) , width(默认80) , sortable(默认false) , editor(默认null) , formatter(默认-函数)
                //["field", "title", "width", "rowspan", "colspan", "sortable", "editor", "formatter"]
                var columns = [[], []];
                columns[0].push(["OrderId", "@VT_InProcessing.OrderId", 150, 2, 1, true]);
                columns[0].push(["ProductAbbrev", "@VT_InProcessing.ProductId", null, 2, 1, true]);
                columns[0].push(["Specifica", "@VT_InProcessing.Specifica", 120, 2, 1, true]);
                columns[0].push(["DemondQuantity", "@Html.Raw(VT_InProcessing.ScheduNeedQuanlity)", 80, 2, 1, true]);
                columns[0].push(["", "@VT_InProcessing.PredictScheduPlan", 150, 1, 2, false]);
                columns[0].push(["", "@VT_InProcessing.ProducePlan_Real", 150, 1, 2, false]);
                columns[0].push(["State", "@VT_InProcessing.State", 70, 2, 1, true, null, function(value, row) { //需计算
                    var ret = "";
                    switch (value) {
                    case "@Constant.ProcessingPlanState.PRODUCING":
                        ret = (row["Rate"] - 0).Percent(2);
                        break;
                    case "@Constant.ProcessingPlanState.NOTSTART":
                    case "@Constant.ProcessingPlanState.FINISHED":
                        if (states) {
                            ret = states.FindObject("AttrCd", value);
                            if (ret) {
                                ret = ret.AttrValue;
                            } else {
                                ret = "";
                            }
                        }
                        break;
                    default:
                        break;
                    }
                    return ret;
                }]);
                columns[1].push(["StartDt", "@VT_InProcessing.StartDate", 80, 1, 1, true, null]);
                columns[1].push(["ProvideDt", "@VT_InProcessing.ProvideDay", 80, 1, 1, true, null]);
                columns[1].push(["ScheduStartDt", "@VT_InProcessing.StartDay", 80, 1, 1, true, null]);
                columns[1].push(["RealEndDt", "@VT_InProcessing.FinishDay", 80, 1, 1, true, null]);
                return columns;
            };

            //获取进度状态
            window.getState = function(data) {
                if (!states) {
                    states = data;
                    table.datagrid("refreshColumn", "State");
                }
                states = data;
            };

            $(function() {
                table = $(table).hide();
                form = $(form); //检索form
                startDt = $(startDt); //开始日期
                endDt = $(endDt);

                //$.parser.parse(".buttons");
                Common.Functions.createDataGrid({
                    //创建datagrid,详细内容参见functions.js
                    target: table,//table容器,必须
                    url: "/Produce/FAPlan/GetAssemblePlan",//获取数据的地址,必须
                    columns: getColumns(),//列属性,必须
                    //checkbox: true,
                    sortName: "OrderId,ProductId",
                    sortOrder: "asc,asc",//默认排序
                    maxWidth: 1030,//最大宽度
                    maxHeight: 600,//最大高 度
                    rowStyler: function(index, row) {
                        var css = { "class": "" };
                        switch (row["DelayState"]) {
                        case "@Constant.ProcessingPlanState.DELAY":
//延迟
                            css["class"] = "delay";
                            break;
                        case "@Constant.ProcessingPlanState.FAULT":
//延误
                            css["class"] = "fault";
                            break;
                        default:
                        }
                        return css;
                    },
                    onBeforeLoad: function(queryParams) { //可以添加一些额外参数,主要用于查询条件
                        var arr = form.serializeArray();
                        $.each(arr, function() {
                            queryParams[this.name] = this.value;
                        });
                    },
                    onLoadError: function() {
                        //alert("请求服务器失败，请刷新页面重试!");
                    },
                    onCreating: function(data) { //数据成功加载,即onLoadSuccess
                        //do something...
                    },
                    loadFilter: function(data) {
                        var _data = {};
                        _data.rows = isUndefined(data.rows) ? data : data.rows;
                        _data.total = data.total ? data.total : 0;
                        AdaptDt(table, _data.rows, "ScheduStartDt,ScheduEndDt,StartDt,ProvideDt,RealEndDt"); //将后台的日期进行转换
                        return _data;
                    },
                    onDblClickRow: function() {
                        return false;
                    }
                });

                $("#productDlg").dialog({
                    buttons: "#dlgBtns",
                    cache: false,
                    height: 450,
                    //href: "/Technology/ProdInfo/ShowProdInfoDialog?singleSelect=true",
                    modal: true,
                    width: 930,
                    closed: true,
                    title: "<span style=\" font-family:Tahoma,Verdana,微软雅黑,新宋体;font-size:16px;margin:0px;padding:0px; \">产品信息一览</span>",
                    onBeforeOpen: function() {
                        var top = $(document).scrollTop() + ($(window)._outerHeight() - $(this).dialog("options").height) / 2;
                        var left = $(document).scrollLeft() + ($(window)._outerWidth() - $(this).dialog("options").width) / 2;
                        if (top < 10) {
                            top = $(document).scrollTop() + 10;
                        }
                        if (left < 10) {
                            left = $(document).scrollLeft() + 10;
                        }
                        $(this).dialog("move", { top: top, left: left });
                    }
                });
                //$(table).datagrid("loadData",getData());

            });


            $(function() {

                //打开“产品型号”对话框
                window.showProductDlgFun = function (obj) {
                    $("#productDlg").dialog("open").dialog("refresh", "/Technology/ProdInfo/ShowProdInfoDialog?singleSelect=true")
                        .data("currTarget", $(obj));
                };
                //“产品型号”对话框“确定”按钮
                window.productDlgOKFun = function () {
                    var selectedRow = $("#ProdInfoDialogTable").datagrid("getSelected"); //选择的行数据
                    if (!selectedRow) {
                        $.messager.alert("@VT_Common.Tips", "@CM_Produce.CK40502002");
                        return;
                    }
                    var $spanBtn = $("#productDlg").dialog("close").data("currTarget"); //放大镜元素
                    var $span = $spanBtn.parent().parent(); //span元素
                    $span.children("input").val(selectedRow["ProductAbbreviation"]);
                    $span.prev().val(selectedRow["ProductID"]);
                };
                //打开“零部件名称”对话框
                window.showPartDlgFun = function (obj) {
                    $("#partDlg").data("currTarget", $(obj));
                    ShowProdPartInfo("partDlg", "", "");
                };
                //“零部件名称”对话框“选择”按钮
                window.partDlgOKFun = function () {
                    //var selectedRow = $("#PPInfoTable").datagrid("getSelected"); //选择的行数据
                    var selectedRow = null;
                    try {
                        selectedRow = $("#PPInfoTable").datagrid("getSelected"); //选择的行数据
                    } catch (e) {
                        selectedRow = null;
                    }
                    if (!selectedRow) {
                        $.messager.alert("@VT_Common.Tips", "@CM_Produce.CK40502002");
                        return;
                    }
                    var $spanBtn = $("#partDlg").dialog("close").data("currTarget"); //放大镜元素
                    var $span = $spanBtn.parent().parent(); //span元素
                    $span.children("input").val(selectedRow["Name"]);
                    $span.prev().val(selectedRow["Id"]);
                };
                
                //打开“客户订单”对话框
                window.showOrderDlgFun = function (ele) {
                    CommonDlgFun.ShowOrderDlg.call(ele, '#orderDlg');
                };

                //“客户订单”对话框“选择”按钮
                window.orderDlgOKFun = function () {
                    var row = CommonDlgFun.GetSelectedOrder();
                    if (!row) {
                        $.messager.alert("@VT_Common.Tips", "@CM_Produce.CK40502002");
                        return;
                    }
                    $("#orderDlg").dialog("close").data("currTarget").parent().prev().val(row["ClientOrderID"]);

                };


            });

        }(jQuery));

    </script>

}


@*buttons*@
<div class="buttons" style="width:100%;text-align:right;margin-top: 10px;">
    @UserHelpers.ButtonForErectionProduction("toAssembleSchedu()")
    @*<input type="button" class="PrintButton_Menument"  onclick='printFun();' value="@VT_InProcessing.Print"/>*@
    @UserHelpers.ButtonForClose("closeFun()")
</div>

@*title*@
<div style="text-align: center;margin: 10px auto 10px auto;">
    @UserHelpers.Line()
    @UserHelpers.Company_Title(VT_Common.CompanyName)
    @UserHelpers.Title(VT_FAScheduleBill.AssemblePlanTitle)
</div>

@*form*@
<div style="width:100%;text-align:center;margin-bottom: 10px;">
    <div style="width:980px;margin:auto;text-align:left;">
        <form id="processForm" class="Search_Form">
            <div style="margin-bottom: 10px;">
                <span>@VT_InProcessing.OrderId：@UserHelpers.InputReadOnly("OrderId","showOrderDlgFun(this)","20")</span>
                <span style="margin-left: 15px;">@VT_InProcessing.ProductId：<input type="hidden" name="ProductId"/>@UserHelpers.InputReadOnly("ProductAbbrev","showProductDlgFun(this)","15")</span>
                <span style="margin-left: 15px;">@VT_InProcessing.PartName：<input type="hidden" name="PartId" id="PartId"/>@UserHelpers.InputReadOnly("PartName","showPartDlgFun(this)","15")</span>
                <span style="margin-left: 15px;">@VT_InProcessing.Specifica：@UserHelpers.InputSimple("Specifica"," maxlenght=200 ")</span>
                <span style="margin-left: 15px;">
                    @UserHelpers.ButtonForSearch("searchAssembleFun()")
                </span>
            </div>
            <div>
                <span style="">@Html.Raw(VT_InProcessing.ProvideDate)：@UserHelpers.TimeBeginInput("StartDt","StartDt","StartDt")</span>
                <span> ~ @UserHelpers.TimeEndInput("EndDt","EndDt","EndDt")</span>
                <span style="margin-left: 104px;">@VT_InProcessing.ScheduState：<input style="width:112px;height:22px;" name="State" class="easyui-combobox" data-options="{url:'/Common/MasterInfo/GetForSearch/@Constant.MasterSection.PROD_SCHEDU_SHOW_STATE',valueField: 'AttrCd',textField: 'AttrValue',panelHeight: 'auto',editable: false,onLoadSuccess:getState}"></span>
                
            </div>
        </form>
    </div>
</div>

@*datagrid*@
<div class="datagrid">
    <table id="IPPTable"></table>
</div>

@*产品型号dialog相关*@
<div>
    <div id="productDlg"></div>
</div>
<div id="dlgBtns">
    @UserHelpers.ButtonForAdd("productDlgOKFun()")
    @UserHelpers.ButtonForClose("$('#productDlg').dialog('close');")
</div>

@*零部件dialog相关*@
<div>
    <div id="partDlg" data-options="buttons:'#partDlgBtns',modal:true"></div>
</div>
<div id="partDlgBtns" style="display: none;">
    @UserHelpers.ButtonForChoose("partDlgOKFun();")
    @UserHelpers.ButtonForClose("$('#partDlg').dialog('close');")
</div>

@*客户订单号dialog相关*@
<div>
    <div id="orderDlg" data-options="buttons:'#orderDlgBtns'"></div>
</div>
<div id="orderDlgBtns" style="display: none;">
    @UserHelpers.ButtonForChoose("orderDlgOKFun();")
    @UserHelpers.ButtonForClose("$('#orderDlg').dialog('close');")
</div>



