@using App_UI.Resource.ViewText.Common
@using App_UI.Resource.ViewText.Purchase
@using Model

<link rel="Stylesheet" href="~/Content/css/Purchase/SupplierOrderList.css" type="text/css"/>
<script type="text/javascript" src="~/Scripts/common/dialog.js"></script>
<script src="~/Scripts/purchase/SupplierOrderList.js" type="text/javascript"></script>

<!--上面的页面导航-->
<div class="FunctionButton_Area" style="width: 100%; text-align: right;">
    <!--  添加 -->
    @UserHelpers.ButtonForAdd("AddFun()")
    <!--  删除 -->
    @UserHelpers.ButtonForDelete("DeleteFun()")
    <!--  审核 -->
    @UserHelpers.ButtonForExamine("AuditFun()")
    <!--  退出 -->
    @UserHelpers.ButtonForClose("parent.closeTab(gTitle)")
    <span style="width: 100px; margin-right: 10%">&nbsp;</span>
</div>
<!--分割线-->
@UserHelpers.Line()

<!--界面-->
<div style="width: 100%; text-align: center; margin-bottom: 15px; margin-top :5px;">
     <!-- 页面标题 -->
    @UserHelpers.Title(@VT_SupplierOrderList.IndexTitle)

</div>

<!-- 搜索块 -->
<div style="width: 100%; text-align: center; margin-bottom: 15px;">
    <div style="">
        <form id="searchForm" class="Search_Form" method="post">
            <table id ="search_table" style="margin:auto;text-align:left;">
                <tr>
                    <td>@VT_SupplierOrderList.CustomerOrderID：</td>
                    <td>
                        @UserHelpers.Input("CustomerOrderID")
                    </td>
                    <td style="padding-left: 20px">@VT_SupplierOrderList.OrderType：</td>
                    <td>
                        <!-- 外协单种类 -->
                        @UserHelpers.SelectWidget(Constant.MasterSection.SUP_ODR_TYPE, "OrderType", "OrderType")</td>
                    <td style="padding-left: 20px">@VT_SupplierOrderList.SupplierOrderNo：</td>
                    <td>
                        @UserHelpers.Input("SupOrderID")
                    </td>
                    <td style="padding-left: 20px">@VT_SupplierOrderList.UrgentStatus：</td>
                    <td>
                        <!-- 紧急状态 -->
                        @UserHelpers.SelectWidget(Constant.MasterSection.URGENT_STATE, "UrgentStatus", "UrgentStatus")</td>
                </tr>
                <tr>
                    <td>@VT_SupplierOrderList.CurrentStatus：</td>
                    <td>
                        <!-- 调度单状态 -->
                        @UserHelpers.SelectWidget(Constant.MasterSection.SUP_ODR_STATUS, "SupOrderStatus", "SupOrderStatus")</td>
                    <td style="padding-left: 20px">@VT_SupplierOrderList.MarkUser：</td>
                    <td>
                        <!-- 制单人  -->
                        @UserHelpers.Input("MarkName")
                    </td>
                    <!--  制单日期From-->
                    <td style="padding-left: 20px">@VT_SupplierOrderList.MarkDateFrom：</td>
                    <td colspan="3">
                        @UserHelpers.TimeInput("CreatDateStart")
                        @VT_SupplierOrderList.MarkDateTo
                        @UserHelpers.TimeInput("CreatDateEnd")
                    </td>
                </tr>
                <tr>
                    <td>@VT_SupplierOrderList.InCompany：</td>
                    <td colspan="3">
                        @UserHelpers.Input("InCompanyName","ShowCompInfoScreen();")
                        <input type="hidden" id="InCompanyID" name="InCompanyID"/>
                    </td>
                    <td style="margin-left: 20px; padding-left: 20px;">@VT_SupplierOrderList.ProduceManager:</td>
                    <td>
                        @UserHelpers.Input("PrdMngrName")
                    </td>
                </tr>
                <tr>
                    <td>@VT_SupplierOrderList.ProduceDepartment：</td>
                    <td>
                        @UserHelpers.SelectWidget(Constant.MasterSection.DEPT, "DepartmentName", "DepartmentName")</td>
                    <td colspan="5"></td>
                    <td style="text-align: right">
                        <!-- 查询按钮 -->
                        @UserHelpers.ButtonForSearch("searchInfo()")
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <!--结果显示 -->
    <div class="datagrid">
        <table id="resultShowTable"></table>
    </div>
</div>

<!-- *************************************************************** 子查询画面START ******************************************************** -->
<!-- 供货商选择对话框 -->
<div class="easyui-dialog" id="CompSelectDiv" closed="true" data-options="buttons:'#companySelect',modal:true"></div>
<div id="companySelect">
    @UserHelpers.ButtonForChoose("SelCompAndCloseDialogFun('InCompanyID', 'InCompanyName', '0', 'CompSelectDiv')")
    @UserHelpers.ButtonForClose("CloseDialogFun('CompSelectDiv')")
</div>

