@using Model
@using App_UI.Resource.ViewText.Purchase
@using App_UI.Resource.ViewText.Common
@*
 **
 ** 调度单新建画面
 **
*@
<script>
    //搜索标志
    var formName = "#searchForm";
    //显示数据的表的标志
    var tableName = "#SupplierOrderTable";

    //物料编码、产品名称、加工工艺、单位、数量、单价、估价、交货日期、备注（老型号）
    //列属性:field,title,width,sortable,editor,formatter
    var columns = [[
        ["ProductPartId", "编码", 130, true, { type: 'validatebox' }],
        ["ProductName", "产品名称", 130, true],
        ["PdProcDtID", "加工工艺", 100, false, { type: "validatebox" }],
        //["Unit", "单位", 100, false, { type: "text" }],
        ["ReqQty", "数量", 120, true, { type: "text"}],
        ["PriceUp", "单价", 90, false, { type: "text" }],
        ["Evaluate", "估价", 90, false, { type: "text" }],
        ["DlyDate", "交货日期", 120, true, { type: "datebox" }, function (value, row, index) {
            var date;
            if (value == "") {
                return "";
            }
            var strDt = (value + "").replace(/\/Date\(/, "").replace(/\)\//, "");
            if (isNaN(strDt)) {
                date = strDt.ToDate();
            } else {
                date = new Date(strDt.ToInt());
            }
            var str = date.Format("yyyy-MM-dd");
            row.DLY_DATE = str;
            return str;
        }],
        ["Remarks", "备注(版本号)", 120, false, { type: "text" }]
    ]]

    //审核
    var auditFun = function () {
        var check = "";
        check = "@ViewBag.SupOdrId";// 审核的单号
         $.messager.confirm("", "您确定要审核这些信息吗？", function (reviewOK) {
             if (reviewOK) {
                 $.post("/Purchase/SupplierOrder/Audit", { supplierOrder: check }, function (data) {
                     var _data = eval('(' + data + ')');
                     console.info(_data);
                     if (_data.result == true) {
                         $(tableName).datagrid("reload");//重新加载数据
                         //alert("hello!");
                     } else {
                         $.messager.alert("信息", _data.Message, "info");
                     }
                 });
             }
         });
    }

    //保存
    var saveFun = function (rowIndex, rowData, changes) {
        var row = $(tableName).datagrid('getRows');
        if (row.length > 0) {
            //定义一个数组用于存放table中的数据
            var orderList = [];
            for (var i = 0; i < row.length; i++) {
                $(tableName).datagrid("endEdit", i);
                //编号等详细信息为空不存放
                if (row[i].ProductPartId != "" || row[i].PdProcDtID != ""  || row[i].ReqQty != ""||
                    row[i].PriceUp!=""||row[i].Evaluate!=""||row[i].DlyDate!="") {
                    var orderDetail = {};                 
                    orderDetail["RowIndex"] = i;
                    orderDetail["ProductPartID"] = row[i].ProductPartId;
                    //orderDetail["ProdDtID"] = row[i].ProdDtID;
                    orderDetail["PdProcDtID"] = row[i].PdProcDtID;
                    orderDetail["Unit"] = row[i].Unit;
                    orderDetail["Qty"] = row[i].ReqQty;
                    orderDetail["PrchsUp"] = row[i].PriceUp;
                    orderDetail["Evaluate"] = row[i].Evaluate;
                    orderDetail["DlyDate"] = row[i].DlyDate;
                    orderDetail["Remarks"] = row[i].Remarks;
                    //将order加进orderList
                    orderList.push(orderDetail);
                }
            }

            $.ajax({
                async: true,
                url: "/Purchase/SupplierOrder/Save",
                data: {
                    SupOdrID: "@ViewBag.SupOdrId",
                    UrgentStatus: $("#UrgentStatus").combobox('getValue'),
                    ClientOrderID: $("#CustomerOrderID").searchbox("getValue"),
                    Department: $("#DepartmentName").combobox("getValue"),
                    OrderType: $("#OrderType").combobox("getValue"),
                    IncompId: $("#Incomp").searchbox("getValue"),
                    OutcompId:"LDK",
                    PrdMngrName: $("#PrdMngrName").searchbox("getValue"),
                    MarkName: $("#MarkName").searchbox("getValue"),
                    OptrName: $("#OptrName").searchbox("getValue"),
                    OrderList: orderList
                },
                type: "post",
                success: function (data) {
                    var _data = eval('(' + data + ')');
                    if (_data.Result == true) {
                        $.messager.alert("信息", _data.Message);
                    } else {
                        //title：显示在标题面板的标题文本;msg：提示框显示的消息文本;icon：提示框显示的图标,可用的值是：error,question,info,warning;fn：当窗口关闭时触发的回调函数
                        $.messager.alert("信息", _data.Message, "info", function () {
                            //开启编辑
                            openEdit();
                        });
                        //do something another...
                    }
                }
            });
            console.info(rowData);
        }
    }  

    //打开编辑
    var openEdit = function () {
        var row = $(tableName).datagrid('getRows');
        if (row.length > 0) {
            for (var i = 0 ; i < row.length; i++) {
                $(tableName).datagrid("beginEdit", i);
            }
        }
    }

    //打印预览
    var printFun = function () {
        parent.addTab("打印预览", "/Purchase/SupplierOrder/PrintPreview?supplierOrderId=@ViewBag.SupOdrId");
    }

    //新行添加
    var addNewRowFun = function () {
        var date = new Date();
        var str = date.Format("yyyy-MM-dd");

        var row = $(tableName).datagrid('getRows');

        $(tableName).datagrid("insertRow", {
            index: row.length, // index start with 0
            row: {
                "Dlydate": str//"DLY_DATE"为当前时间
            }
        });
        var index = row.length - 1;
        //将新插入的那一行开户编辑状态
        $(tableName).datagrid("beginEdit", index);
        //给当前编辑的行赋值
        editRow = index;

    }

    $(function () {
        Common.Functions.createDataGrid({
            target: tableName,
            url: "/Purchase/SupplierOrder/ShowSupplierOrderDetail?supplierOrderId=\"\"",
            columns: columns,
            pagination: false,//不要分页
            maxWidth: 1020,
            maxHeight: 200,
            onBeforeLoad: function (queryParams) {
                var arr = $(formName).serializeArray();
                $.each(arr, function () {
                    queryParams[this.name] = this.value;
                });
            },
            onAfterEdit: function (rowIndex, rowData, changes) {
                //endEdit该方法触发此事件    
            },
            onLoadError: function () {
                alert("请求服务器失败，请刷新页面重试！");
            },
            onCreating: function (data) {
                //do something...
                for (var i = 0; i < 4; i++) {
                    addNewRowFun();
                } setTimeout(function () {
                    $.parser.parse(".datagrid");//解析datagrid
                }, 20);
            }
        });
    });
</script>

<!--  按钮 -->
<div class="FunctionButton_Area" style="width: 100%; text-align: right;">
    <!--  审核 -->
    @*@UserHelpers.ButtonForExamine("auditFun()")*@
    <!--  保存 -->
    @UserHelpers.ButtonForSave("saveFun()")
    <!-- 打印预览 -->
    @*@UserHelpers.ButtonForPrintPreview("printFun()")*@
    <!-- 关闭 -->
    @UserHelpers.ButtonForClose("parent.closeTab(gTitle)")
    <span style="width: 100px; margin-right: 10%">&nbsp;</span>
</div>

<!-- 分割线 -->
@UserHelpers.Line()


<br />
<form id ="supOdr_creatfrom">
    <!--  表外布局 -->
    <div style="width: 100%; text-align: center; margin-bottom: 10px;">
        <div>
            <!-- Table 控制表上数据格式  -->
            <table id="search_table" style="margin: auto; text-align: left;">
                <tr>
                    <!-- 外协加工调度单号  -->
                    <td><span>@VT_SupplierOrderPrint.SupplierProcessingOrder@VT_SupplierOrderPrint.No:</span><label>@ViewBag.SupOdrId</label></td>
                    <!-- 状态 --->
                    <td><span style="margin-left: 40px;">@VT_SupplierOrderPrint.SupplierOrderStatus：</span>
                        <label style="width: 100px;"></label>
                        <!--  紧急状态 -->
                        @UserHelpers.SelectWidget(Constant.MasterSection.URGENT_STATE, "UrgentStatus", "UrgentStatus")
                        <span style="margin-left: 120px;">@VT_SupplierOrderPrint.CustomerOrderID：</span>
                        <!--  客户订单号 -->
                        <input id="CustomerOrderID" class="easyui-searchbox" style="width: 150px;" />
                    </td>
                </tr>
                <tr>
                    <!-- 所属部门 --->
                    <td>
                        <span>@VT_SupplierOrderList.BelongDepartment：</span>
                        @UserHelpers.SelectWidget(Constant.MasterSection.DEPT, "DepartmentName", "DepartmentName")
                    </td>
                    <!--  调度单种类 -->
                    <td>
                        <span style="margin-left: 40px;">@VT_SupplierOrderList.OrderType：</span>
                        @UserHelpers.SelectWidget(Constant.MasterSection.SUP_ODR_TYPE, "OrderType", "OrderType")
                    </td>
                </tr>
                <tr>
                    <!--  调入公司  -->
                    <td>
                        <span>@VT_SupplierOrderList.InCompany：</span><input id="Incomp" class="easyui-searchbox" style="" value="" /></td>
                    <td style="text-align: right;">
                        @UserHelpers.ButtonForLineAddition("addNewRowFun()")
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!--  添加数据区域 -->
    <div class="datagrid">
        <table id="SupplierOrderTable"></table>
    </div>

    <!-- 相关操作人显示  -->
    <div class="footOrder" style="text-align: center; width: 100%; margin-top: 20px;">
        <table id="foot_table" style="margin:auto;text-align:left;">
            <tr>
                <!--  生产主管  -->
                <td><span class="foot_operat">@VT_SupplierOrderList.ProduceManager：</span><input id ="PrdMngrName" class="easyui-searchbox" /></td>
                <!--  制单人  -->
                <td><span class="foot_operat" style="margin-left:100px;">@VT_SupplierOrderList.MarkUser：</span><input id="MarkName" class="easyui-searchbox" /></td>
                <!--  经办人  -->
                <td><span class="foot_operat" style="margin-left:100px;">@VT_SupplierOrderPrint.Operator：</span><input id="OptrName" class="easyui-searchbox" /></td>
            </tr>
        </table>
    </div>
</form>
