@{
    ViewBag.Title = "FinInRecordDetls";
}
@using App_UI.Resource.ViewText.Store
<style>
#tablesearch {
        margin:auto;
       
        text-align:left;
    }

#tableshow {
        margin:auto;
       
        text-align:left;
    }
</style>

<!--上面的页面导航-->
<div class="buttons" style="width:100%;text-align:right;">
    @if (ViewBag.state == "1")
    {
        @UserHelpers.ButtonForLoading("loginFun()","login","disabled")
        @UserHelpers.ButtonForUpdate("editFun()","edit") 
    }
    @if (ViewBag.state == "0" || ViewBag.state == "2")
    {
        @UserHelpers.ButtonForLoading("loginFun()","login")
        @UserHelpers.ButtonForUpdate("editFun()","edit","disabled")
    }
   <!--  关闭 -->
    @UserHelpers.ButtonForClose("parent.closeTab(gTitle)")
    <span style="width:100px;margin-right:10%">&nbsp;</span>
</div>
<!--分割线-->
@UserHelpers.Line()
<!--界面-->
<div style="width:100%;text-align:center;margin-bottom:25px;">
    @UserHelpers.Title(@VT_FinInRecord.FinInRecordDtlTitle)
</div>

<div style="width:100%;text-align:center;margin-bottom:15px;">
    <div style="width:100%;margin:auto;text-align:left;">
        <form id="processForm"  method='post'>
            <table id="tablesearch">
                <tr>
                <td>@VT_FinInRecord.PlanID：</td>
                <td>
                <input id="ProductWarehouseID" class="_text_input" name="ProductWarehouseID" value="@ViewBag.planId" />
                </td> 
                <td>@VT_FinInRecord.BatchID：</td>
                <td>
                <input id="BatchID" class="_text_input" name="BatchID" value="@ViewBag.batchId" />
                </td>
                    <td>@VT_FinInRecord.WareHouse：</td>
                    <td><select id='WareHouseID' name='WareHouseID' style="width:80px;">
                        <option value='0302' selected>分离单元成品库</option>
                        <option value='0303'>涨紧轮单元成品库</option></select>
                    </td>
                    <td>@VT_FinInRecord.InMoveCls：</td>
                    <td><select id='InMoveCls' name='InMoveCls' style="width:80px;">
                        <option value='00' selected>正常入库</option>
                        <option value='01'>移库入库</option></select>
                    </td>
                    @if (ViewBag.state == "0")
                    {
                        <td style="width:70px"></td>
                    }
                </tr>

                <tr> 
                    <td style="text-align: right">@VT_FinInRecord.Remarks：</td>
                    <td colspan="7">
                        <input id="MRemarks" class="_text_input" name="MRemarks" value="@ViewBag.remarks" style="width:736px;" />
                    </td>
                    @if (ViewBag.state == "0")
                    {
                        <td style="text-align: right">
                            @UserHelpers.ButtonForLineAddition("addRowFun()","addRow")
                        </td>
                    }
                </tr>

                 </table>
         </form>
    </div>
</div>

<div class="datagrid" style="margin-bottom:10px;">
    <table id="finInRecordDetlsTable"></table> 
</div>

<div style="width:100%;margin:auto;text-align:right;">
    <table id="tableshow">
    <tr>
        <td style="width:250px"></td>
        <td style="width:250px"></td>
        <td style="width:250px"></td>
        <td>@VT_FinInRecord.WareHouseKpID：</td>
        <td><Label id="WareHouseKpID" style="width:60px;">@ViewBag.wareHouseKpId</Label></td>
    </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>@VT_FinInRecord.InDate：</td>
            <td><input class="easyui-datebox" name="InDate" id="InDate" style="width:110px;" value="@ViewBag.inDate"/></td>
        </tr>
    </table>
</div>

<!-- 物料选择对话框 -->
<div class="easyui-dialog" id="ProdPartSelectDiv" closed="true" data-options="buttons:'#prodPartSelect',modal:true"></div>
<div id="prodPartSelect">
    @UserHelpers.ButtonForChoose("SelProdPartAndCloseDialogFun('PartId', 'OrderProductID', 'ProductName','PrchsUp', editRow, 'ProdPartSelectDiv')")
    @UserHelpers.ButtonForClose("CloseDialogFun('ProdPartSelectDiv')")
</div>

@section head{
<link rel="stylesheet" href="~/Content/css/Store/EndProInRecord.css" /> 
   
<script>

    var table;  //搜索结果的Table
    var loginFlag = 0;  //标识登录状态
    var editFlag = 0;  //标识编辑状态
    var addRowFlag = 0;  //标识手动登录刚进来时新添加一行
    var Index = 0;  //在输入ID自动生成方法里记录行索引
    /***********operations start***************/

    //登录保存方法
    var loginFun = function (rowIndex, rowData, changes) {
        var row = $(table).datagrid('getRows');
        var a = "@ViewBag.state";
        if (row.length > 0) {
            //定义一个数组用于存放table中的数据
            var inRecordList = [];
            var a = $(".PdtID");
            for (var i = 0; i < row.length; i++) {
                $("#finInRecordDetlsTable").datagrid("endEdit", i);
                var inRecord = {};
                inRecord["RowIndex"] = i;
                inRecord["PlanID"] = row[i].PlanID;
                inRecord["ProductCheckID"] = row[i].ProductCheckID;
                inRecord["TeamID"] = row[i].TeamID;
                if (a == "0") {
                    inRecord["OrderProductID"] = $(a[i]).val();
                }
                else {
                    inRecord["OrderProductID"] = row[i].PartID;
                }
                inRecord["ProductName"] = row[i].ProductName;
                inRecord["ProductSpecification"] = row[i].ProductSpecification;
                inRecord["QualifiedQuantity"] = row[i].QualifiedQuantity;
                inRecord["GiclsProduct"] = row[i].GiclsProduct;
                inRecord["Remarks"] = row[i].remarks;
                inRecord["EachBoxQuantity"] = row[i].EachBoxQuantity;
                inRecord["BoxQuantity"] = row[i].BoxQuantity;
                inRecord["RemianQuantity"] = row[i].RemianQuantity;
                //将inRecord加进inRecordList
                inRecordList.push(inRecord);
            }

            var wareHouseID = document.getElementById("WareHouseID");
            var wareHouseValue = wareHouseID.options[wareHouseID.selectedIndex].value;
            var inMoveCls = document.getElementById("InMoveCls");
            var inMoveClsValue = inMoveCls.options[inMoveCls.selectedIndex].value;
           
            $.ajax({
                async: true,
                url: "/Store/FinInRecord/Login?pageFlg=@ViewBag.state&editFlg=" + editFlag,
                data: {
                    ProductWarehouseID: $("#ProductWarehouseID").val(),
                    BatchID: $("#BatchID").val(),
                    WareHouseID: wareHouseValue,
                    InMoveCls: inMoveClsValue,
                    InDate: $("#InDate").datebox('getValue'),

                    WareHouseKpID: $("#WareHouseKpID").html(),
                    MRemarks: $("#MRemarks").val(),

                    inRecordList: inRecordList
                },
                type: "post",
                success: function (data) {
                    var _data = eval('(' + data + ')');
                    if (_data.Result == true) {
                        $.messager.alert("信息", _data.Message);
                        $("#login").attr("disabled", true);
                        $("#edit").attr("disabled", false);
                        $("#OrderProductID").attr("disabled", true);
                        $("#ProductWarehouseID").attr("disabled", true);
                        $("#BatchID").attr("disabled", true);
                        $("#WareHouseID").attr("disabled", true);
                        $("#InMoveCls").attr("disabled", true);
                        $("#MRemarks").attr("disabled", true);
                        var c = $('#InDate').data('combo').combo.find('span .combo-arrow');//sad 
                        $(c).attr("disabled", true); //
                        $(".datebox :text").attr("readonly", "readonly");
                        if (a == "0")
                        {
                            $("#addRow").attr("hidden", true);
                        }
                        $(table).datagrid("reload");

                    } else {
                        //title：显示在标题面板的标题文本;msg：提示框显示的消息文本;icon：提示框显示的图标,可用的值是：error,question,info,warning;fn：当窗口关闭时触发的回调函数
                        $.messager.alert("信息", _data.Message, "info", function () {
                            //开启编辑
                            vareditorInfons();
                        });
                        //do something another...
                    }
                }
            });
            console.info(rowData);
            loginFlag = 1;
            editFlag = 0;
            addRowFlag = 1;
            
        }
    }


    //编辑操作
    var editFun = function () {

            loginFlag = 0;
            editFlag = 1;
            addRowFlag = 1;

            //设置画面控件可用不可用
            var c = $("#login").attr("disabled", false);
            var d = $("#edit").attr("disabled", true);

            $("#ProductWarehouseID").attr("disabled", true);
            $("#BatchID").attr("disabled", true);
            $("#WareHouseID").attr("disabled", false);
            $("#InMoveCls").attr("disabled", false);
            $("#MRemarks").attr("disabled", false);
            var c = $('#InDate').data('combo').combo.find('span .combo-arrow');//sad 
            $(c).attr("disabled", false); //

            //打开编辑
            var row = $(table).datagrid('getRows');
            if (row.length > 0) {
                for (var i = 0 ; i < row.length; i++) {
                    $("#finInRecordDetlsTable").datagrid("beginEdit", i);
                }
            }
        };

       //行添加
        var addRowFun = function () {

            loginFlag = 0;
            addRowFlag = 1;
         
            var row = $(table).datagrid('getRows');

            $(table).datagrid("insertRow", {
                row: {

                    "QualifiedQuantity":0,
                    "EachBoxQuantity":0,
                    "BoxQuantity":0,
                    "RemianQuantity": 0
                }
            });
            var index = row.length - 1;
            //将新插入的那一行开启编辑状态
            $(table).datagrid("beginEdit", index);
        }

        // 【物料选择按钮】按下
        var ShowProdPartInfoScreen = function (obj) {
            var rowObj = obj.parentNode.parentNode.parentNode
            editRow = $(rowObj).index();
            ShowProdPartInfo("ProdPartSelectDiv", "", "");
        }

        //-------------------------------------------------------------------------
        // 显示物料选择画面
        //
        // divID：   嵌套供物料选择画面的dialgo的div的ID 
        // abbrev：物料编号
        // name：  物料名称
        //-------------------------------------------------------------------------
        var ShowProdPartInfo = function (divID, abbrev, name) {
            var url = "/Store/FinOutRecord/ShowProdAndPartInfo?abbrev=" + abbrev + "&name=" + name;
            $("#" + divID).dialog({
                title: "<span style='font-family:Tahoma,Verdana,微软雅黑,新宋体;font-size:14px;margin:0px;padding:0px;'>物料选择画面</span>",
                cache: false,
                resizable: false,
                //fit: true,
                height: 400,
                href: url,
                modal: true,
                width: 600,
                //事件
                onClose: function () {
                }
            });
            $("#" + divID).dialog("open");
        };

        //-------------------------------------------------------------------------
        // 选择物料，返回选中的物料，并关闭物料子查询画面
        // 
        // retID:       返回的物料ID（父画面的物料ID<input name="retID">）
        // retAbbrev:   返回的物料编号（父画面的物料编号<input name="retAbbrev">）
        // retName：    返回的物料名称（父画面的物料名称<input name="retName">）
        // index:       索引（多行时，行号）
        // divID：      要关闭的div的ID 
        //-------------------------------------------------------------------------
        var SelProdPartAndCloseDialogFun = function (retID, retAbbrev, retName,retPricee, idx, divID) {
            var cnt = $("#PPInfoTable").datagrid("getSelections").length;
            if (cnt != 1) {
                alert("请您选择所需要的供货商");
            } else {
                var selectedID = $("#PPInfoTable").datagrid("getSelections")[0]["Id"];
                var selectedAbbrev = $("#PPInfoTable").datagrid("getSelections")[0]["Abbrev"];
                var selectedName = $("#PPInfoTable").datagrid("getSelections")[0]["Name"];
                var selectedPricee = $("#PPInfoTable").datagrid("getSelections")[0]["Pricee"];
                // 设定选择的返回值
                var idArray = $("input[name='" + retID + "']");
                $(idArray[idx]).val(selectedID);
                var idArray = $("input[name='" + retAbbrev + "']");
                $(idArray[idx]).val(selectedAbbrev);
                var nameArray = $("input[name='" + retName + "']");
                $(nameArray[idx]).val(selectedName);
                var priceeArray = $("input[name='" + retPricee + "']");
                $(priceeArray[idx]).val(selectedPricee);

                //物料名称
                $("#finInRecordDetlsTable").datagrid('getRows')[idx]['ProductName'] = selectedName;
                $("#finInRecordDetlsTable").datagrid("refreshColumn", "ProductName");
               
                //关闭弹出框
                $("#" + divID).dialog("close");
            }
        };


    //控件是否可用转换
        var disableChange = function () {
        $(".datebox :text").attr("readonly", "readonly");
        var a = "@ViewBag.state";
        //详细
        if (a == "1")
        {
            $("#ProductWarehouseID").attr("disabled", true);
            $("#BatchID").attr("disabled", true);
            $("#WareHouseID").attr("disabled", true);
            $("#InMoveCls").attr("disabled", true);
            $("#MRemarks").attr("disabled", true);
            document.getElementById("WareHouseID").value = "@ViewBag.wareHouseId";
            document.getElementById("InMoveCls").value = "@ViewBag.inMoveCls";
            var c = $('#InDate').data('combo').combo.find('span .combo-arrow');//sad 
            $(c).attr("disabled", true);
   
        }
        //手工登录
        else if (a == "0") {
            $("#ProductWarehouseID").attr("disabled", false);
            $("#BatchID").attr("disabled", false);
            $("#WareHouseID").attr("disabled", false);
            $("#InMoveCls").attr("disabled", false);
            $("#MRemarks").attr("disabled", false);
        }
        //入库新添加
        else {
            
            $("#ProductWarehouseID").attr("disabled", true);
            $("#BatchID").attr("disabled", true);
            $("#WareHouseID").attr("disabled", false);
            $("#InMoveCls").attr("disabled", false);
            $("#MRemarks").attr("disabled", false);
            document.getElementById("WareHouseID").value = "@ViewBag.wareHouseId";
            document.getElementById("InMoveCls").value = "@ViewBag.inMoveCls";
        }
    }

        //获取可编辑行，打开编辑
        vareditorInfons = function () {
            var row = $(table).datagrid('getRows');
            var a = "@ViewBag.state";

            if (a == "0" || a == "2") {
                if (row.length > 0) {
                    for (var i = 0 ; i < row.length; i++) {
                        $(table).datagrid("beginEdit", i);
                    }
                }
            }
        }

        //获得列属性
        var getColumns = function () {
            //列属性: field(字段名,非空) , title(列名) , width(默认80) , sortable(默认false) , editor(默认null) , formatter(默认-函数)
            var c = "@ViewBag.state";
            //详细或入库新添加时
            if (c == "1" || c == "2") {
                var columns = [
              [//第一行
                           ["PlanID", "计划单号", 100, 2, null, true],
                           ["ProductCheckID", "检验单号", null, 2, null, true],
                           ["TeamID", "装配小组", 100, 2, null, true],
                           ["OrderProductID", "物料编号", 130, 2, null, true, null],
                           ["ProductName", "产成品名称", 120, 2, null, true],
                           ["ProductSpecification", "规格", 80, 2, null, true],
                           ["QualifiedQuantity", "合格数量", null, 2, null, false, "text"],
                           [null/*此处不要写字段名，null或空字符即可，否则会出错*/, "装箱情况", null, null, 3, true],
                           ["GiclsProduct", "是否使用过让步品", 125, 2, null, true],
                           ["Remarks", "备注", 120, 2, null, true],
                           ["PartID", "", null, false]//隐藏项 当前状态
                           
              ], [//第二行
                           ["EachBoxQuantity", "每箱数量", null, null, null, false, "text"], ["BoxQuantity", "箱数", null, null, null, false, "text"], ["RemianQuantity", "零头", null, null, null, false, "text"]
              ]

                ];
            }
            //手工登录
            else {
                var columns = [
            [//第一行
                         ["PlanID", "计划单号", 100, 2, null, true, "text"],
                         ["ProductCheckID", "检验单号", null, 2, null, true, "text"],
                         ["TeamID", "装配小组", 100, 2, null, true, null, function (value, row, index) {
                             var htmlStr = "";
                             htmlStr += ("<select id='giproduct' name='Giproduct' style='width:100px;'><option value='no' selected>A</option><option value='yes'>B</option></select>");
                             return htmlStr;

                         }],
                         ["OrderProductID", "物料编号", 130, 2, null, true, null, function (value, row, index) {
                             return "<input type='text' name='OrderProductID' id='OrderProductID' disabled='true' size='13'/>" +
                                 "<img src='/Scripts/js/themes/icons/search_icon.png' onclick='ShowProdPartInfoScreen(this);'/>" +
                                 "<input type='hidden' id='PartId' name='PartId' class='PdtID'/>";
                         }],
                         ["ProductName", "产成品名称", 120, 2, null, true],
                         ["ProductSpecification", "规格", 80, 2, null, true, "text"],
                         ["QualifiedQuantity", "合格数量", null, 2, null, false, "text"],
                         [null/*此处不要写字段名，null或空字符即可，否则会出错*/, "装箱情况", null, null, 3, true],
                         ["GiclsProduct", "是否使用过让步品", 125, 2, null, true, null, function (value, row, index) {
                             var htmlStr = "";
                             htmlStr += ("<select id='giproduct' name='Giproduct' style='width:100px;'><option value='no' selected>否</option><option value='yes'>是</option></select>");
                             return htmlStr;
                         }],
                         ["Remarks", "备注", 120, 2, null, true, "text"]
                        
            ], [//第二行
                         ["EachBoxQuantity", "每箱数量", null, null, null, false, "text"], ["BoxQuantity", "箱数", null, null, null, false, "text"], ["RemianQuantity", "零头", null, null, null, false, "text"]
            ]
                ];
            }

            return columns;
        };


        $(function () {
            table = $("#finInRecordDetlsTable");
            var pageFlag = "@ViewBag.state";
            disableChange();
            Common.Functions.createDataGrid({//创建datagrid,详细内容参见functions.js
                target: "#finInRecordDetlsTable",//table容器,必须
                url: "/Store/FinInRecord/ShowInRecordDetail?productWarehouseID=@ViewBag.productWarehouseID&flag=@ViewBag.state",//获取数据的地址,必须
                columns: getColumns(),//列属性,必须
                maxWidth: 1200,//最大宽度
                maxHeight: 300,//最大高度
                //pagination: false,
                onDblClickRow: function (rowIndex, rowData) {
                    return false;
                },
                onClickRow: function (rowIndex, rowData) {
                    Index = rowIndex;
                    //alert(Index);
                    return false;
                },
                onLoadError: function () {
                    alert("请求服务器失败，请刷新页面重试!");
                },
                onCreating: function (data) {//数据成功加载
                    //do something...
                    if (pageFlag == "0" && addRowFlag == 0) {
                        addRowFun();
                    }
                    
                    if (loginFlag == 0) {
                        vareditorInfons();
                    }
                }
            });

            //$(document).on("blur", "td[field='OrderProductID'] input", function (event) {
            //    var i = $("td[field='OrderProductID'] input").val();
            //    alert(rowIndex);
            //    $.ajax({

            //        url: "/Store/FinInRecord/GetProductName?partAbbrevi=" + i,
            //        data: {
            //            partAbbrevi: i
            //        },
            //        type: "post",
            //        success: function (Data) {

            //            $(table).datagrid('getRows')[Index]['ProductName'] = Data;
            //            $(table).datagrid("refreshColumn", "ProductName");
            //        },
            //        error: function () {

            //            $(table).datagrid('getRows')[Index]['ProductName'] = "";
            //            $(table).datagrid("refreshColumn", "ProductName");
            //        }

            //    });
            // })
            //隐藏 当前状态
            $('#finInRecordDetlsTable').datagrid('hideColumn', 'PartID');

        });
    
</script>
}

