@{
    ViewBag.Title = "Index";
}
@using App_UI.Resource.ViewText.Store
<style>
#tablesearch {
        margin:auto;
       
        text-align:left;
    }

</style>

<script type="text/javascript" src="~/Scripts/common/dialog.js"></script>
<!--上面的页面导航-->
<div class="buttons" style="width:100%;text-align:right;">
    <!--  新增 -->
    @UserHelpers.ButtonForCreate("addFun()")
    <!--  手工登录 -->
    @UserHelpers.ButtonForHandLoading("loginFun()","login")
    <!--  删除 -->
    @UserHelpers.ButtonForDelete("deleteFun()")
    <!--  关闭 -->
    @UserHelpers.ButtonForClose("parent.closeTab(gTitle)")
    <span style="width:100px;margin-right:10%">&nbsp;</span>
</div>
<!--分割线-->
@UserHelpers.Line()
<!--界面-->
<div style="width:100%;text-align:center;margin-bottom:25px;">
        @UserHelpers.Title(@VT_FinInRecord.FinInRecordTitle)
</div>

<div style="width:100%;text-align:center;margin-bottom:12px;">
    <div style="width:95%;margin:auto;text-align:left;">
        <form id="searchForm" class="Search_Form" method='post'>
            <table id="tablesearch">
                <tr>
                <td>@VT_FinInRecord.PlanID：</td>
                <td>
                    @UserHelpers.InputSimple("PlanID",20)
                    </td> 
                <td style="padding-left: 20px">@VT_FinInRecord.PartAbbrevi：</td>
                <td>
                    @UserHelpers.Input("PartAbbrevi","ShowProdPartInfoScreen();")
                    <input type="hidden" id="PartId" name="PartId"/>
                    </td>
                <td>
                    <input id="PName" name="PName" disabled="disabled"/>
                    @*<label id="PName1"></label>*@

                </td> 
                     <td style="padding-left: 20px">
                    <input name="InMoveCls" type="radio" value="00"/>@VT_FinInRecord.InCls
                    <input name="InMoveCls" type="radio" value="01"/>@VT_FinInRecord.MoveCls</td>
                <td style="width:200px;"></td> 
                </tr>

                <tr>
                    <td>@VT_FinInRecord.ClientOrderID：</td>
                <td>
                    @UserHelpers.Input("ClientOrderID","ClientOrderID")
                </td>
                <td style="padding-left: 20px">@VT_FinInRecord.InDate：</td>
                <td>
                    @UserHelpers.TimeInput("InDate1")
                </td>
                <td>
                    ~@UserHelpers.TimeInput("InDate2")
                </td> 
                <td></td>
                <td style="text-align: right">
                    @UserHelpers.ButtonForSearch("searchFun1()")
                </td> 
                </tr>
            </table>
         </form>
    </div>
</div>

<div class="datagrid">
    <table id="finInRecordTable"></table> 
</div>

<!-- 物料选择对话框 -->
<div class="easyui-dialog" id="ProdPartSelectDiv" closed="true" data-options="buttons:'#prodPartSelect',modal:true"></div>
<div id="prodPartSelect">
    @UserHelpers.ButtonForChoose("SelProdPartAndCloseDialogFun('PartId', 'PartAbbrevi', 'PName', '0', 'ProdPartSelectDiv')")
    @UserHelpers.ButtonForClose("CloseDialogFun('ProdPartSelectDiv')")
</div>

@section head{
<link rel="stylesheet" href="~/Content/css/Store/EndProInRecord.css" /> 
   
<script>

    //显示数据的表的标志
    var table;
    //搜索标志
    var form;

    /***********operations start***************/

    //详细跳转  跳到入库履历详细画面
    var detailFun = function (flg,id) {
       
        parent.addTab("入库履历详细", "/Store/FinInRecord/FinInRecordDetls?flg=1&id=" + id);
    };

    //删除操作
    var deleteFun = function () {
        var row = $(table).datagrid('getSelections');
        if (row.length > 0) {
            var Check = "";
            for (var i = 0; i < row.length; i++) {
                Check += row[i].PlanID + ",";
            }
            Check = Check.substring(0, Check.length - 1);
            $.messager.confirm("友情提示", "您确认要删除这些信息吗？", function (deleteOK) {
                if (deleteOK) {
                    $.post("/Store/FinInRecord/Delete", { PlanID: Check }, function (data) {
                        var _data = eval('(' + data + ')');//取function得返回值
                        if (_data.result == true) {
                            $(table).datagrid("reload");
                        } else {
                            alert("删除失败,请重新操作");
                            //do something another...
                        }
                    });
                }
            });
        };

    };

    
    //手工登录跳转（暂时不用）
    var loginFun = function (flg,id) {

        parent.addTab("入库履历详细", "/Store/FinInRecord/FinInRecordDetls?flg=0&id=\"\"");
    };

    //新增跳转  跳到待入库一览画面
    var addFun = function (flg) {
        
        parent.addTab("待入库一览", "/Store/FinInStore/Index");
    };

    //搜索功能
    var searchFun1 = function () {
        //ajax form提交
        form.form("submit", {//form提交
            url: "/Store/FinInRecord/Get",
            onSubmit: function (param) {//除表单外的数据(分页)
                var pager = table.datagrid("getPager");
                var pagerOptions = $(pager).pagination("options");
                param.rows = pagerOptions.pageSize;
                param.page = 1;
            },
            success: function (data) {
                table.datagrid("loadData", eval('(' + data + ')'));//重新加载数据
            }
        });
    };

    //放大镜文本框点击事件
    function SearchBox(value, name) {
        alert(value + ":" + name)
    }


    // 【物料选择按钮】按下
    var ShowProdPartInfoScreen = function () {
        ShowProdPartInfo("ProdPartSelectDiv", "", "");
    }
    /***********operations end***************/

    //获得列属性
    var getColumns = function () {
        //列属性: field(字段名,非空) , title(列名) , width(默认80) , sortable(默认false) , editor(默认null) , formatter(默认-函数)
        var _columns = [[
            ["PlanID", "成品交仓单号", 144, true],
            ["BatchID", "批次号", 100, true],
            ["WareHouseID", "仓库编号", 110, false],
            ["WareHousePositionID", "仓位", 75, false],
            ["InMoveCls", "入库移动区分", 103, true, null, function (value, row, index) {
                var htmlStr = "";
                if (value == "00") {
                    htmlStr = "入库";
                } else if (value == "01") {
                    htmlStr = "移库";
                }
                return htmlStr;
            }],
             ["InDate", "入库日期", 110, true, { type: "autoComplete", options: { model: "user" } }, function (value, row, index) {
                 var date;
                 var strDt = (value + "").replace(/\/Date\(/, "").replace(/\)\//, "");
                 if (isNaN(strDt)) {
                     date = strDt.ToDate();
                 } else {
                     date = new Date(strDt.ToInt());
                 }
                 var str = date.Format("yyyy-MM-dd");
                 row.Addate = str;
                 return str;
             }],
            ["WareHouseKpID", "仓管员", 80, false],
            ["Remarks", "备注", 160, false],
            ["Detail", "详细", 70, false,null, function (value, row, index) {
                var htmlStr = "";
                htmlStr += ("<input type='button' value='详细' style='font-size:13px;width:60px;height:19px' name='Enabled' onclick=\"" + "detailFun('1','" + row.PlanID + "')\" value='" + value + "'\">");
                return htmlStr;
            }]
        ]];

        return _columns;
    };

   
    $(function () {
        table = $("#finInRecordTable");
        form = $("#searchForm");
        
        Common.Functions.createDataGrid({//创建datagrid,详细内容参见functions.js
            target: "#finInRecordTable",//table容器,必须
            url: "/Store/FinInRecord/Get",//获取数据的地址,必须
            columns: getColumns(),//列属性,必须
            checkbox: true,//是否显示checkbox
            maxWidth: 1100,//最大宽度
            maxHeight: 300,//最大高度
            onBeforeLoad: function (queryParams) {//可以添加一些额外参数,主要用于查询条件
                var arr = $(form).serializeArray();
                $.each(arr, function () {
                    queryParams[this.name] = this.value;
                });
            },
            onLoadError: function () {
                alert("请求服务器失败，请刷新页面重试!");
            },
            onCreating: function (data) {//数据成功加载
                //do something... 
            },
            loadFilter: function (data) {
                var _data = {};
                _data.rows = isUndefined(data.rows) ? data : data.rows;
                _data.total = isUndefined(data.total)?5:data.total;
                return _data;
            }
        });
    });

</script>

}
