@using App_UI.Resource.ViewText.Purchase
@using Model;
<script src="~/Scripts/common/dialog.js" type="text/javascript"></script>
<script src="~/Scripts/purchase/PurchaseInstructionsList.js" type="text/javascript"></script>

<!--上面的页面导航-->
<div class="buttons" style="width:100%;text-align:right;">
    @UserHelpers.Button("showPurchaseSchedulingFun()", @VT_PurchaseInstructionList.Scheduling, "", "")
    @UserHelpers.ButtonForClose("parent.closeTab(gTitle)") 
</div>
<!--分割线-->
@UserHelpers.Line()
<br/>
<!--标题-->
<div style="width:100%;text-align:center;margin-bottom:5px;">
    @UserHelpers.Title(@VT_PurchaseInstructionList.Title)
</div><br/>
<!--主页面-->
<div class="div_main">
    <div id="toolbar" style="text-align:center">
        <form id="Search_Form" class="Search_Form" method ="post" >  
            <table class="table_search" style="margin:auto;text-align:left;">
                <tr>
                    <td>@VT_PurchaseInstructionList.CustOrderNo</td>
                    <td>@UserHelpers.Input("CustOrderNo")</td>
                    <td style="padding-left: 20px">@VT_PurchaseInstructionList.PrdtType</td>
                    <td>@UserHelpers.Input("PrdtType")</td>                         
                    <td style="padding-left: 20px">@VT_PurchaseInstructionList.MaterialNo</td>
                    <td>@UserHelpers.Input("MaterialNo","ShowProdPartInfoScreenByAbbrev();")</td>
                    <td style="padding-left: 20px">@VT_PurchaseInstructionList.MaterialName</td>
                    <td>@UserHelpers.Input("MaterialName","ShowProdPartInfoScreenByName();")</td>
                </tr>
                <tr>
                    <td>@VT_PurchaseInstructionList.Company</td>
                    <td colspan="3" style ="text-align :left">@UserHelpers.Input("CompName","ShowCompInfoScreen()")</td>
                    <td style="padding-left: 20px">@VT_PurchaseInstructionList.SupplyDate</td>
                    <td colspan="3" style ="text-align :left">@UserHelpers.TimeInput("SupplyDateS")&nbsp;&nbsp;
                        @VT_PurchaseInstructionList.SupplyDateTo&nbsp;&nbsp;@UserHelpers.TimeInput("SupplyDateE")</td>
                </tr>
                <tr>
                    <td>@VT_PurchaseInstructionList.Department</td>
                    <td>@UserHelpers.SelectWidget(Constant.MasterSection.DEPT, "DeptID", "DeptID")</td>
                    <td style="padding-left: 20px">@VT_PurchaseInstructionList.ScheduleStatus</td>
                    <td>@UserHelpers.SelectWidget(Constant.MasterSection.SCHEDULE_STATUS, "ScheduleStatus", "ScheduleStatus")</td>
                    <td colspan="4" style ="text-align :right ">@UserHelpers.ButtonForSearch("search_Btn_Fun()")</td>
                </tr>
            </table>
        </form>
    </div>
    <div class="datagrid" style="text-align:center;width:100%; height:200px">
        <table id="Data_Table"></table>
    </div>
</div>

<!-- *************************************************************** 子查询画面START ******************************************************** -->
<!-- 供货商选择对话框 -->
<div class="easyui-dialog" id="CompSelectDiv" closed="true" data-options="buttons:'#companySelect',modal:true"></div>
<div id="companySelect">
    @UserHelpers.ButtonForChoose("SelCompAndCloseDialogFun('','CompName','0','CompSelectDiv')")
    @UserHelpers.ButtonForClose("CloseDialogFun('CompSelectDiv')")
</div>

<!-- 物料选择对话框 -->
<div class="easyui-dialog" id="ProdPartSelectDiv" closed="true" data-options="buttons:'#prodPartSelect',modal:true"></div>
<div id="prodPartSelect">
    @UserHelpers.ButtonForChoose("SelProdPartAndCloseDialogFun('', 'MaterialNo', 'MaterialName', '0', 'ProdPartSelectDiv')")
    @UserHelpers.ButtonForClose("CloseDialogFun('ProdPartSelectDiv')")
</div>
<!-- *************************************************************** 子查询画面END ******************************************************** -->
