@model int

<link rel="stylesheet" href="~/Content/css/Store/SemStore.css">
<script type="text/javascript" src="~/Scripts/common/dialog.js"></script>
<script>

    var tableName = "#userTable";//待修改
    var formName = "#searchForm";//待修改
    //var form4Add = "#form4Add";
    //var form4Update = form4Add;

    //var model = ["add", "update"];
    //var addOrUpdate;//标志:添加还是修改

    //var Id;//暂存修改时的id(主键)

    //关闭窗体
    function CloseFun() {
        parent.closeTab(gTitle)
    }

    //根据Enable修改某条记录
    var updateInfos = function () {
        var row = $(tableName).datagrid('getSelections');
        if (row.length > 0) {
            var checkDeliverID = ""
            var checkIsetRepID = "";
            for (var i = 0; i < row.length; i++) {
                checkDeliverID += row[i].DeliveryOrderID + ",";
                checkIsetRepID += row[i].IsetRepID + ",";
            }
            checkDeliverID = checkDeliverID.substring(0, checkDeliverID.length - 1);
            checkIsetRepID = checkIsetRepID.substring(0, checkIsetRepID.length - 1);
            //发送异步请求传递给后台我们所选中的数据
            $.messager.confirm("友情提示", "确认入库?", function (updateOK) {
                if (updateOK) {
                    loginInfos(checkDeliverID, checkIsetRepID);
                    //$.post("/Store/SemInStore/Edit", { Id: checkID }, function (data) {
                    //    var _data = eval('(' + data + ')');
                    //    console.info(_data);
                    //    if (_data.result == true) {                          
                    //        $(tableName).datagrid("reload");
                    //    } else {
                    //        $.messager.alert("友情提示", "入库失败! " + data);
                    //        //do something another...
                    //    }
                    //});
                }
            });
            row.length = 0;
          
        } else {
             $.messager.alert("友情提示", "请选择入库数据! ");
        }
    };

    //文本框点击事件
    function SearchBox(value, name) {
        alert(value + ":" + name)
    }

    //转到入库登录页面
    var loginInfos = function (checkDeliverID, checkIsetRepID) {
        var $tabs = parent.$("#tabs");
        var $tab = parent.$("#tabs").tabs("getSelected");
        $tabs.tabs("update", {
            tab: $tab,
            options: {
                href: "/Store/SemInStore/SemInLogin?deliveryOrderID=" + checkDeliverID + "&isetRepID=" + checkIsetRepID + "", title: "入库登录"
            }
        });
        //parent.addTab("入库登录", "/Store/SemInStore/SemInLogin?deliveryOrderID=" + checkDeliverID + "&isetRepID=" + checkIsetRepID + "");
    }
    //搜索
    var searchBtnFun = function () {
        $(formName).form("submit", {//ajax form提交
            url: "/Store/SemInStore/Get",
            onSubmit: function (param) {//除表单外的数据(分页)
                var pager = $(tableName).datagrid("getPager");
                var pagerOptions = $(pager).pagination("options");
                param.rows = pagerOptions.pageSize;
                param.page = 1;//pagerOptions.pageNumber;
            },
            success: function (data) {
                $(tableName).datagrid("loadData", eval('(' + data + ')'));//重新加载数据
            }
        });
    }

    //列属性:field,title,width,sortable,editor,formatter
    var columns = [[
             ["IsetRepID", "检验报告单", 180, true],
             ["DeliveryOrderID", "送货单号", 180, true],
             ["PName", "物料名称", 180, false],
             ["QCDate", "质检交付日期", 180, true, null, function (value, row, index) {
                 var date;
                 var strDt = (value + "").replace(/\/Date\(/, "").replace(/\)\//, "");
                 if (isNaN(strDt)) {
                     date = strDt.ToDate();
                 } else {
                     date = new Date(strDt.ToInt());
                 }
                 var str = date.Format("yyyy-MM-dd");
                 row.Paydate = str;
                 return str;
             }]
    ]];
    // 【物料选择按钮】按下
    var ShowProdPartInfoScreen = function () {
        ShowProdPartInfo("ProdPartSelectDiv", "", "");
    }
    // 加载页面
    $(function () {
        Common.Functions.createDataGrid({//创建datagrid,详细内容参见functions.js
            target: tableName,
            url: "/Store/SemInStore/Get",
            columns: columns,
            idField: "IsetRepID",
            //toolbar: $("#toolbar"),//工具栏
            nowrap: false,
            checkbox: true,//是否显示checkbox
            maxWidth: 950,
            maxHeight: 200,
            onBeforeLoad: function (queryParams) {//可以添加一些额外参数,主要用于查询条件
                var arr = $(formName).serializeArray();
                $.each(arr, function () {
                    queryParams[this.name] = this.value;
                });
            },
            onLoadError: function () {
                $.messager.alert("友情提示", "请求服务器失败，请刷新页面重试! "); 
            },
            onCreating: function (data) {
                //do something...
            }
        });
    });

</script>

<style>
.Search_Table {
        margin:auto;      
        text-align:left;
    }
</style>

<div class="buttons" style="width:100%;text-align:right;"><br />
    @UserHelpers.ButtonForInStorage("updateInfos()")
    @if (Model == 1) { //拥有新建权限
    @UserHelpers.ButtonForClose("CloseFun()")   
}
    <span style="width:100px;margin-right:10%">&nbsp;</span>
</div>
<!--   分割线    -->
@UserHelpers.Line()
<div style="width:100%;text-align:center;">
    <h2>待入库一览</h2><br/>
</div>

<div style="width: 100%; text-align: center; margin-bottom: 12px;">
    <div style="width:95%;margin: auto; text-align: left;">
        <form class="Search_Form" id='searchForm' method='post'>
            <table class='Search_Table' style="">
                <tr>
                    <td>检验报告单：</td>
                    <td>
                        @UserHelpers.Input("IsetRepID")
                    </td>
                    <td style="padding-left: 20px">送货单：</td>
                    <td>
                        @UserHelpers.Input("DeliveryOrderID")
                    </td>

                    <td style="padding-left: 20px">物料名：</td>
                    <td>
                        @UserHelpers.Input("PName", "ShowProdPartInfoScreen();")
                        <input type="hidden" id="MaterielID" name="MaterielID" />
                        <input type="hidden" id="PartAbbrevi" name="PartAbbrevi" />
                    </td>

                </tr>
                <tr>
                    <td style="">&nbsp;&nbsp;质检日期：</td>
                    <td colspan="4">
                        @UserHelpers.TimeInput("StartDt")~@UserHelpers.TimeInput("EndDt")</td>
                    <td style="text-align: right">
                        @UserHelpers.ButtonForSearch("searchBtnFun()")
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div class="datagrid" style="text-align:center;width:100%;">
    <table id="userTable"></table>
</div>

<!-- 物料选择对话框 -->
<div class="easyui-dialog" id="ProdPartSelectDiv" closed="true" data-options="buttons:'#prodPartSelect',modal:true"></div>
<div id="prodPartSelect">
    @UserHelpers.ButtonForChoose("SelProdPartAndCloseDialogFun('MaterielID', 'PartAbbrevi', 'PName', '0', 'ProdPartSelectDiv')")
    @UserHelpers.ButtonForClose("CloseDialogFun('ProdPartSelectDiv')")
</div>



@*div style="width:100%;text-align:center;margin-bottom:12px;">
    <div style="width:95%;margin:auto;text-align:left;">
    <form class="Search_Form" id='searchForm' method='post'>
        &nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp&nbsp
        &nbsp;&nbsp;检验报告单号：<input id="IsetRepID" class="easyui-searchbox" style="width:100px"data-options="searcher:SearchBox,prompt:'',menu:'#mm'" name="IsetRepID"/> 
        &nbsp;&nbsp;送货单：<input id='DeliveryOrderID'class="easyui-searchbox" style="width:100px"data-options="searcher:SearchBox,prompt:'',menu:'#mm'" name='DeliveryOrderID'/>
        &nbsp;&nbsp;物料名：<input id='MaterielID'class="easyui-searchbox" style="width:100px"data-options="searcher:SearchBox,prompt:'',menu:'#mm'" name='MaterielID'/><br/><br/>
        &nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp&nbsp
        &nbsp;&nbsp;质检日期：<input id='StartDt'style="width:110px" type='text' class='easyui-datebox' name='StartDt'/>&nbsp;~&nbsp;<input id='EndDt'style="width:110px" type='text' class='easyui-datebox' name='EndDt'/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         @UserHelpers.ButtonForSearch("searchFun()") 
    </form>
</div>
</div>

<div class="datagrid" style="text-align:center;width:100%;">
    <table id="userTable"></table>
</div>

*@
