@using Model
@model Model.UserInfo
@{
    Layout = "~/Areas/Admin/Views/Shared/Edit_Layout.cshtml";
}
  @* @Html.EditorForModel() *@
        <div class="editor-label">
            @Html.LabelFor(model => model.UId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UId)
            @Html.ValidationMessageFor(model => model.UId)
        </div>
          
        <div class="editor-label">
            @Html.LabelFor(model => model.UName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UName)
            @Html.ValidationMessageFor(model => model.UName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.UPwd)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UPwd)
            @Html.ValidationMessageFor(model => model.UPwd)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.RealName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RealName)
            @Html.ValidationMessageFor(model => model.RealName)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.Sex)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Sex")         
            @Html.ValidationMessageFor(model => model.Sex)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Tel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tel)
            @Html.ValidationMessageFor(model => model.Tel)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>
       <div class="editor-label">
            角色
        </div>
        <div class="editor-field">

              @foreach (var RoleInfo in ViewBag.RoleInfos)
                    {
                        <input id="@RoleInfo.RId" name="RoleInfo" type="checkbox" value="@RoleInfo.RId"  
                        
                            @if (Model.URoleInfo != null && Model.URoleInfo.Any(a => a.RId.Equals(RoleInfo.RId)))
                            {
                                @("checked")
                            }
                        
                            />
                        <label for="@RoleInfo.RId">@RoleInfo.RName</label>
                    }
        
        </div>
        <div class="editor-label">
            所属部门
        </div>
        <div class="editor-field">

              @foreach (var Departments in ViewBag.Departments)
                    {
                        <input id="@Departments.DeptId" name="Departments" type="checkbox" value="@Departments.DeptId"  
                        
                            @if (Model.UDepartment != null && Model.UDepartment.Any(a => a.DeptId.Equals(Departments.DeptId)))
                            {
                                @("checked")
                            }
                        
                            />
                        <label for="@Departments.DeptId">@Departments.DeptName</label>
                    }
        
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CreDt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreDt)
            @Html.ValidationMessageFor(model => model.CreDt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreUsrID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreUsrID)
            @Html.ValidationMessageFor(model => model.CreUsrID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdDt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UpdDt)
            @Html.ValidationMessageFor(model => model.UpdDt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdUsrID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UpdUsrID)
            @Html.ValidationMessageFor(model => model.UpdUsrID)
        </div>

  


