@using App_UI.Resource.ViewText.Common
@using App_UI.Resource.ViewText.Purchase
@using Model

<script type="text/javascript" src="~/Scripts/purchase/DeliveryOrderList.js"></script>
<script type="text/javascript" src="~/Scripts/common/dialog.js"></script>

<!--上面的页面导航-->
<div class="buttons" style="width:97%;text-align:right;">
    @UserHelpers.ButtonForAdd("AddFun()")
    @UserHelpers.ButtonForDelete("DeleteFun()")
    @UserHelpers.ButtonForExamine("CheckFun()")
    @UserHelpers.ButtonForClose("parent.closeTab(gTitle)")
</div>

<!--分割线-->
@UserHelpers.Line()

<!--界面-->
<div style="width:100%;text-align:center;margin-bottom:5px;">
    <!-- 页面标题 -->
    @UserHelpers.Title(@VT_DeliveryOrder.InitTitle)
</div>

<!-- 搜索块 -->
<div style="width:100%;text-align:center;margin-bottom:15px;">
    <div style="width:95%;margin:auto;text-align:left;">
        <form id="Search_Form" method ="post" class="Search_Form">  
            <table id="tablePlan" style="margin:auto;text-align:left;">
                <tr>
                    <td >@VT_DeliveryOrder.DOrderType：</td>
                    <td >
                        @UserHelpers.SelectWidget(Constant.MasterSection.DEL_ODR_TYPE,"DeliveryOrderType","DeliveryOrderType")
                    </td>
                    <td>@VT_DeliveryOrder.OrdNo：</td>
                    <td>
                        @UserHelpers.Input("OrderNo")
                    </td>
                    <td>@VT_DeliveryOrder.DOrderID：</td>   
                    <td>
                        @UserHelpers.Input("DeliveryOrderID")
                    </td>                    
                    <td>@VT_DeliveryOrder.DOrderStatus：</td>
                    <td>
                        @UserHelpers.SelectWidget(Constant.MasterSection.DEL_ODR_STATE,"DeliveryOrderStatus","DeliveryOrderStatus")
                    </td>  
                </tr>    
                <tr>        
                    <td>@VT_DeliveryOrder.DCompany：</td>               
                    <td colspan="3">
                        @UserHelpers.Input("DeliveryCompany", "ShowCompInfoScreen();")
                    </td>                
                    <td>@VT_DeliveryOrder.DDate：</td>   
                    <td colspan="3">
                        @UserHelpers.TimeInput("DeliveryDateFrom")&nbsp;&nbsp;~&nbsp;&nbsp;@UserHelpers.TimeInput("DeliveryDateTO")
                    </td>
                </tr>    
                <tr>
                    <td>@VT_DeliveryOrder.DeptName：</td>    
                    <td colspan="3">
                        @UserHelpers.SelectWidget(Constant.MasterSection.DEPT, "DepartID", "DepartID")
                    </td>
                    <td>@VT_DeliveryOrder.DUID：</td>
                    <td>
                        @UserHelpers.InputSimple("DeliveryMan")
                    </td>
                    <td colspan="2" style ="text-align :right">
                        @UserHelpers.ButtonForSearch("search_Shd_Fun()")
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div class="datagrid"  >
    <table id="DeliveryOrderListTable"></table>
</div>
<!-- *************************************************************** 子查询画面START ******************************************************** -->
<!-- 供货商选择对话框 -->
<div class="easyui-dialog" id="CompSelectDiv" closed="true" data-options="buttons:'#companySelect',modal:true"></div>
<div id="companySelect">
    @UserHelpers.ButtonForChoose("SelCompAndCloseDialogFun('', 'DeliveryCompany', '0', 'CompSelectDiv')")
    @UserHelpers.ButtonForClose("CloseDialogFun('CompSelectDiv')")
</div>
<!-- *************************************************************** 子查询画面END ******************************************************** -->