@using App_UI.Resource.ViewText.Purchase
<script src="~/Scripts/common/dialog.js" type="text/javascript"></script>
<script src="~/Scripts/purchase/SupplierScheduling.js" type="text/javascript"></script>

<!--按钮部分-->
<div class="buttons" style="width:96%;text-align:right;">  
    @UserHelpers.Button("makeOrder()", @VT_SupplierScheduling.MakeOrder, "", "")
    @UserHelpers.ButtonForClose("parent.closeTab(gTitle)") 
</div>
<!--分割线-->
@UserHelpers.Line()
<br/>
<!--标题-->
<div style="text-align:center;font-size:20px;">
    @UserHelpers.Title(@VT_SupplierScheduling.Title)
</div><br/>

<div class="div_main">
    <div id="toolbar" style="text-align:center">
        <table style="margin:auto;text-align:left;">
            <tr>
                <td>@VT_SupplierScheduling.MakeOrderDate</td>
                <td><span>@ViewBag.NowTime</span></td>
                <td style="padding-left: 20px">@VT_SupplierScheduling.Department</td>
                <td><span>@ViewBag.DeptName</span><input type="hidden" id="hdnScheduleObj" value="@ViewBag.schedulingObject"/></td>
            </tr>
        </table>
    </div>
    <div class="datagrid" style="text-align:center;width:100%;">
        <table id="supplierSchedulingTable" ></table>
    </div>
</div>

<!-- *************************************************************** 子查询画面START ******************************************************** -->
<!-- 供货商选择对话框 -->
<div class="easyui-dialog" id="CompSelectDiv" closed="true" data-options="buttons:'#companySelect',modal:true"></div>
<div id="companySelect">
    @UserHelpers.ButtonForChoose("SelCompAndCloseDialogFun('CompID','CompName',sel,'CompSelectDiv')")
    @UserHelpers.ButtonForClose("CloseDialogFun('CompSelectDiv')")
</div>
<!-- *************************************************************** 子查询画面END ******************************************************** -->
