@using App_UI.Resource.ClientMessage
@using App_UI.Resource.ViewText.Common
@using App_UI.Resource.ViewText.Produce
@{
    ViewBag.Title = "产品和订单进度查询";
}

@section head{
    <link rel="stylesheet" href="~/Content/css/Produce/FAScheduleBill.css" />
    <script src="~/Scripts/common/dialog.js"></script>
    <script>

        //格式化表格数组对
        var ProductNoMergeInfo = [];
        var totModul = 0;
        //产品型号总数
        var currentModel = "";
        //当前产品型号
        var tottleMaterialNum = 0;
        //产品所具有的物料总数

        //改变日期格式

        function changeDate(value) {
            var date;
            var strDt = (value + "").replace(/\/Date\(/, "").replace(/\)\//, "");
            if (isNaN(strDt)) {
                date = strDt.ToDate();
            } else {
                date = new Date(strDt.ToInt());
            }
            var str = date.Format("yyyy-MM-dd");
            return str;
        }


        //搜索功能
        var searchFun = function () {
            $("#searchForm").form("submit", {
                //form提交
                url: "/Produce/OrderRate/GetData",
                onSubmit: function (param) {
                    //除表单外的数据(分页)
                    //var pager = $("#tabOrderRate").datagrid("getPager");
                    //var pagerOptions = $(pager).pagination("options");
                    //param.rows = pagerOptions.pageSize;
                    //param.page = 1;
                },
                success: function (data) {
                    //加上圆括号的目的是迫使eval函数在处理JavaScript代码的时候强制将括号内的表达式（expression）转化为对象
                    var getData = eval('(' + data + ')');
                    //console.info(getData.gridData);
                    $("#tabOrderRate").treegrid("loadData", getData.gridData.Data); //重新加载数据   
                    if (isNullOrEmpty(getData.headerData.ClientOrderID) == false) {
                        $("#divClientOrderID").html(getData.headerData.ClientOrderID);
                    }
                    if (isNullOrEmpty(getData.headerData.PlanQuantity) == false) {
                        $("#divPlanQuantity").html(getData.headerData.PlanQuantity);
                    }
                    if (isNullOrEmpty(getData.headerData.DeliveryDate) == false) {
                        $("#divDeliveryDate").html(changeDate(getData.headerData.DeliveryDate));
                    }
                    $("#divAchieveRate").html(getData.headerData.AchieveRate + "%");
                    mergeCellsForTree();
                }
            });
        };

        //关闭当前标签
        var closeFun = function () {
            parent.closeTab();
        };

        /********************************************放大镜功能 开始************************************************/

        //打开“客户订单”对话框
        window.showOrderDlgFun = function (ele) {
            CommonDlgFun.ShowOrderDlg.call(ele, '#orderDlg');
        };

        //“客户订单”对话框“选择”按钮
        window.orderDlgOKFun = function () {
            var row = CommonDlgFun.GetSelectedOrder();
            if (!row) {
                $.messager.alert("@VT_Common.Tips", "@CM_Produce.CK40502002");
                return;
            }
            $("#orderDlg").dialog("close").data("currTarget").parent().prev().val(row["ClientOrderID"]);
            $("#TxtClientOrderID").blur();
        };
        /********************************************放大镜功能 结束************************************************/



        //合并同样产品型号的产品行,并对合并后显示的单元格添加鼠标切换显示事件

        function mergeCellsForTree() {
            //首行拉伸，插入事件
            for (var i = 0; i < ProductNoMergeInfo.length; i++) {
                if (ProductNoMergeInfo[i].MaterialNum == 0) continue;
                //合并
                //alert(ProductNoMergeInfo[i].ProductModel +"      "+ ProductNoMergeInfo[i].MaterialNum);
                $("." + ProductNoMergeInfo[i].ProductModel).parents("td").attr("rowspan", ProductNoMergeInfo[i].MaterialNum);
            }
            //隐藏其余行
            $(".be-merge-cell").closest("td").attr("style", "display:none;");
        };

        //校正物料子目录造成的rowcount偏差

        function correctMergeRows(data) {
            var i = 0;
            var intPeModulEnd = 0; //每种产品物料的结束下标
            var currentFatherID = 0; //当前物料行所属的父结点
            for (j = 0; j < ProductNoMergeInfo.length; j++) {
                intPeModulEnd = intPeModulEnd + ProductNoMergeInfo[j].MaterialNum;
                for (; i < intPeModulEnd; i++) {
                    if (data[i]._parentId != 0) { //如果父结点不是根结点
                        if (data[i]._parentId != currentFatherID) { //且其与上个结点的父结点不同
                            currentFatherID = data[i]._parentId;
                        } else {
                            ProductNoMergeInfo[j].MaterialNum = ProductNoMergeInfo[j].MaterialNum - 1;
                        }
                    };
                };
            };
        };


        //treeGrid的表头
        var createColumnForTreeGrid = function () {
            var _columns = [
                [
                    { field: '', title: "@VT_OrderRate.ClientOrderID:", width: 100 },
                    { field: '', title: "<div id='divClientOrderID'>&nbsp;</div>" },
                    { field: '', title: "@VT_OrderRate.PlanQuantity:", width: 100 },
                    { field: '', title: "<div id='divPlanQuantity'>&nbsp;</div>" },

                    { field: '', title: "@VT_OrderRate.DeliveryDate:", width: 100 },
                    { field: '', title: "<div id='divDeliveryDate'>&nbsp;</div>", width: 200 },
                    { field: '', title: "@VT_OrderRate.AchieveRate:", width: 300 },
                    { field: '', title: "<div id='divAchieveRate'>&nbsp;</div>", width: 200 },

                    { field: '', title: "<div>&nbsp;</div>", width: 100, colspan: 6 }
                ],
                [
                    {
                        field: "ProductType",
                        title: "@VT_OrderRate.ProductType",
                        rowspan: 2,
                        width: 100,
                        align: 'center',
                        formatter: function (val, row, index) {
                            //新产品
                            if (val != currentModel) {
                                totModul = totModul + 1; //新产品计数
                                //1.将本产品加入数组中
                                var modelInfo = { "ProductModel": val, "MaterialNum": 1 };
                                //alert("insert  " + modelInfo.ProductModel + "  " + modelInfo.MaterialNum);
                                ProductNoMergeInfo.push(modelInfo);

                                //2.初始化本产品数据
                                currentModel = val;
                                tottleMaterialNum = 1;
                                return "<span class='" + val + "'>" + val + "</span>";
                            }

                            tottleMaterialNum = tottleMaterialNum + 1;
                            ProductNoMergeInfo[totModul - 1].MaterialNum = tottleMaterialNum; //更新产品所具有的物料类数
                            return "<span class='be-merge-cell'>" + val + "</span>";
                        }
                    },
                    { field: "MaterialName", title: "@VT_OrderRate.MaterialName", rowspan: 2, width: 210, halign: 'center' },
                    { field: "PlanNeedNumber", title: "@VT_OrderRate.PlanNeedNumber", rowspan: 2, width: 100, align: 'right', halign: 'center' },
                    { field: "TotalLockNumber", title: "@VT_OrderRate.TotalLockNumber", rowspan: 2, width: 100, align: 'right', halign: 'center' },
                    { field: '', title: "@VT_OrderRate.ActualNumberNeed" },
                    { field: '', title: "@VT_OrderRate.PlannedDate", colspan: 2, width: 200 },
                    { field: '', title: "@VT_OrderRate.SinceProcess", colspan: 2, width: 200 },
                    { field: '', title: "@VT_OrderRate.Purchase", colspan: 2, width: 200 },
                    { field: '', title: "@VT_OrderRate.Association", colspan: 2, width: 200 },
                    {
                        field: "MaterialAchieveRate",
                        title: "@VT_OrderRate.MaterialAchieveRate",
                        rowspan: 2,
                        width: 100,
                        formatter: function (val, row, index) {
                            return val + "%";
                        }
                        , halign: 'center'
                    }
                ],
                [
                    { field: "PurchaseQuantity", title: "@VT_OrderRate.PurchaseQuantity", width: 120, align: 'right', halign: 'center' },
                    {
                        field: "StartDate",
                        title: "@VT_OrderRate.StartDate",
                        width: 100,
                        formatter: function (val, row, index) {
                            return changeDate(val);
                        }
                        , halign: 'center'
                    },
                    {
                        field: "EndDate",
                        title: "@VT_OrderRate.EndDate",
                        width: 100,
                        formatter: function (val, row, index) {
                            return changeDate(val);
                        }
                        , halign: 'center'
                    },
                    { field: "STP_Num", title: "@VT_OrderRate.Number", width: 100, align: 'right', halign: 'center' },
                    {
                        field: "STP_AchieveRate",
                        title: "@VT_OrderRate.AchieveRate",
                        width: 100,
                        formatter: function (val, row, index) {
                            return val + "%";
                        }
                        , halign: 'center'
                    },
                    { field: "OutSource_Num", title: "@VT_OrderRate.Number", width: 100, align: 'right', halign: 'center' },
                    {
                        field: "OutSource_AchieveRate",
                        title: "@VT_OrderRate.AchieveRate",
                        width: 100,
                        formatter: function (val, row, index) {
                            return val + "%";
                        }
                        , halign: 'center'
                    },
                    { field: "Association_Num", title: "@VT_OrderRate.Number", width: 100, align: 'right', halign: 'center' },
                    {
                        field: "Association_AchieveRate",
                        title: "@VT_OrderRate.AchieveRate",
                        width: 100,
                        formatter: function (val, row, index) {
                            return (val) + "%";
                        }
                        , halign: 'center'
                    }
                ]
            ];
            return _columns;
        };


        $(function () {
            $("#tabOrderRate").treegrid({
                idField: 'id',
                treeField: 'MaterialName',
                animate: true,
                showFooter: false,//是否显示页脚
                collapsible: false,
                url: "",
                width: 1000,
                height: 395,
                columns: createColumnForTreeGrid(),
                //格式化数据
                loadFilter: function (data, parentId) {
                    var d = {};
                    d.rows = data.rows ? data.rows : data;
                    return data;
                },
                //修改后
                onAfterEdit: function (row, changes) {
                },
                onLoadSuccess: function (row, data) {
                    //correctMergeRows(data);
                    mergeCellsForTree();
                }
            });
            ////加载数据
            //$("#tabOrderRate").treegrid("loadData", _data);
            ////校正二级子结点带来的行数偏差
            ////gridData = _data;
            //correctMergeRows(_data);
            ////格式化
            //mergeCellsForTree();

            //按钮事件绑定
            $("#btnSearch").bind('click', searchFun);
            $("#btnClose").bind('click', closeFun);
            $("#btnPrint").bind('click', function () { self.print(); });

            $('#TxtProductID').combobox({
                url: '',
                valueField: 'ProductIdCOD',
                textField: 'ProdAbbrev',
                panelHeight: "auto",
                editable: false
            });

            $("#TxtClientOrderID").blur(function () {
                $('#TxtProductID').combobox({
                    url: "/Produce/OrderRate/GetProduceType?clientOrderID=" + $("#TxtClientOrderID").val(),
                    valueField: 'ProductIdCOD',
                    textField: 'ProdAbbrev',
                    panelHeight: "auto",
                    editable: false,
                    onLoadSuccess: function () {
                        if ('@ViewBag.clientOrderID' != "") {
                            var date = $('#TxtProductID').combobox('getData');
                            //console.info(date);
                            var inDate = "@ViewBag.productID" + "," + "@ViewBag.clientOrderDetail";
                            //console.info(inDate);
                            var i = 0;
                            //查找匹配的数据，并在下拉列表中选中并进行搜索，如果下拉列表中不存在则进行提示
                            for (; i < date.length; i++) {
                                //console.info(date[i].ProductIdCOD);
                                if (date[i].ProductIdCOD == inDate) {
                                    $('#TxtProductID').combobox('select', inDate);
                                    searchFun();
                                    break;
                                }
                            }
                            if (i == date.length) {
                                $.messager.alert("@VT_Common.Info", "@CM_Produce.MSG40601001");
                            }
                        }
                    }
                });
            });

            if ('@ViewBag.clientOrderID' != "") {
                $("#TxtClientOrderID").val('@ViewBag.clientOrderID');
                $("#TxtClientOrderID").blur();
            }

        });

    </script>
}
<div class="buttons noprint" style="width: 100%; text-align: right;">
    @UserHelpers.ButtonForPrint("", "btnPrint")
    @UserHelpers.ButtonForClose("", "btnClose")
    <span style="width: 100px; margin-right: 10%">&nbsp;</span>
</div>

@UserHelpers.Line()

@UserHelpers.Title(VT_OrderRate.IIndexTitle)
<br />

<div style="width: 100%; text-align: center;" class="noprint">
    <div id="toolbar" style="width: 600px; margin: auto;">
        <form id="searchForm" method="post" class="Search_Form">
            <div class="table">
                <div class="row">
                    <div>@VT_OrderRate.ClientOrderID：</div>
                    <div>
                         @UserHelpers.InputReadOnly("TxtClientOrderID", "showOrderDlgFun(this)", "20")
                    </div>
                    <div>@VT_OrderRate.ProductType：</div>
                    <div>
                        @UserHelpers.SelectSimple("TxtProductID")
                    </div>
                    <div>
                        @UserHelpers.ButtonForSearch("", "btnSearch")
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="datagrid" style="text-align: center; width: 100%;">
    <table id="tabOrderRate"></table>
</div>

<!-- Dialog -->
@*客户订单号dialog相关*@
<div>
    <div id="orderDlg" data-options="buttons:'#orderDlgBtns'"></div>
</div>
<div id="orderDlgBtns" style="display: none;">
    @UserHelpers.ButtonForChoose("orderDlgOKFun();")
    @UserHelpers.ButtonForClose("$('#orderDlg').dialog('close');")
</div>

