@using Model;
@model IDictionary<string, Object>
@{
    ViewBag.Title = "NormalInStore";
}

<script>
    var table = "#AbnormalStoreTable";
    var clientOrderID = "@ViewBag.condition.ClientOrderID";//订单号
    var orderDetail = "@ViewBag.condition.OrderDetail";//订单详细

    var Columns = function () {
        var _columns =
          [[
              { field: 'OriginFlag', title: '来源标记', width: 0, hidden: true },
              { field: 'WhID', title: '仓库编号', width: 0, hidden: true },
              { field: 'ClientOrderID', title: '订单编号', width: 0, hidden: true },
              { field: 'OrderDetail', title: '订单详细', width: 0, hidden: true },
              { field: 'ProductID', title: '产品ID', width: 0, hidden: true },
              { field: 'MaterialID', title: '零件ID', width: 0, hidden: true },
              
              { field: 'BthID', title: '批次号', width: 150 },
              { field: 'TotAvailable', title: '库存数量', width: 80 },
              { field: 'Specification', title: '原因', width: 260 },
              { field: 'OrderQuantity', title: '使用量', width: 100, editor: 'text' },
              { field: 'Ck', title: '选择',checkbox:true, width: 50 }
              
          ]]
        return _columns;
    };

    $(function () {
        //var _data = Data();
        $(table).datagrid({
            columns: Columns(),
            url: "/Produce/ProductScheduling/GetAbnormalMixBatch?ClientOrderID= @ViewBag.condition.ClientOrderID &&OrderDetail= @ViewBag.condition.OrderDetail &&MaterialID=@ViewBag.condition.MaterialID &&Specification= @ViewBag.condition.Specification&&WarehouseID=@ViewBag.condition.WarehouseID",
            loadFilter: function (data) {
               // _data = data;
                return data;//梁龙飞：表格返回的数据一步到位，rows:封装在controller中
            },
            onCheck: function (rowIndex, rowData) {
                $(this).datagrid("beginEdit", rowIndex);
            },
            onCheckAll: function (rows) {
                for (var i = 0; i < rows.length; i++) {
                    $(this).datagrid("beginEdit", i);
                }
            },
            onUncheck: function (rowIndex, rowData) {
                $(this).datagrid("cancelEdit", rowIndex);
                
            },
            onUncheckAll: function (rows) {
                for (var i = 0; i < rows.length; i++) {
                    $(this).datagrid("cancelEdit", i);
                }
            },
            onLoadSuccess: function (data) {
                if (data == null) {
                    alert("没有数据");
                    return;
                }
            },
            Width: 640
            });        
    });
</script>    


<table id="AbnormalStoreTable" style="margin:0px;padding:0px;"> </table>