@using App_UI.Resource.ViewText.Common
@using App_UI.Resource.ViewText.Purchase
@using Model

<link rel="stylesheet" href="~/Content/css/Admin/userInfo.css" />
<script type="text/javascript" src="~/Scripts/common/dialog.js"></script>
<script type="text/javascript" src="~/Scripts/purchase/DeliveryOrder.js"></script>

<div class="buttons" style="width:97%;text-align:right;">
    @UserHelpers.ButtonForSave("saveCreate()")
    @UserHelpers.ButtonForClose("parent.closeTab(gTitle)")  
</div>

<!--分割线-->
@UserHelpers.Line()
 
<div style="text-align:center;font-size:20px;">
    <!-- 页面标题 -->
    @UserHelpers.Title(@VT_DeliveryOrder.EditTitle)
</div><br />

<!-- 隐藏项 -->
    <input type="hidden" id="paramDeliveryOrderNo" value="@ViewBag.DELI_ODR_ID" />

<!-- 搜索块 -->
<div style="width:100%;text-align:center;margin-bottom:15px;">
    <div style="width:95%;margin:auto;text-align:left;">
        <form id="processForm" method ="post" class="Search_Form">  
            <table class="table_search" style="text-align:left">
                <tr>
                    <td>@VT_DeliveryOrder.OrderNo：</td>
                    <td >
                        @UserHelpers.Input("OrderNo") @UserHelpers.ButtonForImport("importInfo()")
                    </td>
                    <td/><td/><td/><td/><td/><td/>
                </tr>    
                <tr>
                    <td>@VT_DeliveryOrder.RecCompanyID：</td>
                    <td colspan="3">@VT_DeliveryOrder.RecCompanyName</td>
                    <td>@VT_DeliveryOrder.DDate：</td>
                    <td colspan="3">
                        @UserHelpers.TimeInput("DeliveryDate", "DeliveryDate", @ViewBag.NowTime)
                    </td>
                </tr>   
                <tr>    
                   <td>@VT_DeliveryOrder.DCompanyID：</td>
                   <td colspan="3">
                       @ViewBag.DeliveryCompany
                       <input type="hidden" id="DeliveryCompanyID" name="DeliveryCompanyID"/>
                   </td>
                   <td style ="padding-left :20px">@VT_DeliveryOrder.DUID：</td>
                   <td>
                       @UserHelpers.InputSimple("DeliveryMan")
                   </td>
                   <td style ="padding-left :20px">@VT_DeliveryOrder.TelNo：</td>
                   <td>
                       @UserHelpers.InputSimple("TelNo")
                   </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div class="datagrid" style="text-align:center;width:100%;">
    <table id="DeliveryOrderTable" ></table>
</div>


<!-- *************************************************************** 子查询画面START ******************************************************** -->
<!-- 供货商选择对话框 -->
<div class="easyui-dialog" id="DeliSelectDiv" closed="true" data-options="buttons:'#companySelect',modal:true"></div>
<div id="companySelect">
    @UserHelpers.ButtonForChoose("SelCompAndCloseDialogFun('DeliveryCompanyID', 'DeliveryCompanyName', '0', 'DeliSelectDiv')")
    @UserHelpers.ButtonForClose("CloseDialogFun('DeliSelectDiv')")
</div>
<!-- *************************************************************** 子查询画面END ******************************************************** -->