@{
    ViewBag.Title = "Index";
}
@using App_UI.Resource.ViewText.Store
<style>
#tablesearch {
        margin:auto;
       
        text-align:left;
    }
</style>
<!--上面的页面导航-->
<div class="buttons" style="width:100%;text-align:right;">
    <!--  打印预览 -->
    @UserHelpers.ButtonForPrintPreview("printFun()")
    <!--  关闭 -->
    @UserHelpers.ButtonForClose("parent.closeTab(gTitle)")
    <span style="width:100px;margin-right:10%">&nbsp;</span>
</div>
<!--分割线-->
@UserHelpers.Line()
<!--界面-->
<div style="width:100%;text-align:center;margin-bottom:10px;">
        @UserHelpers.Title(@VT_FinOutRecord.FinOutPrintTitle)
</div>

<div style="width:100%;text-align:center;margin-bottom:10px;">
    <div style="width:95%;margin:auto;text-align:left;">
        <form id="searchForm" method='post'>
            <table id="tablesearch">
            <tr>
                <td>@VT_FinOutRecord.FinInerFinOutID：</td>
                <td>
                    @UserHelpers.InputSimple("InerFinOutID",20)
                </td>
                <td style="padding-left: 20px">@VT_FinOutRecord.OutDate：</td>
                <td>
                    @UserHelpers.TimeInput("OutDate")
                </td>
                <td style="padding-left: 20px">@VT_FinOutRecord.PrintFlag：</td>
                <td><select id='PrintFlag' name='PrintFlag'>
                   <option value='' selected>@VT_FinOutRecord.All</option>
                   <option value='0'>@VT_FinOutRecord.UnPrint</option>
                   <option value='1'>@VT_FinOutRecord.Printed</option>
                </select></td>
                <td style="padding-left: 20px">
                    @UserHelpers.ButtonForSearch("searchFun()")
                </td>
            </tr>
            </table>
        </form>
    </div>
</div>

<div class="datagrid">
    <table id="finOutPrintTable"></table> 
</div>

@section head{
<link rel="stylesheet" href="~/Content/css/Store/DeliveryNote.css" /> 
   
<script>

    var table;  //显示数据的表的标志
    var form;  //搜索标志
    /***********operations start***************/

    //打印预览跳转  跳转到送货单界面
    var printFun = function () {
        var row = $(table).datagrid('getSelections');
        if (row.length > 0) {
            parent.addTab("打印预览", "/Store/FinOutRecord/FinOutPrintIndex?inerFinOutID=" + row[0].InerFinOutID + "&clientId=" + row[0].ClientOrderID
            + "&OPdtId=" + row[0].OrdPdtID + "&batchId=" + row[0].BatchID);
        }
        else
        {
            alert("请选择要打印数据！");
        }
        
    };

    //搜索功能
    var searchFun = function () {
        form.form("submit", {//form提交
            url: "/Store/FinOutPrint/Get",
            onSubmit: function (param) {//除表单外的数据(分页)
                var pager = table.datagrid("getPager");
                var pagerOptions = $(pager).pagination("options");
                param.rows = pagerOptions.pageSize;
                param.page = 1;
            },
            success: function (data) {
                table.datagrid("loadData", eval('(' + data + ')'));//重新加载数据
            }
        });
    };

    /***********operations end***************/

    //获得列属性
    var getColumns = function () {
        //列属性: field(字段名,非空) , title(列名) , width(默认80) , sortable(默认false) , editor(默认null) , formatter(默认-函数)
        var _columns = [[
            ["InerFinOutID", "内部成品送货单号", 150, true],
            //["ClientOrderID", "客户订单号", 150, true],
            ["OutDate", "出库日期", 120, false,{ type: "autoComplete", options: { model: "user" } }, function (value, row, index) {
                var date;
                var strDt = (value + "").replace(/\/Date\(/, "").replace(/\)\//, "");
                if (isNaN(strDt)) {
                    date = strDt.ToDate();
                } else {
                    date = new Date(strDt.ToInt());
                }
                var str = date.Format("yyyy-MM-dd");
                row.Addate = str;
                return str;
            }],
            ["WareHouseKpID", "仓管员", null, false],
            ["Remarks", "备注", 410, false]
            ["ClientOrderID", "", null, false] //隐藏项
        ]];

        return _columns;
    };

    $(function () {
        table = $("#finOutPrintTable");
        form = $("#searchForm");
        Common.Functions.createDataGrid({//创建datagrid,详细内容参见functions.js
            target: "#finOutPrintTable",//table容器,必须
            url: "/Store/FinOutPrint/Get",//获取数据的地址,必须
            columns: getColumns(),//列属性,必须
            checkbox: true,//是否显示checkbox
            maxWidth: 800,//最大宽度
            maxHeight: 300,//最大高度
            singleSelect: true,
            onLoadError: function () {
                alert("请求服务器失败，请刷新页面重试!");
            },
            onCreating: function (data) {//数据成功加载
                //do something... 
            },
            loadFilter: function (data) {
                var _data = {};
                _data.rows = isUndefined(data.rows) ? data : data.rows;
                _data.total = isUndefined(data.total) ? 5 : data.total;
                return _data;
            }
        });
        //隐藏 当前状态
        $('#finOutPrintTable').datagrid('hideColumn', 'ClientOrderID'); 
       
    });


</script>

}