@{
    ViewBag.Title = "Index";
}

@*<link rel="stylesheet" href="~/Content/css/Admin/OrderAccept.css" />   *@
<style>
    .datagrid > div {
        margin:auto;
    }
    .schedulingLink
    {
        color:blue;
    }
    .center
    {
        margin:auto;
    }
    .easyui-datebox
    {
        width:100px;
    }
</style>
<script>
    var i = 0;//测试用
    var table = "#Table";
    var searchForm = "#searchForm";
    /***********operations start***************/
   

    var searchFun = function () {
        $(searchForm).form("submit",
           {
               url: "/Produce/OrderScheduling/GetData",
               onSubmit: function (param) {//除表单外的数据(分页)
                   var pager = $(table).datagrid("getPager");
                   var pagerOptions = $(pager).pagination("options");
                   param.rows = pagerOptions.pageSize;
                   param.page = 1;
               },
               success: function (data) {
                   i = 0;
                   $(table).datagrid("loadData", eval('(' + data + ')'));//重新加载数据                 
               }
           }
           );
    };

    var printFun = function () {
        alert(i);
    };

    var closeFun = function () {
        parent.closeTab();
    };

    //进行排产
    var orderScheduling = function (clientOrderID, orderDetail) {
        parent.addTab("订单产品排产", "/Produce/ProductScheduling/index?clientOrderID=" + clientOrderID + "&&orderDetail=" + orderDetail);
    };
    /***********operations end***************/

    //获得列属性
    var x = 0;
    var getColumns = function () {
        //列属性: field(字段名,非空) , title(列名) , width(默认80) , sortable(默认false) , editor(默认null) , formatter(默认-函数)
        var _columns = [[
            ["ClientOrderID", "客户订单号", 180, true],
            ["ClientOrderDetail", "序号", 40, true],
            ["SalePersonName", "销售员", null, true],
            ["strDeliveryDateOfPlan", "计划交期", 120, false],
            ["ProductType", "产品型号", null,180, true],
            ["QuantityInPlan", "计划数", 120, false],
            ["strSchedulingState", "排产状态", null, false, false],
            //["strSchedulingLink", "排产", 120, false, null]
            ["strSchedulingLink", "排产", 120, false, null, function (value, row, index) {
                i = i + 1;
                if (value == "") { return value; }
                var htmlStr = "";
                htmlStr += ("<a href='#' class='schedulingLink' onclick=orderScheduling('" + row.ClientOrderID + "','" + row["ClientOrderDetail"] + "')> " + value + "</a>");
                return htmlStr;
            }]

        ]];
        return _columns;
    };

    $(function () {
        Common.Functions.createDataGrid({//创建datagrid,详细内容参见functions.js
            target: table,//table容器,必须
            url: "/Produce/OrderScheduling/GetData",//获取数据的地址,必须
            columns: getColumns(),//列属性,必须
            //idField: "UId",//标识字段
            checkbox: false,//是否显示checkbox
            maxWidth: 920,//最大宽度
            maxHeight: 300,//最大高度
            showFooter: true,
            singleSelect: true,
            onBeforeLoad: function (queryParams) {//可以添加一些额外参数,主要用于查询条件
                var arr = $(searchForm).serializeArray();
                $.each(arr, function () {
                    queryParams[this.name] = this.value;
                });
            },
            onLoadError: function () {
                alert("请求服务器失败，请刷新页面重试!");
            },
            onCreating: function (data) {//数据成功加载
                
                //do something...
            },
            loadFilter: function (data) {
                var _data = {};
                _data.rows = isUndefined(data.rows)?data:data.rows;
                _data.total = isUndefined(data.rows)?data:data.total;
                return _data;
            }
        });
        //排产事件
    });
   /*******************查询条件按钮事件********************************/
    //客户订单号
    var ClientOrderID_Menument = function () {
        alert(this);
    }
    //产品型号
    var ProductType_Menument = function () {
        alert(this);
    }
    //销售员
    var SalePersonName_Menument = function () {
        alert(this);
    }
</script>

<!--buttons-->
<div class="buttons" style="width:100%;text-align:right;">
   @* <a class="easyui-linkbutton" iconCls='icon-print' onclick='printFun();'>打印</a>*@
   @UserHelpers.ButtonForClose("closeFun()")
</div>
@UserHelpers.Line()
@UserHelpers.Title("订单排产")

<div style="width:100%;" class="center">
        <form id="searchForm" class="center Search_Form" method="post"  style="text-align:left">
             <table class="table_search center" style="text-align:left" >
                 <tr>
                     <td>客户订单号：</td><td>@UserHelpers.Input("ClientOrderID","ClientOrderID","ClientOrderID_Menument()","","","")@*<input id="ClientOrderID" class="" name="ClientOrderID" />*@</td>
                     <td>产品型号：</td><td>@UserHelpers.Input("ProductType","ProductType","ProductType_Menument()","","","")@*<input id="ProductType" class="" name="ProductType" />*@</td>
                     <td>计划交期：</td><td>@UserHelpers.TimeBeginInput("DeliveryDateFrom","DeliveryDateFrom","DeliveryDateFrom")@*<input  id="DeliveryDateFrom" class="easyui-datebox" name="DeliveryDateFrom"/>*@</td>
                     <td>~</td><td>@UserHelpers.TimeEndInput("DeliveryDateTo","DeliveryDateTo","DeliveryDateTo") @*<input  id="DeliveryDateTo" class="easyui-datebox" name="DeliveryDateTo"/>*@</td>
                 </tr>
                 <tr>
                     <td>销售员：</td><td>@UserHelpers.Input("SalePersonName","SalePersonName","SalePersonName_Menument()","","","")@*<input id="SalePersonName" class="" name="SalePersonName" />*@</td>
                     <td>排产状态：</td>
                     <td>
                         <select id="SchedulingState" name="SchedulingState">
                             <option value="0">全部</option>
                             <option value="2">未排产</option>
                             <option value="3">确认排产</option>
                             <option value="4">已排产</option>
                         </select>
                     </td>
                     <td>@UserHelpers.ButtonForSearch("searchFun()")</td>
                 </tr>
             </table>
        </form>
</div>

<div class="datagrid">
    <table id="Table"></table>
</div>




