@using App_UI.Resource.ClientMessage
@using App_UI.Resource.ViewText.Common
@using App_UI.Resource.ViewText.Produce
@using Model
@{
    ViewBag.Title = "生产计划总表";
}
@section head{
    <link rel="stylesheet" href="~/Content/css/Produce/ProducePlan.css" />

    <!--javascript-->
    <script>

        //查询
        var searchFun = function () {
            $("#searchProducePlanForm").form("submit", {
                //form提交
                url: "/Produce/ProducePlan/GetData",
                onSubmit: function (param) { //除表单外的数据(分页)
                    var pager = $("#tabProducePlan").datagrid("getPager");
                    var pagerOptions = $(pager).pagination("options");
                    param.rows = pagerOptions.pageSize;
                    param.page = 1;
                },
                success: function (data) {
                    $("#tabProducePlan").datagrid("loadData", eval('(' + data + ')')); //重新加载数据
                }
            });
            //$(table).datagrid("load");
        };

        //清空
        var clearFun = function () {
            $("#txtClientOrderID").val("");
            $("#txtSaleName").val("");
            $(":input[name='txtSaleId']").val("");
            $("#txtProductType").val("");
            $("#txtProduceState").val("");
            $("#txtDelvyStartDate").datebox('setValue', "");
            $("#txtDelvyEndDate").datebox('setValue', "");
        };

        //打印
        var printFun = function () {
        };

        //关闭
        var closeFun = function () {
            parent.closeTab();
        };

        //改变日期格式

        function changeDate(value) {
            var date;
            var strDt = (value + "").replace(/\/Date\(/, "").replace(/\)\//, "");
            if (isNaN(strDt)) {
                date = strDt.ToDate();
            } else {
                date = new Date(strDt.ToInt());
            }
            var str = date.Format("yyyy-MM-dd");
            return str;
        }


        /***********放大镜功能 开始***************/

        //产品型号(即产品略称)
        ShowProductTypeFun = function () {
            $("#dlgProductTypDiv").dialog({
                buttons: "#btnCOID",
                cache: false,
                height: 450,
                href: "/Technology/ProdInfo/ShowProdInfoDialog?singleSelect=true",
                modal: true,
                width: 900,
                title: "<span style=\" font-family:Tahoma,Verdana,微软雅黑,新宋体;font-size:16px;margin:0px;padding:0px; \">产品信息一览</span>"
            });
            $("#dlgProductTypDiv").dialog("open");
            $("#dlgProductTypDiv").dialog("move", { top: $(document).scrollTop() + ($(window).height() - 250) * 0.5 });
        };
        window.showOrderDlgFun = function (ele) {
            CommonDlgFun.ShowOrderDlg.call(ele, '#orderDlg');
        };

        //“客户订单”对话框“选择”按钮
        window.orderDlgOKFun = function () {
            var row = CommonDlgFun.GetSelectedOrder();
            if (!row) {
                $.messager.alert("@VT_Common.Tips", "@CM_Produce.CK40502002");
                        return;
                    }
                    $("#orderDlg").dialog("close").data("currTarget").parent().prev().val(row["ClientOrderID"]);

                };

        //添加产品型号(即产品略称)
        AddProductTypeFun = function () {
            //遍历弹出框中所选择的记录
            for (var i = 0; i < $("#ProdInfoDialogTable").datagrid("getSelections").length; i++) {
                $("#txtProductType").val($("#ProdInfoDialogTable").datagrid("getSelections")[i]["ProductAbbreviation"]); //设置隐藏输入框 ClientID 值
            }
            CloseDialogFun(1); //关闭弹出框
        };

        CloseDialogFun = function (paraDialogNO) {
            if (paraDialogNO == "1") {
                $("#dlgProductTypDiv").dialog("close");
            }
        };

        /***********放大镜功能 结束***************/

        //获得列属性
        var getColumns = function () {
            //列属性: field(字段名,非空) ,title(列名) ,width(默认80) ,sortable(默认false) ,editor(默认null) ,formatter(默认-函数)
            var _columns =
            [
                [
                    //第一行
                //["field","title",width,rowspan,colspan,sortable,editor,formatter(v,r,index){}]
                    ["ClientOrderID", "@VT_ProducePlan.ClientOrderID", 130, 2, null, true, null, function (value, row, index) { return "<a href=\"#\" class=\"operator\">" + value + "</a>"; }],
                    ["SaleName", "@VT_ProducePlan.SaleName", 100, 2, null, true],
                    ["DeliveryDate", "@VT_ProducePlan.DelvyStartDate", 100, 2, null, true, null, function (value, row, index) { return changeDate(value); }],
                    ["ProdAbbrev", "@VT_ProducePlan.ProductType", 100, 2, null, true],
                    ["PlanQTY", "@VT_ProducePlan.PlanQTY", 100, 2, null, true, null, function (value, row, index) { return "<div style=\"text-align:right;width='100%';\" >" + value + "</div>"; }],
                    [null, "@VT_ProducePlan.ProgressInfo", null, null, 5]
                ],
                [
                    //第二行
                //["field","title",width,rowspan,colspan,sortable,editor,formatter(v,r,index){}]
                    ["QTYCompletion", "@VT_ProducePlan.QTYCompletion", 100, null, null, true, null, function (value, row, index) { return "<div style=\"text-align:right;width='100%';\" >" + value + "</div>"; }],
                    ["QTYUncompletion", "@VT_ProducePlan.QTYUncompletion", 100, null, null, true, null, function (value, row, index) { return "<div style=\"text-align:right;width='100%';\" >" + value + "</div>"; }],
                    ["AchievementRate", "@VT_ProducePlan.AchievementRate", 100, null, null, true, null, function (value, row, index) { return "<div style=\"text-align:left;width='100%';\" >" + value  + "%" + "</div>"; }],
                    //["SchedulingState", "排产状态", 100, null, null, true, null, function (value, row, index) { return "<a href=\"#\" class=\"operator\">" + value + "</a>"; }],
                    ["ProduceState", "@VT_ProducePlan.ProduceState", 150, null, null, true, null, function (value, row, index) { return "<a href=\"#\" class=\"operator\">" + value+ "</a>"; }],
                    ["ScheduleInfo", "@VT_ProducePlan.ScheduleInfo", 100, null, null, true, null, function (value, row, index) {

                        return "<a href=\"/Produce/OrderRate/Index?ClientOrderID=" + row.ClientOrderID + "&ClientOrderDetail=" + row.ClientOrderDetail + "&productID=" + row.ProductID + "\" class=\"operator\">" + "详细..." + "</a>";
                    }]
                ]
            ];
            return _columns;
        };


        //绑定
        $(function () {
            //table = $(table);
            //form = $(form);
            Common.Functions.createDataGrid({
                //创建datagrid,详细内容参见functions.js
                target: $("#tabProducePlan"),//table容器,必须
                url: "/Produce/ProducePlan/GetData",//获取数据的地址,必须
                columns: getColumns(),//列属性,必须
                idField: "ClientOrderID",//标识字段
                checkbox: false,//是否显示checkbox
                maxWidth: 900,//最大宽度
                maxHeight: 300,//最大高度
                singleSelect: true,
                onBeforeLoad: function (queryParams) { //可以添加一些额外参数,主要用于查询条件
                    var arr = $("#searchProducePlanForm").serializeArray();
                    $.each(arr, function () {
                        queryParams[this.name] = this.value;
                    });
                },
                onLoadError: function () {
                    $.messager.alert("@VT_Common.Info", "@CM_Common.MSG0002");
                },
                onCreating: function (data) { //数据成功加载
                    //do something...
                }
            });
            //$("#showProducePlanTable").datagrid("loadData", getData());
        });

    </script>
}
<!--buttons-->
<div class="FunctionButton_Area">
    <span style="margin: 10px;">
        @*@UserHelpers.ButtonForPrint("printFun()", "btnPrint")*@
        @UserHelpers.ButtonForClose("closeFun()", "btnClose")
    </span>
</div>
<!--line-->
@UserHelpers.Line()
<!--content-->
<div style="text-align: center; width: 100%;">
    <h2>@VT_ProducePlan.ProductionPlan</h2>
</div>
<div style="text-align: center; width: 100%;">
    <div style="margin: auto; text-align: left; width: 80%;">
        <form id="searchProducePlanForm" class="Search_Form" method="post">
            <table style="text-align: left; width: 100%;">
                <tr>
                    <td>
                        <span class="searchspan">@VT_ProducePlan.ClientOrderID：</span>@UserHelpers.Input("txtClientOrderID", 20, 20, "showOrderDlgFun(this)")
                    </td>
                    <td>
                        <span class="searchspan">@VT_ProducePlan.SaleName：</span>@UserHelpers.AutoSearchUser("txtSaleId", "SaleName", "txtSaleName")
                    </td>
                    <td>
                        <span class="searchspan">@VT_ProducePlan.ProductType：</span>@UserHelpers.Input("txtProductType", 200, 200, "ShowProductTypeFun()")
                    </td>
                    <td><span class="searchspan">@VT_ProducePlan.ProduceState：</span>
                        @UserHelpers.Select(Constant.MasterSection.PRODUCE_PLAN_STATE, "txtProduceState", "txtProduceState")</td>
                </tr>
                <tr>
                    <td colspan="2"><span class="searchspan">@VT_ProducePlan.DelvyStartDate：</span>
                        @UserHelpers.TimeBeginInput("txtDelvyStartDate", "txtDelvyStartDate", "txtDelvyStartDate")
                        ~
                        @UserHelpers.TimeEndInput("txtDelvyEndDate", "txtDelvyEndDate", "txtDelvyEndDate")</td>
                    <td></td>
                    <td style="text-align: right">
                        @UserHelpers.ButtonForEmpty("clearFun()", "Clear")
                        @UserHelpers.ButtonForSearch("searchFun()", "Search")
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div class="datagrid">
    <table id="tabProducePlan">
    </table>
</div>

<!-- Dialog -->
<div id="dlgDiv">
    <div class="easyui-dialog" id="dlgProductTypDiv" closed="true">
        <div id="btnCOID">@UserHelpers.ButtonForAdd("AddProductTypeFun()")
            <span style="display: inline-block; margin: 0px; padding: 0px; width: 10px;"></span>
            @UserHelpers.ButtonForClose("CloseDialogFun(1)")
        </div>
    </div>
</div>
@*客户订单号dialog相关*@
<div>
    <div id="orderDlg" data-options="buttons:'#orderDlgBtns'"></div>
</div>
<div id="orderDlgBtns" style="display: none;">
    @UserHelpers.ButtonForChoose("orderDlgOKFun();")
    @UserHelpers.ButtonForClose("$('#orderDlg').dialog('close');")
</div>
