@model IEnumerable<Model.Notice>
@using JQueryUIHelpers;
@using System.Web.Security;

<div style="text-align: center; padding: 10px;">
    @using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "Main" }))
    {
        @Html.TextBox("keyword", Request["keyword"], new { size = 50 })
        
        @Html.JQueryUI().Button("搜索", ButtonElement.Button, ButtonType.Submit, null)
    }
</div>

<ul style="list-style-type: decimal-leading-zero">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
        <li>
            <h3>
                @Html.DisplayFor(modelItem => item.Title) </h3>
            <div>
                @Html.DisplayFor(modelItem => item.Info)
            </div>
            @Html.DisplayFor(modelItem => item.Aduser)
        </li>
        }
    }
</ul>
